﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <meta charset="UTF-8">
    <meta name="description" content="24h News - Broadcast News TV Channel & News Magazine Template">
    <meta name="author" content="Via-Theme">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Title  -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/news_template/img/favicon.png" type="image/x-icon" />

    <!-- fonts -->
    <link rel="stylesheet" href="~/admin_template/template/fonts/md-fonts/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin_template/template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/admin_template/template/libs/animate.css/animate.min.css">
    <!-- jquery-loading -->
    <link rel="stylesheet" href="~/admin_template/template/libs/jquery-loading/dist/jquery.loading.min.css">
    <!-- octadmin main style -->
    <link id="pageStyle" rel="stylesheet" href="~/admin_template/template/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- data table -->
    <link rel="stylesheet" href="~/admin_template/template/libs/tables-datatables/dist/datatables.min.css">

    <script src="~/admin_template/Theme/Template/js/date.format.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- summernote -->
    <link rel="stylesheet" href="~/admin_template/template/libs/editor-summernote/dist/summernote-lite.css">

    <style>
        img.a {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        .link {
            width: max-content;
            padding: 6px;
            text-decoration: underline;
            background-color: #f6bb42;
            color: black;
            border-radius: 1px;
        }
    </style>

    @RenderSection("style", required: false)
</head>

<body class="app sidebar-fixed aside-menu-off-canvas aside-menu-hidden header-fixed " style="background-image:url(../../Content/images/bgImg.jpg);">




    <header class="app-header navbar">

        <div class="hamburger hamburger--arrowalt-r navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto">
            <div class="hamburger-box">
                <div class="hamburger-inner">

                </div>
            </div>
        </div>

        <a class="navbar-brand" href="#" style="color: #00aced;">
            @*<strong>24 x 7 News</strong>*@
            <img src="~/images/mobilogo.png" alt="Site Logo" style="    max-width: 97%;padding-top: 0px;padding-bottom: 10px;margin-top: -26px;" />
        </a>

        <div class="hamburger hamburger--arrowalt-r navbar-toggler sidebar-toggler d-md-down-none mr-auto">
            <div class="hamburger-box">
                <div class="hamburger-inner">

                </div>
            </div>
        </div>


    </header>

    <div class="app-body">
        <div class="sidebar sidebar-dark" id="sidebar">
            <nav class="sidebar-nav" id="sidebar-nav-scroller">
                <ul class="nav">
                    @*<li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="mdi mdi-gauge"></i> Home
            </a>

            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Admin")" class="nav-link">
                        <i class="fa fa-plus" style="font-size:12px">  </i><span>  DashBoard</span>
                    </a>

                </li>
            </ul>
        </li>*@

                    <li class="nav-item nav-dropdown">
                        <a href="@Url.Action("Index", "Admin")" @*class="nav-link nav-dropdown"*@ class="nav-link nav-dropdown-toggle">
                            <i class="mdi mdi-gauge"></i><span>  OverView</span>
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Posts
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListDeletedPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Deleted</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Personality
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddPesonlatiyPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListPesonlatiyPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListDeletedPesonlatiyPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Deleted</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Study Materials
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddStudyMatPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListStudyMatPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListDeletedStudyMatPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Deleted</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Exam
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddExamPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListExamPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListDeletedExamPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Deleted</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Health & Wealth
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddHealthPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListHealthPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListDeletedHealthPost", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Deleted</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Editorial
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddEditorial", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("ListEditorial", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Video
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddVideo", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("ListVideo", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Published</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("ListDeletedVideo", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Deleted</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Adds
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("NewAdvertise", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  New Adds</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("ListAdvertise", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span> List Adds</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("RemoveAdds", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span> Deleted Adds </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Personality Development
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("PersonalityDevAdd", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add New</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("PersonalityDevList", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span> Manage</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="@Url.Action("RemoveAdds", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span> Deleted </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="@Url.Action("Index", "Admin")" @*class="nav-link nav-dropdown"*@ class="nav-link">
                            <i class="mdi mdi-gauge"></i><span>  Categories </span>
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Slide
                        </a>
                        <ul class="nav-dropdown-items">

                            @*<li class="nav-item">
                    <a href="@Url.Action("addSlideContent", "Admin")" class="nav-link">
                        <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ListSlide", "Admin")" class="nav-link">
                        <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                    </a>
                </li>*@
                            <li class="nav-item">
                                <a href="@Url.Action("ParallaxAdd", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ParallaxList", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Current Affairs
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddCategory", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListCategory", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Study Materials
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="@Url.Action("AddStudyMat", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListStudyMat", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Personality
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddPersonality", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListPersonality", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Health & Wealth
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddHealth", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListHealth", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> Exams
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("AddExam", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ListExam", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="mdi mdi-atom"></i> ST
                        </a>
                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="@Url.Action("insertST", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  Add  </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("listST", "Admin")" class="nav-link">
                                    <i class="fa fa-plus" style="font-size:12px"></i> <span>  View </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-lock"></i>
                                <span class="">Log off </span>
                            </a>
                        }
                    </li>

                </ul>
            </nav>
        </div>


        <main class="main">


            <div class="container">

                <div class="animated fadeIn">

                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="card card-accent-theme">
                                <div class="card-body">*@
                            <div>
                                @RenderBody()
                            </div>
                            @*</div>
                                </div>*@
                        </div>
                    </div>

                </div>

            </div>
        </main>
    </div>

    <footer class="app-footer" @*style="background-color: #00aced;"*@>
        <center>
            <p>
                Copyright ©
                <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script>
                <a href="http://sjsmag.com/">sjsmag</a>
            </p>
        </center>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {

        });
    </script>
    <script src="~/admin_template/template/libs/jquery/dist/jquery.min.js"></script>

    <script src="~/admin_template/template/libs/popper.js/dist/umd/popper.min.js"></script>

    <script src="~/admin_template/template/libs/Bootstrap/bootstrap.min.js"></script>

    <script src="~/admin_template/template/libs/PACE/pace.min.js"></script>

    <script src="~/admin_template/template/libs/chart.js/dist/Chart.min.js"></script>

    <script src="~/admin_template/template/libs/nicescroll/jquery.nicescroll.min.js"></script>

    <script src="~/admin_template/template/libs/jquery-knob/dist/jquery.knob.min.js"></script>

    <script src="~/admin_template/template/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <!-- jquery-loading -->
    <script src="~/admin_template/template/libs/jquery-loading/dist/jquery.loading.min.js"></script>
    <!-- octadmin Main Script -->
    <script src="~/admin_template/template/js/app.js"></script>

    <!-- dashboard-ecom script -->
    <script src="~/admin_template/template/js/dashboard-ecom-widgets.js"></script>

    <!-- datatable examples -->
    <script src="~/admin_template/template/js/table-datatable-example.js"></script>
    <!--datatables -->
    <script src="~/admin_template/template/libs/tables-datatables/dist/datatables.min.js"></script>

    <!--summernote -->
    <script src="~/admin_template/template/libs/editor-summernote/dist/summernote-lite.js"></script>

    <!-- summernote -example -->
    <script src="~/admin_template/template/js/editor-summernote-example.js"></script>

</body>

</html>
