﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="ಆನಂದದ ಜ್ಞಾನಕೆ ಆತ್ಮವಿಶ್ವಾಸದ  ಅಭ್ಯಾಸಕ್ಕೆ  ಅನುದಿನದ ಸಂಗಾತಿ ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ಸ್ಪರ್ಧಾತ್ಮಕ  ಜ್ಞಾನಕೆ,svadh jnaana sudha,svadh jnaana sudha,svadh jnaana sudha,svadh jnaana sudha
          ವ್ಯಕ್ತಿತ್ವ  ಕುಶಲತೆಗೆ, ಸಾಮಾನ್ಯ  ಜ್ಞಾನಕೆ ಹಾಗು ನಿಮ್ಮ ಉದ್ಯೋಗ , ಅವ್ಕಾಶಗಳ ಮಾಹಿತಿಗೆ ನಿರಂತ್ರ ಜ್ಞಾನಧಾರೆ. ಸಮಗ್ರ  ಜ್ಞಾನ –  ಅಧ್ಯಯನ ಸಾಮಗ್ರಿ – ವ್ಯಕ್ತಿತ್ವ ವಿಕಸನ – ಅರೋಗ್ಯ  – ಉದ್ಯೋಗ –ಅವಕಾಶ  – ಸ್ಪರ್ಧೆ  – ಪರೀಕ್ಷಾಭ್ಯಾಸ ">

    <meta name="keywords" content="sjsmag,svadh jnaana sudha svadh jnaana sudha svadh jnaana sudha Shreeyaa,shreeya,study materials,IAS,KAS,Banking,ಪ್ರಚಲಿತ ಘಟನೆಗಳು, Current Affairs,Personality,Person,Svadh jnaana sudhas,
          js magazine,Svadh jnana sudha magzine,The taste of education,www.sjsmag.com,Online test,Kannada current affairs,Adhyana saamagri">

    <meta name="author" content="ShreeyaBlog">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Title  -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/shreey.ico" type="image/x-icon" />
    <link rel="icon" href="~/images/shreey.ico" type="image/x-icon">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto+Slab:300,400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/news_template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/news_template/css/main.css">
    <link rel="stylesheet" href="~/news_template/css/style.css">
    <link rel="stylesheet" href="~/news_template/css/colors.css">
    <link rel="stylesheet" href="~/news_template/css/responsive.css">
    <link rel="stylesheet" href="~/news_template/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/news_template/css/weather-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Shreeyaa">
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="fb:app_id" content="119767942222951">
    <meta property="og:url" content="@WebPageContext.Current.Page.Context.Request.Url.ToString()">
    @*<meta property="og:url" content="http://bd1news.digitalmis.org/share.php?title='@ViewBag.Title'&description='@ViewBag.Title'&image='@ViewBag.Image'">*@
    <meta property="og:type" content="website">
    <meta property="og:description" content="@ViewBag.Title">
    @*<meta property="og:image" content="@ViewBag.Image">*@
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="300">
    <meta property="article:author" content="Shreeyaa">
    <meta property="article:publisher" content="Shreeyaa">

    <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
</head>

<body oncut="return false;" oncopy="return false;" onpaste="return false;">

    <div id="pageloader">
        <div class="loader-item"> <img src="~/news_template/img/load.gif" alt='loader' /> </div>
    </div>

    <!--========== BEGIN #WRAPPER ==========-->
    <div id="wrapper" data-color="red">

        <!--========== BEGIN #HEADER ==========-->
        <header id="header">
            <div class="top-menu">
                <!-- Begin .container -->
                <div class="container">

                    <ul class="left-top-menu">
                        <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#" class="youtube"> <i class="fa fa-youtube"></i></a> </li>
                        <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                        <li class="address"><a href="#"><i class="fa fa-phone"></i>+91 9742229919</a></li>
                        <li class="address"><a href="#"><i class="fa fa-phone"></i>+080 43724427</a></li>
                        <li class="address"><a href="#"><i class="fa fa-envelope-o"></i> sjsmag2019@gmail.com</a></li>
                    </ul>

                    <ul class="right-top-menu pull-right">
                        @{
                            ShreeyaBlogEntities dbcontext2 = new ShreeyaBlogEntities();
                            if (User.Identity.Name == null)
                            {
                                <li class="about">
                                    <i class="fa fa-user fa-i"></i> @Html.ActionLink("Login", "Login", "Account")
                                    <a href="@Url.Action("Login", "Account")"><i class="fa fa-key"></i> Login</a>
                                </li>

                                <li class="contact">
                                    <a href="@Url.Action("Register", "Account")"><i class="fa fa-user fa-i"></i> Register</a>
                                </li>
                            }
                            else
                            {
                                var getUserID = (from pdata in dbcontext2.Profiles where pdata.UserName == User.Identity.Name.ToString() select pdata.ProfileID).FirstOrDefault();

                                string Username = User.Identity.Name;
                                if (Username.IsEmpty())
                                {
                                    <li class="about">
                                        <span class="">
                                            <i class="fa fa-user fa-i"></i> @Html.ActionLink("Login", "Login", "Account")
                                        </span>
                                    </li>
                                }
                                else
                                {
                                    <li class="about">
                                        <span class="">
                                            @Html.ActionLink(Username, "ViewProfile", "User", new { profileID = getUserID }, new { @class = "fa fa-user fa-i" })
                                        </span>
                                    </li>

                                    <li class="contact">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                                <i class="fa fa-lock"></i>
                                                <span class="">Log off </span>
                                            </a>
                                        }
                                    </li>
                                }
                            }
                        }
                        <li class="about">
                            <a href="@Url.Action("ContactUS", "Home")"><i class="fa fa-id-card-o"></i> Contact Us</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Careers", "Home")"><i class="fa fa-id-card-o"></i> Careers</a>
                        </li>
                    </ul>

                </div>
                <!-- End .container -->
            </div>
            <!-- Begin .container -->
            <div class="container">

                <div class="header-logo">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/images/NewLogo.jpg" />
                    </a>
                </div>

                <!-- Begin .header-add-place -->
                <div class="header-add-place">
                    <div class="desktop-add">
                        <a href="#" target="_blank">
                            @{ViewBag.Add = dbcontext2.Adds.Where(a => a.Active != false).OrderByDescending(d => d.CreatedDate).Select(i => i.Image).FirstOrDefault();}
                            <img src="~/Content/Uploads/Adds/@ViewBag.Add" alt="Advertise">
                        </a>
                    </div>
                </div>
                <!-- End .header-add-place -->

                <!--========== BEGIN .NAVBAR #MOBILE-NAV ==========-->
                <nav class="navbar navbar-default" id="mobile-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" id="sidenav-toggle">
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <div class="sidenav-header-logo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/images/mobilogo.png" alt="Site Logo" />
                            </a>
                        </div>
                    </div>

                    <div class="sidenav" data-sidenav data-sidenav-toggle="#sidenav-toggle">
                        <button type="button" class="navbar-toggle active" data-toggle="collapse">
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <div class="sidenav-brand">
                            <div class="sidenav-header-logo" style="background-image:url(../../../images/mobilogo.png)">
                            </div>
                        </div>
                        <ul class="sidenav-menu">
                            @{
                                ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();

                                var dynamicTabss = dbcontext.Categories.Where(s => s.ParentID == null && s.isActive == true).ToList();
                                ViewBag.tabss = dynamicTabss;

                                var dynamicStudyMat = dbcontext.StudyMaterials.Where(s => s.ParentID == null && s.isActive == true).OrderBy(a => a.StudyMaterialName).ToList();
                                ViewBag.dynamicStudyMat = dynamicStudyMat;

                                var dynaLearn = dbcontext.Learns.Where(s => s.ParentID == null && s.Active == true).ToList();
                                ViewBag.dynaLearn = dynaLearn;

                            }
                            @{
                                if (User.Identity.Name == null)
                                {
                                    <li class="about">
                                        <i class="fa fa-user fa-i"></i> @Html.ActionLink("Login", "Login", "Account")
                                        <a href="@Url.Action("Login", "Account")"><i class="fa fa-key"></i> Login</a>
                                    </li>

                                    <li class="contact">
                                        <a href="@Url.Action("Register", "Account")"><i class="fa fa-user fa-i"></i> Register</a>
                                    </li>
                                }
                                else
                                {
                                    var getUserID1 = (from pdata in dbcontext.Profiles where pdata.UserName == User.Identity.Name.ToString() select pdata.ProfileID).FirstOrDefault();

                                    string Username1 = User.Identity.Name;
                                    if (Username1.IsEmpty())
                                    {
                                        <li class="about">
                                            <span class="">
                                                <i class="fa fa-user fa-i"></i> @Html.ActionLink("Login", "Login", "Account")
                                            </span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="about">
                                            <span class="">
                                                @Html.ActionLink(Username1, "ViewProfile", "User", new { profileID = getUserID1 }, new { @class = "fa fa-user fa-i" })
                                            </span>
                                        </li>

                                        <li class="contact">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                                    <i class="fa fa-lock"></i>
                                                    <span class="">Log off </span>
                                                </a>
                                            }
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                            </li>

                            <li>
                                <a href="@Url.Action("AboutUs", "Home")"><i class="fa fa-home"></i> ನಮ್ಮ ಕುರಿತು</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th"></i> ಪ್ರಚಲಿತ ವಿದ್ಯಮಾನ</a>
                                <ul class="dropdown-menu">

                                    @foreach (var categorys in ViewBag.tabss)
                                    {
                                        <li>
                                            @{
                                                int catid = @categorys.CategoryId;
                                                string catName = categorys.CategoryName;
                                            }

                                            <a href="@Url.Action("Category", "User", new { catID = @categorys.CategoryId })">
                                                @categorys.CategoryName
                                            </a>

                                            <ul class="">
                                                <li style="width: 166px;">
                                                    @if (catid != 0)
                                                    {
                                                        var dynamicSubTabss = dbcontext.Categories.Where(s => s.isActive == true && s.ParentID == catid).ToList();
                                                        ViewBag.Subtabss = dynamicSubTabss;
                                                    }
                                                    @foreach (var dropdownss in ViewBag.Subtabss)
                                                    {
                                                        <a href="@Url.Action("Category", "User", new { catID = dropdownss.CategoryId })" style="color:black;">
                                                            @dropdownss.CategoryName
                                                        </a>
                                                    }
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th"></i> ಅಧ್ಯಯನ  ಸಾಮಗ್ರಿ</a>
                                <ul class="dropdown-menu">

                                    @foreach (var study in ViewBag.dynamicStudyMat)
                                    {
                                        <li>
                                            @{
                                                int sID = @study.StudyID;
                                                string sName = @study.StudyMaterialName;
                                            }
                                            <a href="@Url.Action("StudyMaterials", "User", new { _subID = @study.StudyID  })">
                                                @study.StudyMaterialName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li>
                                <a href="@Url.Action("ScienceTechnology", "User")"><i class="fa fa-th"></i> ವಿಜ್ಞಾನ-ವಿಸ್ಮಯ  </a>
                            </li>

                            <li>
                                <a href="@Url.Action("TalentPlatform", "User")"><i class="fa fa-th"></i> ಪ್ರತಿಭಾ ವೇದಿಕೆ  </a>
                            </li>

                            <li class="dropdown">
                                <a href="@Url.Action("PersonPersonality", "User")"><i class="fa fa-th"></i> ವ್ಯಕ್ತಿ ವ್ಯಕ್ತಿತ್ವ   </a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th"></i> ಹೆಚ್ಚು ಕಲಿ</a>
                                <ul class="dropdown-menu">
                                    @foreach (var learn in ViewBag.dynaLearn)
                                    {
                                        <li>
                                            @{
                                                int LID = learn.ID;
                                                string LName = learn.Name;
                                            }
                                            <a href="@Url.Action("LearnMore", "User", new { _categoryID = LID })">
                                                @LName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="dropdown">
                                @{
                                    var EID = dbcontext.Editorials.OrderByDescending(d => d.CreatedDate).Select(id => id.EditorialID).FirstOrDefault();
                                }
                                <a href="@Url.Action("Editorial", "User",new {editorialId=EID })"><i class="fa fa-th"></i> ಸ್ಪುರಣ  </a>
                            </li>

                            <li class="dropdown">
                                @{
                                    var PID = dbcontext.PersonalityDevlopments.OrderByDescending(d => d.CreatedDate).Select(id => id.PDID).FirstOrDefault();
                                }
                                <a href="@Url.Action("PersonalityDevelopmentSub", "User",new {_personalityID=PID })"><i class="fa fa-th"></i> ವ್ಯಕ್ತಿತ್ವ ವಿಕಸನ   </a>
                            </li>

                            <li class="dropdown">
                                <a href="@Url.Action("Notification", "User")"><i class="fa fa-th"></i> ಹೊಸ ಅವಕಾಶ  </a>
                            </li>


                            <li>
                                <a href="@Url.Action("OnlineTest", "Home")" target="_blank"><i class="fa fa-id-badge"></i> Online Test</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Careers", "Home")"><i class="fa fa-id-card-o"></i> Careers</a>
                            </li>

                            <li>
                                <a href="@Url.Action("ContactUS", "Home")"><i class="fa fa-id-card-o"></i> Contact Us</a>
                            </li>

                        </ul>
                    </div>
                </nav>
                <!--========== END .NAVBAR #MOBILE-NAV ==========-->
            </div>
            <!-- End .container -->
            <!--========== BEGIN .NAVBAR #FIXED-NAVBAR ==========-->
            <div class="navbar" id="fixed-navbar">
                <!--========== BEGIN MAIN-MENU .NAVBAR-COLLAPSE COLLAPSE #FIXED-NAVBAR-TOOGLE ==========-->
                <div class="main-menu nav navbar-collapse collapse" id="fixed-navbar-toggle" style="background-color: #3b9ff6;">
                    <!--========== BEGIN .CONTAINER ==========-->
                    <div class="container">

                        <!-- Begin .nav navbar-nav -->
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("Index", "User")"><i class="fa fa-home"></i> Home</a>
                            </li>

                            <li>
                                <a href="@Url.Action("AboutUs", "Home")"><i class="fa fa-home"></i> ನಮ್ಮ ಕುರಿತು</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home"></i> ಪ್ರಚಲಿತ ವಿದ್ಯಮಾನ</a>
                                <ul class="dropdown-menu">
                                    @foreach (var categorys in ViewBag.tabss)
                                    {
                                        <li>
                                            @{
                                                int catid = @categorys.CategoryId;
                                                string catName = categorys.CategoryName;
                                            }

                                            <a href="@Url.Action("Category", "User", new { catID = @categorys.CategoryId })">
                                                @categorys.CategoryName
                                            </a>

                                            <ul class="">
                                                <li style="width: 100px;">
                                                    @if (catid != 0)
                                                    {
                                                        var dynamicSubTabss = dbcontext.Categories.Where(s => s.isActive == true && s.ParentID == catid).ToList();
                                                        ViewBag.Subtabss = dynamicSubTabss;
                                                    }
                                                    @foreach (var dropdownss in ViewBag.Subtabss)
                                                    {
                                                        <a href="@Url.Action("Category", "User", new { catID = dropdownss.CategoryId })">
                                                            @dropdownss.CategoryName
                                                        </a>
                                                    }
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home"></i> ಅಧ್ಯಯನ  ಸಾಮಗ್ರಿ </a>
                                <ul class="dropdown-menu">
                                    @foreach (var study in ViewBag.dynamicStudyMat)
                                    {
                                        <li>
                                            @{
                                                int sID = @study.StudyID;
                                                string sName = @study.StudyMaterialName;
                                            }
                                            <a href="@Url.Action("StudyMaterials", "User", new { _subID = @study.StudyID  })">
                                                @study.StudyMaterialName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li>
                                <a href="@Url.Action("ScienceTechnology", "User")"><i class="fa fa-home"></i> ವಿಜ್ಞಾನ-ವಿಸ್ಮಯ </a>
                            </li>

                            <li>
                                <a href="@Url.Action("TalentPlatform", "User")"><i class="fa fa-home"></i> ಪ್ರತಿಭಾ ವೇದಿಕೆ  </a>
                            </li>

                            <li class="dropdown">
                                <a href="@Url.Action("PersonPersonality", "User")"><i class="fa fa-th"></i> ವ್ಯಕ್ತಿ ವ್ಯಕ್ತಿತ್ವ   </a>

                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home"></i> ಹೆಚ್ಚು ಕಲಿ </a>
                                <ul class="dropdown-menu">
                                    @foreach (var learn in ViewBag.dynaLearn)
                                    {
                                        <li>
                                            @{
                                                int LID = learn.ID;
                                                string LName = learn.Name;
                                            }
                                            <a href="@Url.Action("LearnMore", "User", new { _categoryID = LID })">
                                                @LName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li>
                                <a href="@Url.Action("OnlineTest", "Home")" target="_blank"><i class="fa fa-th"></i> Online Test</a>
                            </li>

                        </ul>
                        <!--========== END .NAV NAVBAR-NAV ==========-->

                    </div>
                    <!--========== END .CONTAINER ==========-->
                </div>
                <!--========== END MAIN-MENU .NAVBAR-COLLAPSE COLLAPSE #FIXED-NAVBAR-TOOGLE ==========-->
                <!--========== BEGIN .SECOND-MENU NAVBAR #NAV-BELOW-MAIN ==========-->
                <div class="second-menu navbar" id="nav-below-main">
                    <div class="container">
                        <!-- Begin .clock -->
                        <div class="clock">
                            <div id="time"></div>
                            <div id="date"></div>
                        </div>
                        <!-- End .clock -->
                    </div>
                </div>
                <!--========== END .SECOND-MENU NAVBAR #NAV-BELOW-MAIN ==========-->
            </div>
        </header>
        <!--========== END #HEADER ==========-->

        <div>
            <section id="main-section">
                @RenderBody()
            </section>
        </div>

        <!--========== BEGIN #FOOTER==========-->
        @*<footer id="footer"></footer>*@
        <!--========== END #FOOTER==========-->
        <!--========== BEGIN #COPYRIGHTS==========-->
        <div id="copyrights">
            <!-- Begin .container -->
            <div class="container">
                <!-- Begin .copyright -->
                <div class="copyright">
                    &copy; 2019 <a href="http://shlrtechnosoft.com/" class="text-theme" style="color:white;">SHLR Technosoft PVT Ltd</a>. All Rights Reserved
                </div>
                <!-- End .copyright -->
                <div class="footer-social-icons">
                    <ul>
                        <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                        <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> </li>
                    </ul>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!--========== END #COPYRIGHTS==========-->

    </div>
    <!--========== END #WRAPPER ==========-->
    <!-- External JavaScripts -->
    <script src="~/news_template/js/jquery-3.1.1.min.js"></script>
    <script src="~/news_template/js/bootstrap.min.js"></script>
    <script src="~/news_template/js/jquery-ui.min.js"></script>
    <script src="~/news_template/js/plugins.js"></script>
    <!-- JavaScripts -->
    <script src="~/news_template/js/functions.js"></script>
</body>
</html>
