﻿
@{
    ViewBag.Title = "AdminOnlineTest";
    Layout = "~/Views/Administrator/Shared/_SlideLayoutPage.cshtml";
}

<a href="@Url.Action("Index","Administrator")" style="float:right;" class="btn btn-default">
   <i class="fa fa-home"></i> Go To Home
</a>

<!--========== BEGIN.MODULE ==========-->
<section id="OnlineTest">
    <a href="https://onlinetest.shreeyaaedu.in/admin/Users/login_form" target="_blank"></a>
    @*<iframe src="http://onlinetest.shreeyaaedu.in/admin/Users/login_form" height="800" width="1250"></iframe>*@
</section>
<!--========== END.MODULE ==========-->
