﻿@model IEnumerable<ShreeyaBlog.Career>

@{
    ViewBag.Title = "CareerPostList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Career Post <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("CareerPost", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    Job Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @if (item.Active != true)
                        {
                            @Html.ActionLink("Activate", "CareerActivate", new { careerID = item.ID }, new { @class = "badge badge-boxed badge-success" })
                        }
                        else
                        {
                            @Html.ActionLink("DeActivate", "CareerActivate", new { careerID = item.ID }, new { @class = "badge badge-boxed badge-danger" })
                        }|
                        @Html.ActionLink("Delete", "CareerDelete", new { careerID = item.ID }, new { @class = "badge badge-boxed badge-warning" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




