﻿@model ShreeyaBlog.Post

@{
    ViewBag.Title = "CurrentAffairPost";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Current Affair Post <small> - Create</small></h2>

@using (Html.BeginForm("CurrentAffairPost", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Select Category", htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, "", new { @class = "form-control", @required = "required", id = "CategoryId" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*<div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "summernote" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.IsPublished, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPublished)
                            @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Upload Image")
                        <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-10">
                        <img src='@("/Content/Upload/Posts" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="submit" type="submit" value="Submit" onclick="display()" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<div>
    @Html.ActionLink("Back to List", "ListPost")
</div>
