﻿@model IEnumerable<ShreeyaBlog.Category>

@{
    ViewBag.Title = "CurrentAffairList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Current Affair <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("CurrentAffair", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayName("Parent Category")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isActive)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @{
                        try
                        {
                            var datap = dbcontext.Categories.Where(c => c.CategoryId == item.ParentID).FirstOrDefault();
                            <span> @datap.CategoryName</span>
                        }
                        catch (Exception ex)
                        {
                            <span> - </span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @if (item.isActive != true)
                    {
                        @Html.ActionLink("Activate", "CurrentAffairActivate", new { catID = item.CategoryId }, new { @class = "badge badge-boxed badge-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "CurrentAffairActivate", new { catID = item.CategoryId }, new { @class = "badge badge-boxed badge-danger" })
                    }|
                    @Html.ActionLink("Remove", "CurrentAffairDelete", new { catID = item.CategoryId }, new { @class = "badge badge-boxed badge-warning" }) |
                    @Html.ActionLink("Edit", "CurrentAffairEdit", new { catID = item.CategoryId }, new { @class = "badge badge-boxed badge-info" })
                </td>
            </tr>
        }

    </table>
</div>
