﻿@model ShreeyaBlog.Video

@{
    ViewBag.Title = "ShreeyaBlog - EditVideo";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Video</a>
    </li>
    <li class="breadcrumb-item active">Edit Video </li>
</ol>

@if (ViewBag.msg != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.msg");
        };
    </script>
}

@using (Html.BeginForm("EditVideo", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <iframe width="560" height="315" src="~/Content/Uploads/Videos/@ViewBag.VideoImgages" alt="video" class="img-thumbnail form-control" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                @*<img src="~/Content/Uploads/Videos/@ViewBag.VideoImgages" width="600" height="200" class="form-control" />*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Change Video")
                <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Video" class="form-control text-box single-line" accept="video/mp4" onchange="previewVideo(event)" />
                @*<input type="file" name="PhotoUpload" class="form-control" accept="image/*" onchange="previewImage(event)" />*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <iframe width="560" height="315" src='@("/Content/Upload/Videos" + 12 + "/photo")' alt="video" id="instrumentVideo" class="img-thumbnail form-control" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                @*<img src='@("/Content/Upload/Posts" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />*@
            </div>
        </div>


        <div class="row">
            <div class=" col-md-4" style="float:right;">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <a href="@Url.Action("ListVideo", "Administrator")" class="btn_a"><span>  Back to List </span> </a>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function previewVideo(event) {
        // Get a reference to the image element
        var video = document.querySelector("#instrumentVideo");
        // Set its source to the file in the <input type=file element
        video.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
