﻿@model IEnumerable<ShreeyaBlog.Greeting>

@{
    ViewBag.Title = "GreetingsList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}

@Html.Raw(TempData["msg"])

<h2 class="text-theme">Greeting <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Greetings", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @if (item.Active != true)
                    {
                        @Html.ActionLink("Activate", "GreetingsActivate", new { _greetID = item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("DeActivate", "GreetingsActivate", new { _greetID = item.ID })
                    }|
                    @Html.ActionLink("Delete", "GreetingsDelete", new { _greetID = item.ID })
                </td>
            </tr>
        }

    </table>
</div>