﻿@model IEnumerable<ShreeyaBlog.AdvertiseImage>

@{
    ViewBag.Title = "ImageList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}

@Html.Raw(TempData["msg"])

<h2 class="text-theme">Image <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("ImageAdd", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Image
                </th>
                <th>
                    Created Date
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddImgId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="~/Content/Uploads/Advertise/@item.Image" style="height:100px;width :200px;" class="form-control" />
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @if (item.Status != true)
                    {
                        @Html.ActionLink("Activate", "ImageActivate", new { ImgID = item.AddImgId })
                    }
                    else
                    {
                        @Html.ActionLink("DeActivate", "ImageActivate", new { ImgID = item.AddImgId })
                    }|
                    @Html.ActionLink("Delete", "ImageDelete", new { ImgID = item.AddImgId })
                </td>
            </tr>
        }

    </table>
</div>

