﻿@model ShreeyaBlog.Learn

@{
    ViewBag.Title = "Learn";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Learn More <small> - Add</small></h2>

@using (Html.BeginForm("Learn", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Parent Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ParentID, ViewBag.Categories as SelectList, "", new { @class = "form-control", @required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Upload Image")
                    <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    <img src='@("/Content/Upload/Posts" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" style="height: 200px;width: 200px;" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <script>
        function previewImage(event) {
            // Get a reference to the image element
            var image = document.querySelector("#instrumentImage");
            // Set its source to the file in the <input type=file element
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
