﻿@model ShreeyaBlog.LearnPost

@{
    ViewBag.Title = "LearnPostEdit";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Learn Post  <small> - Edit</small></h2>

@{
    ShreeyaBlogEntities db = new ShreeyaBlogEntities();
}

@using (Html.BeginForm("LearnPostEdit", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Select Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubID, ViewBag.LearnPost as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "summernote" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <img src="~/Content/Uploads/Learn/@Model.DefaultImage" width="600" height="200" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Change Image")
                <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <img src='@("/Content/Upload/Learn" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
            </div>
        </div>

        <div class="row">

            <div class=" col-md-4" style="float:right;">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <a href="@Url.Action("LearnPost", "Admin")" class="badge badge-boxed badge-success"><span>  Back to List </span> </a>
                </div>
            </div>

        </div>

    </div>
}

<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>