﻿@model IEnumerable<ShreeyaBlog.Learn>

@{
    ViewBag.Title = "LearnList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Learn More <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Learn", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("Parent Category")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        try
                        {
                            var datap = dbcontext.Learns.Where(c => c.ID == item.ParentID).FirstOrDefault();
                            <span> @datap.Name</span>
                        }
                        catch (Exception)
                        {
                            <span> - </span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @if (item.Active != true)
                    {
                        @Html.ActionLink("Activate", "LearnActivate", new { catID = item.ID }, new { @class = "badge badge-boxed badge-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "LearnActivate", new { catID = item.ID }, new { @class = "badge badge-boxed badge-danger" })
                    }
                    @Html.ActionLink("Remove", "LearnDelete", new { catID = item.ID }, new { @class = "badge badge-boxed badge-warning" }) 
                    @Html.ActionLink("Edit", "LearnEdit", new { catID = item.ID }, new { @class = "badge badge-boxed badge-info" })
                </td>
            </tr>
        }

    </table>
</div>
