﻿@model IEnumerable<ShreeyaBlog.Video>

@{
    ViewBag.Title = "ShreeyaBlog - ListVideo";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Video</a>
    </li>
    <li class="breadcrumb-item active">View VideoList</li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddVideo", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoPath)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ModifyDate)
                    </th>*@
                <th>
                    @Html.DisplayName("Actions")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*<iframe width="400" height="100" src="~/Content/Uploads/Videos/@item.VideoPath" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                <video src="~/Content/Uploads/Videos/@item.VideoPath"  controls="controls" type="video/mp4" width="179" height="120"></video>

                    @*@Html.DisplayFor(modelItem => item.DefaultVideo)*@
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsPublished)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>*@

                <td>
                    @Html.ActionLink("Edit", "EditVideo", new { videoID = item.ID }, new { @class = "btn_a" }) |
                    @Html.ActionLink("Details", "DetailsVideo", new { videoID = item.ID }, new { @class = "btn_b" }) |
                    @Html.ActionLink("Delete", "DeleteVideo", new { videoID = item.ID }, new { @class = "btn_c", onclick = "return confirm('Are you sure you want to delete this item?');" })
                </td>
            </tr>
        }

    </table>
</div>

@if (TempData["Msg"]  != null)
{
    <script type="text/javascript">
            alert('@TempData["Msg"]');
    </script>
}
