﻿@model ShreeyaBlog.Notification

@{
    ViewBag.Title = "NotificationPost";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Notification Post  <small> - Add</small></h2>

@using (Html.BeginForm("NotificationPost", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "summernote" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Upload File")
                <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-10">
                    <object data="~/Content/Uploads/Notification/@Model.Attachment" id="instrumentImage" type="application/pdf" width="750" height="300"></object>
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}
<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
