﻿@model ShreeyaBlog.Parallax

@{
    ViewBag.Title = "ParallaxAdd";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Slide <small> - Add</small></h2>

@using (Html.BeginForm("ParallaxAdd", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", CategoryID = "CategoryID", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Select Category")
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Home", Value = "Home" },
                    new SelectListItem{ Text="TalentPlatform", Value = "TalentPlatform" },
                 },
                 new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Upload Image")
                <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <img src='@("/Content/Upload/Posts" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };

</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>