﻿@model ShreeyaBlog.Parallax

@{
    ViewBag.Title = "ParallaxPreview";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Slide <small> - preview</small></h2>

<style>
    .landscape {
        height: 100%;
        width: 100%;
    }
</style>
<section class="module highlight">
    <div class="container">
        <div class="module-title">
            <h3 class="title"><span class="bg-1">Slide</span></h3>
            <h3 class="subtitle">PreView</h3>
        </div>

        <div class="form-group" style="float:right">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("ParallaxList", "Administrator")" class="btn btn-default">
                    <span> Back to List</span>
                </a>
            </div>
        </div>

        <div id="parallax-section">
            <!--========== BEGIN .CONTAINER ==========-->
            <div class="container">
                <img src="~/Content/Uploads/Parallax/@ViewBag.ParallaxImage" class="landscape" />
            </div>
        </div>
    </div>
</section>

