﻿@model IEnumerable<ShreeyaBlog.Parallax>

@{
    ViewBag.Title = "ParallaxList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<!-- Breadcrumb -->
<h2 class="text-theme">Slide <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("ParallaxAdd", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Image
                </th>
                <th>
                    Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/Content/Uploads/Parallax/@item.Image" style="height:100px;width :200px;" class="form-control" />
                    <center style="color:#00aced">@Html.DisplayFor(modelItem => item.Category)</center>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @Html.ActionLink("Preview", "ParallaxPreview", new { ParallaxID = item.ID }, new { @class = "badge badge-boxed badge-info" }) 
                    @if (item.Active != true)
                    {
                        @Html.ActionLink("Activate", "ActivateParallax", new { ParallaxID = item.ID }, new { @class = "badge badge-boxed badge-success" })
                    }
                    else
                    {
                        @Html.ActionLink("DeActivate", "ActivateParallax", new { ParallaxID = item.ID }, new { @class = "badge badge-boxed badge-danger" })
                    }
                    @Html.ActionLink("Delete", "ParallaxDelete", new { ParallaxID = item.ID }, new { @class = "badge badge-boxed badge-warning" })
                </td>
            </tr>
        }
    </table>
</div>
