﻿@model IEnumerable<ShreeyaBlog.PersonalityDevlopment>

@{
    ViewBag.Title = "PersonalityDevlopmentPostList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Personality Devlopment Post  <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("PersonalityDevlopmentPost", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Published
                </th>

                <th>
                    Created Date
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.Title.ToString().Substring(0, (item.Title.Length > 35) ? 35 : item.Title.Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "PersonalityDevlopmentPostEdit", new { postID = item.PDID }, new { @class = "badge badge-boxed badge-success" }) 
                        @Html.ActionLink("Details", "PersonalityDevlopmentPostDetail", new { postID = item.PDID }, new { @class = "badge badge-boxed badge-info" }) 
                        @Html.ActionLink("Delete", "PersonalityDevlopmentPostDelete", new { postID = item.PDID }, new { @class = "badge badge-boxed badge-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
