﻿@model IEnumerable<ShreeyaBlog.Models.UserProfile>

@{
    ViewBag.Title = "RegisteredUsers";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@if (TempData["Msg"] != null)
{
    <script>
        alert('@TempData["Msg"]');
    </script>
    TempData["Msg"] = null;
}

<h2 class="text-theme">Registered Users <small> - List</small></h2>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>ID</th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubscribedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>

                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SubscribedDate))
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ExpiryDate))
                    </td>
                    <td>
                        @if (item.isActive != true)
                        {
                            @Html.ActionLink("Pending", "UserActivate", new { Userid = item.ProfileID }, new { @class = "badge badge-boxed badge-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Active", "UserActivate", new { Userid = item.ProfileID }, new { @class = "badge badge-boxed badge-success" })
                        }
                        @Html.ActionLink("Details", "UserDetail", new { Userid = item.ProfileID }, new { @class = "badge badge-boxed badge-warning" })

                        @Html.ActionLink("Alert Email", "AlertUser", new { Userid = item.ProfileID }, new { @class = "badge badge-boxed badge-info" })

                        @Html.ActionLink("Delete", "Delete", new { id = item.ProfileID }, new { @class = "badge badge-boxed badge-info", onclick = "return confirm('Are you sure you want to delete this Record?..Once deleted cannot be Revoked.');" })

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <br />
</div>


<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("RegisteredUsers", "Administrator", new { Message = "Message" }, FormMethod.Post, new { role = "form" }))
        {
            <h4 class="text-theme"> <small>Mail</small></h4>

            <p style="color:red;"> * Mail will be sent to Only Active Users</p>
            <div class="form-group">
                @Html.Label("Enter Mail", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextArea("Message", new { @class = "form-control", @id = "Message", @placeholder = "Type Here..." })
                </div>
            </div>

            <input type="submit" value="Send Mail" class="btn btn-primary" />
        }
    </div>
</div>

