﻿@model IEnumerable<ShreeyaBlog.ScienceTechnology>

@{
    ViewBag.Title = "ScienceTechnologyList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">ScienceTechnology <small> - List</small></h2>

@{
    ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
}
<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("ScienceTechnology", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("Parent Category")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            try
                            {
                                var datap = dbcontext.ScienceTechnologies.Where(c => c.ID == item.ParentID).FirstOrDefault();
                                <span> @datap.Name</span>
                            }
                            catch (Exception)
                            {
                                <span> - </span>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @if (item.Active != true)
                        {
                            @Html.ActionLink("Activate", "ScienceTechnologyActivate", new { catID = item.ID }, new { @class = "badge badge-boxed badge-success" })
                        }
                        else
                        {
                            @Html.ActionLink("DeActivate", "ScienceTechnologyActivate", new { catID = item.ID }, new { @class = "badge badge-boxed badge-info" })
                        } 
                        @Html.ActionLink("Delete", "ScienceTechnologyDelete", new { catID = item.ID }, new { @class = "badge badge-boxed badge-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

