﻿@model IEnumerable<ShreeyaBlog.Models.PostCategory>

@{
    ViewBag.Title = "StudyMaterialPostList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Study Material Post <small> - List</small></h2>

<div class="form-group" style="float:left">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("StudyMaterialPost", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>ID</th>
                <th>
                    Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    Published Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PublishedDate))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "StudyMaterialPostEdit", new { postID = item.PostId }, new { @class = "badge badge-boxed badge-success" }) 
                        @Html.ActionLink("Details", "StudyMaterialPostDetail", new { postID = item.PostId }, new { @class = "badge badge-boxed badge-info" }) 
                        @Html.ActionLink("Delete", "StudyMaterialPostDelete", new { postID = item.PostId }, new { @class = "badge badge-boxed badge-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
