﻿@model ShreeyaBlog.StudyMaterial

@{
    ViewBag.Title = "StudyMaterialEdit";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">Study Material  <small> - Edit</small></h2>

@using (Html.BeginForm("StudyMaterialEdit", "Administrator", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudyID)

        <div class="form-group">
            @Html.LabelFor(model => model.StudyMaterialName, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudyMaterialName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudyMaterialName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Parent Category", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ParentID, ViewBag.StudyMaterial as SelectList, "", new { @class = "form-control", @required = "required", id = "StudyID" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isActive, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "summernote" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <img src="~/Content/Uploads/Tab/@Model.IconImage" style="height: 200px;width: 200px;" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Change Image")
                <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                @*<input type="file" name="PhotoUpload" class="form-control" accept="image/*" onchange="previewImage(event)" />*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <img src='@("/Content/Upload/StudyMaterial" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
}
    <script>
        function previewImage(event) {
            // Get a reference to the image element
            var image = document.querySelector("#instrumentImage");
            // Set its source to the file in the <input type=file element
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>