﻿@model IEnumerable<ShreeyaBlog.Subscription>

@{
    ViewBag.Title = "SubsriptionList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}

<h2>SubsriptionList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Months)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Months)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubscriptionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubscriptionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubscriptionID })
        </td>
    </tr>
}

</table>
