﻿@model IEnumerable<ShreeyaBlog.Talent>

@{
    ViewBag.Title = "TalentPlatformList";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">TalentPlatform  <small> - List</small></h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("TalentPlatform", "Administrator")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    Parent Category
                </th>
                <th>
                    Active
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @{
                        try
                        {
                            var datap = dbcontext.Talents.Where(c => c.ID == item.ParentID).FirstOrDefault();
                            <span> @datap.Name </span>
                        }
                        catch (Exception)
                        {
                            <span> - </span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @if (item.isActive != true)
                    {
                        @Html.ActionLink("Activate", "TalentPlatformActivate", new { catID = item.ID }, new { @class = "badge badge-boxed badge-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "TalentPlatformActivate", new { catID = item.ID }, new { @class = "badge badge-boxed badge-danger" })
                    }
                    @Html.ActionLink("Delete", "TalentPlatformDelete", new { catID = item.ID }, new { @class = "badge badge-boxed badge-warning" }) 
                    @Html.ActionLink("Edit", "TalentPlatformEdit", new { catID = item.ID }, new { @class = "badge badge-boxed badge-info" })
                </td>
            </tr>
        }

    </table>
</div>