﻿@model ShreeyaBlog.Profile

@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}
@Html.Raw(TempData["msg"])

<h2 class="text-theme">User Detail<small></small></h2>

@using (Html.BeginForm("UserDetail", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <marquee style="color:red;font-size:medium;">  Subscription will Expiry in : <b>@ViewBag.data</b> Days</marquee>

        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProfileID)

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Profile Picture </label>
                    <div class="col-md-8">
                        <img src="~/Content/Uploads/Profile/@Model.Image" alt="userimage" id="instrumentImage" class="img-thumbnail form-control" style="border-radius: 50%;height:200px;width:200px;background-color: #e3e3e3;" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        <br />
                        <p> <label class="col-md-4 form-control-label text-theme">Activity :</label>  @Model.isActive  </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">First Name </label>
                    <div class="col-md-8">
                        @Model.FirstName
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Last Name</label>
                    <div class="col-md-8">
                        @Model.LastName
                    </div>
                </div>
            </div>

            @*<div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Date of Birth </label>
                    <div class="col-md-8">
                        <label>@(((DateTime)Model.DOB).ToString("yyyy-MM-dd"))</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Education Qualification </label>
                    <div class="col-md-8">
                        @Model.Qualification
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme">Tell Us Something About You </label>
                    <div class="col-md-10">
                        @Model.About
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Aim </label>
                    <div class="col-md-10">
                        @Model.Aim
                    </div>
                </div>
            </div>*@

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Contact No </label>
                    <div class="col-md-8">
                        @Model.MobileNo
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Email </label>
                    <div class="col-md-8">
                        @Model.UserName
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Subscription Plan</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SubscribedPlan, ViewBag.SubBag as SelectList, "", new { @class = "form-control", @style = "border-color: #ef00ff;", id = "SubscribedPlan" })

                        @*@Model.SubscribedPlan*@
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Subscribed Online Tests </label>
                    <div class="col-md-10">
                        @Model.SubscribedTest
                    </div>
                </div>
            </div>

            @*<div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Aspiring Exams</label>
                    <div class="col-md-10">
                        @Model.AspiringExams
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Address </label>
                    <div class="col-md-10">
                        @Model.Address
                    </div>
                </div>
            </div>*@

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Joined Date </label>
                    <div class="col-md-8">
                        <label>@(((DateTime)Model.CreatedDate).ToString("yyyy-MM-dd"))</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Profile ID </label>
                    <div class="col-md-8">
                        @Model.ProfileID
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class=" col-md-4" style="float:right;">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>