<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1 id="header-title" >
    <a href="{{ site.baseurl }}/#">{{ site.title }}</a>
  </h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="#">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="{{ site.github }}" class="icon fa-github"> GitHub</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <div class="popper" style="width: auto; height: 50px;" id="title-popper">
    <iframe src="//ghbtns.com/github-btn.html?user=FezVrasta&amp;repo=popper.js&amp;type=star&amp;count=true&amp;size=large" style="height: 30px;width: 145px;"></iframe>
    <div class="popper__arrow" x-arrow></div>
  </div>
</header>
