<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">

    <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'#','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->

    <script>
if (window.location.href.indexOf('github.io/popper.js') !== -1) {
    window.location.href = "{{site.url}}" + "{{page.url}}"
}
    </script>

    <meta property="og:title" content="{{ site.title | escape }}">
    <meta property="og:description" content="{{ site.description | strip_html | strip_newlines }}">
    <meta property="og:url" content="{{ page.url | replace:'#','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{{ '/images/logo.png' | prepend: site.baseurl | prepend: site.url }}">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="favicon.ico">
</head>
