﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="24h News - Broadcast News TV Channel & News Magazine Template">
    <meta name="author" content="Via-Theme">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Title  -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/news_template/img/favicon.png" type="image/x-icon" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto+Slab:300,400,700%7CRoboto:300,400,500,700" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/news_template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/news_template/css/main.css">
    <link rel="stylesheet" href="~/news_template/css/style.css">
    <link rel="stylesheet" href="~/news_template/css/colors.css">
    <link rel="stylesheet" href="~/news_template/css/responsive.css">
    <link rel="stylesheet" href="~/news_template/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/news_template/css/weather-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
</head>

<body>

    <div id="pageloader">
        <div class="loader-item"> <img src="~/news_template/img/load.gif" alt='loader' /> </div>
    </div>

    <!--========== BEGIN #WRAPPER ==========-->
    <div id="wrapper" data-color="red">
        <div>
            <section id="main-section">
                @RenderBody()
            </section>
        </div>

        <!--========== BEGIN #COPYRIGHTS==========-->
        <div id="copyrights">
            <!-- Begin .container -->
            <div class="container">
                <!-- Begin .copyright -->
                <div class="copyright"> &copy; 2020, Copyrights sjsmag </div>
                <!-- End .copyright -->
                <!--  Begin .footer-social-icons -->
                <div class="footer-social-icons">
                    <ul>
                        <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                        <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> </li>
                    </ul>
                </div>
                <!--  End .footer-social-icons -->
            </div>
            <!-- End .container -->
        </div>
        <!--========== END #COPYRIGHTS==========-->

    </div>
    <!--========== END #WRAPPER ==========-->
    <!-- External JavaScripts -->
    <script src="~/news_template/js/jquery-3.1.1.min.js"></script>
    <script src="~/news_template/js/bootstrap.min.js"></script>
    <script src="~/news_template/js/jquery-ui.min.js"></script>
    <script src="~/news_template/js/plugins.js"></script>
    <!-- JavaScripts -->
    <script src="~/news_template/js/functions.js"></script>
</body>
</html>
