﻿
@{
   
    Layout = "~/Views/Home/Shared/_HomeLayoutPage.cshtml";
}
<style>
    .landscape {
        height: 100%;
        width: 100%;
    }

    .para {
        text-align: justify;
        letter-spacing: 1px;
        margin-top: 0;
        line-height: 23px;
        margin: 0 0 8px;
        color: #323030;
        font-size: 15px;
    }
</style>

<!--========== BEGIN .CONTAINER ==========-->
<div class="container">
    <!-- Begin .breadcrumb-line -->
    <div class="">
        <ul class="breadcrumb">
            <li>
                <h5><a href="#">Home</a></h5>
            </li>
            <li class="active">About-us</li>
        </ul>
    </div>
    <!-- End .breadcrumb-line -->
</div>
<!--========== END .CONTAINER ==========-->

<div class="container">
    <!--========== BEGIN #NEWS-SLIDER ==========-->
    <div id="news-slider" class="owl-carousel">

        <div class="news-slide">
            <div id="parallax-section">
                <!--========== BEGIN .CONTAINER ==========-->
                <div class="container">
                    <img src="~/images/AboutUsSlide.JPG" class="landscape" alt="Parallax" />
                </div>
            </div>
        </div>

    </div>
    <!--========== END .NEWS-SLIDER ==========-->
</div>

<!--========== BEGIN .MODULE ==========-->
<section class="module-top">
    <div class="container">
        <!--========== BEGIN .BREAKING-NEWS ==========-->
        <!-- Begin .outer -->
        <div class="outer">
            <div class="breaking-ribbon">
                <h5> ॐ </h5>
            </div>
            <!-- Begin .newsticker -->
            <div class="newsticker">
                <ul>
                    <li>
                        <h4><span class="category">SRI VAASUDEVA AKSHARA DHAMA</span></h4>
                    </li>
                    <li>
                        <h4><span class="category">SRI VAASUDEVA AKSHARA DHAMA</span></h4>
                    </li>
                    <li>
                        <h4><span class="category">SRI VAASUDEVA AKSHARA DHAMA</span></h4>
                    </li>
                    <li>
                        <h4><span class="category">SRI VAASUDEVA AKSHARA DHAMA</span></h4>
                    </li>
                    <li>
                        <h4><span class="category">SRI VAASUDEVA AKSHARA DHAMA</span></h4>
                    </li>
                    <li>
                        <h4><span class="category">SRI VAASUDEVA AKSHARA DHAMA</span></h4>
                    </li>
                </ul>
                <div class="navi">
                    <button class="up"><i class="fa fa-caret-left"></i></button>
                    <button class="down"><i class="fa fa-caret-right"></i></button>
                </div>
            </div>
            <!-- End .newsticker -->
        </div>
        <!-- End .outer -->
        <!--========== END .BREAKING-NEWS ==========-->
        <div class="row no-gutter">
            <!-- Begin .title-style01 -->
            <div class="title-style01">
                <h3><strong>About Us : </strong> ನಾವು ಯಾರು ? | ನಾವು ಏನು ಮಾಡುತ್ತೇವೆ ? | ನಾವು  ಹೇಗೆ ಕೆಲಸ ಮಾಡುತ್ತೇವೆ | ನೀವು ಹೇಗೆ ನಮ್ಮ ಪ್ರಯೋಜನ ಪಡೆಯಬಹುದು</h3>
            </div>
            <!-- End .title-style01 -->
            <!--========== BEGIN .ROW==========-->
            <div class="row">
                <!--========== BEGIN .COL-MD-6==========-->
                <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 10px;">
                    <div class="item-content">
                        <div class="title-left title-style04 underline04">
                            <h3><a href="#"><strong> ನಾವು </strong></a>ಯಾರು ?</h3>
                        </div>
                        <ul class="list list-mark-1">
                            <li><p class="para">ನಾವು ಸಾಕಷ್ಟು ಸಮಯದಿಂದ ಶಿಕ್ಷಣ ಕ್ಷೇತ್ರದಲ್ಲಿ ತೊಡಗಿಸಿಕೊಂಡವರು.</p></li>
                            <li><p class="para">ನಾವು ನಮ್ಮ ವ್ಯವಸ್ಥೆಯಲ್ಲಿ ಸಮಾನ ಶಿಕ್ಷಣ ಸೌಲಭ್ಯದ ಕೊರತೆಯನ್ನು ಕಂಡುಕೊಂಡವರು ಮತ್ತು ಆ 	ಕೊರತೆಯನ್ನು ನೀಗಿಸಲು ನಮ್ಮ ಸಾಮರ್ಥ್ಯದನುಸಾರ ಕಾರ್ಯಪ್ರವೃತ್ತರಾಗಿರುವವರು</p></li>
                            <li><p class="para">ಶಿಕ್ಷಣವು ಕಲ್ಪಿಸುವ ಸೌಲಭ್ಯಗಳನ್ನು ಭಾಷೆ ಮತ್ತು ಭೌಗೋಳಿಕ ವ್ಯತ್ಯಾಸಗಳಿಂದಾಗಿ ಸಮರ್ಪಕವಾಗಿ ಮತ್ತು 	ಸಮವಾಗಿ ಬಳಸಿಕೊಳ್ಳಲಾಗದ ಅಸಹಾಯಕತೆಯನ್ನು ನೋಡಿದವರು ನಾವು.</p></li>
                            <li><p class="para">ಗ್ರಾಮೀಣ ಪ್ರತಿಭೆಗಳು ನಗರಿಕರಣ, ಆಧುನಿಕ ಶಿಕ್ಷಣ ವ್ಯವಸ್ಥೆ, ಜಗಮಗಿಸುವ ಶಾಲಾ-ಕಾಲೇಜುಗಳು,ನಿಷ್ಪ್ರಯೋಜಕ ಶಿಕ್ಷಣ(worthless courses) ಗಳ ನಡುವೆ ದಿಕ್ಕೆಟ್ಟವರಂತೆ ನಿಂತ ಸ್ಥಿತಿಯನ್ನು ನೋಡಿ ಮರುಗಿದವರು.</p></li>
                            <li><p class="para">ಕರ್ನಾಟಕದ ಬ್ಯಾಂಕ್ಗಳುರೈಲ್ವೆ, ಅಂಚೆಮತ್ತಿತ್ತರ ಸಾರ್ವಜನಿಕ ಸೇವೆಯ ಸಂಸ್ಥೆಗಳಲ್ಲೂ ಕನ್ನಡ ಬಾರದ ಜನರು ಕೆಲಸಗಳನ್ನು ಪಡೆದು ಕನ್ನಡವಷ್ಟೇ ಗೊತ್ತಿರುವ ಜನಗಳೊಡನೆ ಸಂವಹನಗೊಳಿಸಲಾಗದೆ ಪರೆದಾಡುವುದನ್ನು ನೋಡಿದವರು.</p></li>
                            <li><p class="para">ಸಂವಿಧಾನವು ನಮಗೆ ಪ್ರಧಾನ ಮಾಡಿರುವ ಎಲ್ಲಿ ಬೇಕಾದರೂ ಕೆಲಸ ಮಾಡುವ ಮತ್ತು ಜೀವಿಸುವ ಹಕ್ಕನ್ನು ನಮ್ಮ 	ಕನ್ನಡಿಗರು ಭಾಷೆಗಳನ್ನು ಕಲಿಯಲಾಗದ ಅಸಹಾಯಕತೆಯಿಂದ ಅನ್ಯರಿಗೆ ಸಕಲ ಅವಕಾಶಗಳನ್ನು ಕೈಚೆಲ್ಲಿದ್ದನ್ನ ಅರ್ಥಮಾಡಿಕೊಂಡಿರುವವರು ನಾವು.</p></li>
                            <li><p class="para">ಶಿಕ್ಷಣವೆಂಬುದು, ಸ್ಪರ್ಧೆ ಎಂಬುದು, ಅವಕಾಶವೆಂಬುದು ಕೇವಲ ಉಳ್ಳವರ ಆಸೆ-ಕನಸುಗಳಾಗಿ, ನಮ್ಮಿಂದ ಅವು ಸಾಧ್ಯವೇ ಇಲ್ಲ ಎಂದು ಹತಾಶರಾಗಿ ಕುಳಿತವರನ್ನು ನೋಡಿದವರು ನಾವು.</p></li>
                            <li><p class="para">RTE ಕಾಯ್ದೆಯು ಜಾರಿಗೆ ಬಂದರೂ ಪ್ರತಿಷ್ಠಿತ ಶಾಲೆಗಳಲ್ಲಿ ಪ್ರವೇಶ ಪಡೆದರೂ ಇತರೆ ಮಕ್ಕಳಂತೆ – ಇತರೆ 	ಪೋಷಕರಂತೆ ಯಾವ ವಿಷಯದಲ್ಲೂ ಸ್ಪರ್ಧಿಸಲಾಗದ ಮಕ್ಕಳು ಮತ್ತು ಪೋಷಕರನ್ನು ನೋಡಿ ಕೊರಗುವವರು ನಾವು.</p></li>
                            <li><p class="para">ಶಾಲಾ – ಕಾಲೇಜುಗಳಲ್ಲಿ ಉತ್ತಮ ಮತ್ತು ಸಮರ್ಥ ಶಿಕ್ಷಕ – ಉಪನ್ಯಾಸಕರ ಕೊರತೆಯನ್ನು ಕಂಡವರು ನಾವು. 	ಗುರುವಿನಲ್ಲಿ ವಿದ್ಯಾರ್ಥಿಗಳೆಡೆಗೆ ಶ್ರದ್ಧೆಯ, ಪ್ರೀತಿಯ ಕೊರತೆಯನ್ನು ಕಂಡವರು ನಾವು.</p></li>
                            <li><p class="para">ಪ್ರತಿಭೆಗಳಿಗೆ ಅಭಿವ್ಯಕ್ತಿಗೆ ಸೂಕ್ತ ವೇದಿಕೆಯ ಅಭಾವವಿರುವುದನ್ನು ತಿಳಿದು ಸೂಕ್ತ ವೇದಿಕೆ ನೀಡಲು ಸಿದ್ದವಿರುವವರು 	ನಾವು.</p></li>
                        </ul>
                    </div>
                </div>
                <!--========== END .COL-MD-6 ==========-->

                <!--========== BEGIN .COL-MD-6==========-->
                <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 10px;">
                    <div class="item-content">
                        <div class="title-left title-style04 underline04">
                            <h3><a href="#"><strong> ನಾವು </strong></a>ಹೇಗೆ ಕೆಲಸ ಮಾಡುತ್ತೇವೆ . </h3>
                        </div>
                        <ul class="list list-mark-1">
                            <li>
                                <p class="para">
                                    ಸರ್ವ ಅವಕಾಶಗಳನ್ನು ಸರ್ವರ ಮನೆ ಬಾಗಿಲಿಗೆ ತಲುಪಿಸಲಿದ್ದೇವೆ (ಮೊಬೈಲ್ ಮೂಲಕ, ಇಂಟರ್ನೆಟ್ ಮೂಲಕ, ಪುಸ್ತಕಗಳ ಮೂಲಕ, ನಮ್ಮ ಸಂಸ್ಥೆಯ ತರಬೇತಿ ಕೇಂದ್ರಗಳ ಮೂಲಕ)
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಸ್ಪರ್ಧಾ ಪರೀಕ್ಷೆಗಳ ಪರಿಚಯ, ಸೂಚನೆ, ಪ್ರಕಟಣೆ, ಪರೀಕ್ಷೆಗಳನ್ನು  ಎದುರಿಸುವ ಬಗೆ, ತಯಾರಿ-ಸಿದ್ಧತೆ ಪಠ್ಯಕ್ರಮ ಮುಂತಾದ ವಿಷಯಗಳ ಬಗೆಗೆ ಸರಳ ಮತ್ತು  ಸೂಕ್ತ ಮಾರ್ಗದರ್ಶನವನ್ನು ನಿಮಗೆ ಅರ್ಥವಾಗುವ ರೀತಿಯಲ್ಲಿ  ನಿಮ್ಮಲ್ಲಿ  ನೀವೂ ಕೂಡ ಪ್ರಯತ್ನಿಸಬಹುದು ಎಂಬ ಹುಮ್ಮಸ್ಸು ಉಂಟಾಗುವ ರೀತಿಯಲ್ಲಿ ಸಾದರಪಡಿಸುತ್ತೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನಿಮ್ಮ ಯೋಗ್ಯತೆ ಮತ್ತು ಸಾಮರ್ಥ್ಯದ ಅನುಸಾರ ನೀವು ಅವಕಾಶಗಳನ್ನು  ಉಪಯೋಗಿಸಿಕೊಳ್ಳಲು ಹಾಗೂ ಸ್ಪರ್ಧಿಸಿ ಜಯಗಳಿಸಲು ಅಗತ್ಯ ಮಾರ್ಗದರ್ಶನ ಮತ್ತು  ಪಠ್ಯಕ್ರಮಗಳ ನೆರವು ನೀಡುತ್ತಿದ್ದೇವೆ.

                            <li>
                                <p class="para">
                                    ನಿಮಗೆ ಕಷ್ಟವೆನಿಸುವ ಅನ್ಯಭಾಷೆಯ ಅಥವಾ ಯಾವುದೇ ಪಠ್ಯಕ್ರಮವನ್ನು ಕನ್ನಡಕ್ಕೆ ಭಾಷಾಂತರಿಸಿ ಅಥವಾ 	ಪಠ್ಯಕ್ರಮವನ್ನು ಸರಳಗೊಳಿಸಿ ನೀವು ಅರ್ಥಮಾಡಿಕೊಂಡು ಅಧ್ಯಯನ ಮಾಡುವಂತೆ ಅವಕಾಶ ಮಾಡಿಕೊಡುತ್ತೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನೀವು ಓದಲೇಬೇಆದ ಪಠ್ಯಕ್ರಮ, ಗಳಿಸಿಕೊಳ್ಳಲೇಬೇಕಾದ ಜ್ಞಾನ ಮೂಲಗಳನ್ನು, ಲೇಖನಗಳನ್ನು,	ವಿಚಾರಧಾರೆಗಳನ್ನು ಭಾಷಾಂತರಿಸಿ, ನಿಮ್ಮ ಕನ್ನಡ ಭಾಷೆಯಲ್ಲಿಯೇ ಓದುವಂತೆ ಮಾಡಿ ರಾಷ್ಟ್ರೀಯ ಮತ್ತು 	ಅಂತರಾಷ್ಟ್ರೀಯ ಮಟ್ಟದ ಸ್ಪರ್ಧಾತ್ಮಕ ಹಂತಕ್ಕೆ ನಿಮ್ಮನ್ನು ಸಿದ್ದಗೊಳಿಸಲಿದ್ದೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನಿಮ್ಮನ್ನು  ಪ್ರತ್ಯೇಕವಾಗಿ ತಯಾರಿ ನಡೆಸುವಂತೆ ಅನುವು ಮಾಡಿಕೊಟ್ಟು, ಪ್ರತಿ ಹಂತದಲ್ಲೂ ಸಹಕರಿಸಿ, ನಿಮ್ಮ 	ತಪ್ಪುಗಳನ್ನು  ತಿದ್ದಿ, ನಿಮ್ಮ ಪ್ರಯತ್ನಕ್ಕೆ ಪ್ರೋತ್ಸಾಹಿಸಿ, ನಿಮ್ಮ ವೇಗವನ್ನು  ವಿಮರ್ಶಿಸಿ, ನಿಮ್ಮನ್ನು ಸಿದ್ದಗೊಳಿಸಿ ಸ್ಪರ್ಧಿಸಲು, ಜಯಗಳಿಸಲು ನಿಮ್ಮ ಜೊತೆಗಿರುತ್ತೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಜ್ಞಾನವು ಮತ್ತು ಭಾಷೆ ಯಾರ ಅಥವಾ ಯಾವ ಪ್ರಾಂತ್ಯದ ಸೊತ್ತಲ್ಲ. ಹಾಗಾಗಿ ನಿ ಜವಾಗಿ  ಕಲಿಕೆಯ ಹಸಿವಿರುವ, ಸಾಧನೆಯ ಗುಂಗಿರುವ ಪ್ರತಿಯೊಬ್ಬರಿಗೂ ನಾವು ಅತ್ಯಂತ ಸಮರ್ಥ ದಾರಿದೀಪವಾಗಿರುತ್ತೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನೀವು ವಿದ್ಯಾರ್ಥಿಯಾಗಿರಿ, ಸ್ಪರ್ಧಾರ್ಥಿಯಾಗಿರಿ ಅಥವಾ ಜ್ಞಾನಾರ್ಥಿಯಾಗಿರಿ, ಇಲ್ಲ ಕೇವಲ ಕುತೂಹಲಕ್ಕೆ ಓದುವ  ಹವ್ಯಾಸ  ಬೆಳಸಿಕೊಂಡಿರಿ, ಅಥವಾ ನಿಮ್ಮ ಮಕ್ಕಳಿಗೆ, ಮೊಮ್ಮಕ್ಕಳಿಗೆ, ಸಹೋದರ-ಸಹೋದರಿಯರಿಗೆ 	ಹೇಳಿಕೊಡುವ ಸಲುವಾಗಿ  ಓದುವವರಾಗಿರಿ, ಯಾರೇ ಆಗಿರಿ ನಿಮ್ಮ ನೆರವಿಗೆ, ಸರಳವಾಗಿ, ಸಮರ್ಥವಾಗಿ ಮತ್ತು ಸಮರ್ಪಕವಾಗಿ ‘ಶ್ರೀ ವಾಸುದೇವ ಅಕ್ಷರ ಧಾಮ’,‘ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ’ ಪತ್ರಿಕೆಯ ಮೂಲಕ ಸದಾ ಕಾಲ 	ಸಿದ್ದವಿರುತ್ತದೆ.
                                </p>
                            </li>
                            <li><p class="para"> ಮತ್ತು ಮುಖ್ಯವಾಗಿ  ನೀವು ಮನೆಯಲ್ಲೇ  ಕುಳಿತು ಪರೀಕ್ಷೆಗಳಿಗೆ ತಯಾರಾಗಲು, online ಪರೀಕ್ಷೆಗಳ ಮೂಲಕ ನಾವು ಸಹಾಯ ಮಾಡುತ್ತೇವೆ.</p> </li>
                        </ul>
                    </div>
                </div>
                <!--========== END .COL-MD-6 ==========-->               
            </div>

            <div class="row">
                <!--========== BEGIN .COL-MD-6==========-->
                <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 10px;">
                    <div class="item-content">
                        <div class="title-left title-style04 underline04">
                            <h3><a href="#"><strong> ನಾವು </strong></a>ಏನು ಮಾಡುತ್ತೇವೆ ?</h3>
                        </div>
                        <ul class="list list-mark-1">
                            <li>
                                <p class="para">
                                    ಶಿಕ್ಷಣದ ಅರ್ಥಕ್ಕೆ ಪರಿಪೂರ್ಣತೆ ನೀಡಲು ಶಕ್ತಿ ಮೀರಿ ಪ್ರಯತ್ನಿಸುತ್ತೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಶಿಕ್ಷಣದ ಮೂಲಕ ಸಿಗುವ ಸೌಲಭ್ಯಗಳು ಸರ್ವರಿಗೂ ಸಮವಾಗಿ ಸಿಗುವಂತೆ ಮಾಡಲು ನಾವು  ಶ್ರಮಿಸುತ್ತೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಭಾಷೆಯು ಅವಕಾಶಗಳ ಸದುಪಯೋಗ ಪಡಿಸುಕೊಳ್ಳುವಿಕೆಯಲ್ಲಿ ಉಂಟು ಮಾಡುವ ತಡೆಯನ್ನು ನಾವು ನಿವಾರಿಸಲಿದ್ದೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಅಸಹಾಯಕ ಮತ್ತು ಅಶಕ್ತ ವಿದ್ಯಾರ್ಥಿಗಳಿಗೆ, ಪರೀಕ್ಷಾತ್ರಿಗಳಿಗೆ ಪೋಷಕರುಗಳಿಗೆ ಶೈಕ್ಷಣಿಕವಾಗಿ,	ಭಾಷಾತಾರತಮ್ಯತೆಯಲ್ಲಿ, ಭೌಗೋಳಿಕವಾಗಿ ಅವಕಾಶ ಮತ್ತು ಸೌಲಭ್ಯಗಳಲ್ಲಿ ಆಗುವ ತೊಡುಕು ತೊಂದರೆಗಳನ್ನು ನಿವಾರಿಸಿಕೊಳ್ಳುವಲ್ಲಿ ನಾವು ಮಾರ್ಗದರ್ಶನ ಮತ್ತು ಸಹಾಯ ಮಾಡಲಿದ್ದೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಸ್ಪರ್ಧಾತ್ಮಕ ಪರೀಕ್ಷೆಗಳಿಗೆ ಸಿದ್ಧತೆ ಮಾಡಿಕೊಳ್ಳುವ ಮಾರ್ಗದಲ್ಲಿ ನಾವು ಪರೀಕ್ಷೆಯ ಪಠ್ಯಕ್ರಮವನ್ನು ಕನ್ನಡದಲ್ಲಿ ಸರಳೀಕರಿಸಿ ಅರ್ಥೈಸಲಿದ್ದೇವೆ ?
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಲಭ್ಯವಿರುವ ಅವಕಾಶಗಳ ಮಾಹಿತಿಯನ್ನು ನಿಮ್ಮ ಮುಂದಿಟ್ಟು ಅವಕಾಶಗಳನ್ನು ಉಪಯೋಗಿಸಿಕೊಳ್ಳುವ ಉಪಾಯಗಳನ್ನು ನೀಡಲಿದ್ದೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನಮ್ಮ ಕರ್ನಾಟಕದ ಸರ್ವ ಸಂಸ್ಥೆಗಳಲ್ಲೂ  ನಮ್ಮ ಕನ್ನಡಿಗರೇ ಕೆಲಸಗಿಟ್ಟಿಸಿಕೊಳ್ಳುವ ನಿಟ್ಟಿನಲ್ಲಿ 	ಉದ್ಯೋಗಾಂಕ್ಷಿಗಳನ್ನು ನಾವು ಸಮರ್ಥಗೊಳಿಸಲಿದ್ದೇವೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಶಿಕ್ಷಣವೆಂಬುದು, ಸ್ಪರ್ಧೆ ಎಂಬುದು ಮತ್ತು ಜ್ಞಾನದ ಧಾರೆಯು ಸರ್ವರಿಗೂ ಸಮಪಾಲು ಎಂಬ ಮಾತಿಗೆ ನಾವು ದಾರಿಯಾಗಲಿದ್ದೇವೆ.
                                </p>
                            </li>
                            <li><p class="para">ಶಿಕ್ಷಣವೆಂಬುದು ಸಾಮರ್ಥ್ಯದ,ಜ್ಞಾನದ ಮತ್ತು ವಿಪುಲ ಅವಕಾಶಗಳ ಮೂಲ ಎಂಬುದನ್ನೂ ಆತ್ಮವಿಶ್ವಾಸದ ಮೂಲವೆಂಬುದನ್ನು ಪ್ರತಿಪಾದಿಸಲಿದ್ದೇವೆ.</p></li>

                        </ul>
                    </div>
                </div>
                <!--========== END .COL-MD-6 ==========-->

                <!--========== BEGIN .COL-MD-6==========-->
                <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 10px;">
                    <div class="item-content">
                        <div class="title-left title-style04 underline04">
                            <h3><a href="#"><strong> ನೀವು  </strong></a>ಹೇಗೆ ನಮ್ಮ ಪ್ರಯೋಜನ ಪಡೆಯಬಹುದು </h3>
                        </div>
                        <ul class="list list-mark-1">
                            <li>
                                <p class="para">
                                    ನಮ್ಮ ಎಲ್ಲಾ ಪ್ರಯೋಜನ ಪಡೆಯಲು ಮೊದಲು ನೀವು ನಮ್ಮ ಸದಸ್ಯರಾಗಬೇಕು.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಸದಸ್ಯತ್ವದ ಶುಲ್ಕದ ವಿವರಗಳನ್ನು ಪ್ರತ್ಯೇಖವಾಗಿ ನೀಡಲಾಗುತ್ತದೆ.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನಿಮ್ಮ ಮೊಬೈಲ್ ಮತ್ತು  ಇಂಟರ್ನೆಟ್, ಕಂಪ್ಯೂಟರ್ ಗಳ ಮೂಲಕ ನೀವು ನಿಮ್ಮ ಆಧ್ಯತೆಯ ತಯಾರಿ ನಡೆಸಬಹುದು
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    Online ಪರೀಕ್ಷೆಗಳನ್ನು ಪ್ರಾಕ್ಟೀಸ್‌ ಮಾಡಬಹುದು.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ಸ್ಪರ್ಧೆಗಳಲ್ಲಿ ಭಾಗವಹಿಸಿ ಬಹುಮಾನ ಗೆಲ್ಲಬಹುದು
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ದೈನಂದಿನ ರಾಜ್ಯ-ರಾಷ್ಟ್ರ-ಅಂತರಾಷ್ಟ್ರೀಯ ಆಗು-ಹೋಗುಗಳ ಬಗೆಗೆ ವಿಚಾರ ತಿಳಿದುಮಂಡಿಸಬಹುದು.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನಿಮ್ಮ ಅಭಿಪ್ರಾಯ, ವಿಚಾರಧಾರೆಗಳನ್ನು ಅಭಿವ್ಯಕ್ತಿಗೊಳಿಸಬಹುದು.
                                </p>
                            </li>
                            <li>
                                <p class="para">
                                    ನೀವು ನಿಮಗೆ ಬಿಡುವಿಲ್ಲದ ಸಮಯದಲ್ಲೂ ಕೂಡ ನಿಮಗೆ ಸಿಗಬಹುದಾದ ಅವಕಾಶ, ಸೌಲಭ್ಯ ಮತ್ತು ಸ್ಪರ್ಧೆಗಳ 	ಬಗೆಗೆ ಮಾಹಿತಿ ಪಡೆಯಬಹುದು.
                                </p>
                            </li>
                            <li><p class="para">ನಿಮ್ಮ ಅಗತ್ಯಗಳ ಬಗೆಗೆ, ಸಂದೇಹಗಳ ಬಗೆಗೆ ನೀವು ನೇರವಾಗಿ ಉತ್ತರ ಪಡೆಯಬಹುದು.</p></li>

                        </ul>
                        <div class="center-title">
                            <span class="title-line-left"></span>
                            <h4 class="title-style05 style-01"><b>‘ಸದಸ್ಯರಾಗಿ –ಸಂಗಡಿಗರನ್ನು ಸದಸ್ಯರನ್ನಾಗಿಸಿ – ಸಧಭಿರುಚಿಯನ್ನು ಸಂಭ್ರಮಿಸಿ’</b></h4>
                            <span class="title-line-right"></span>
                        </div>
                        
                    </div>
                </div>
                <!--========== END .COL-MD-6 ==========-->
            </div>

        </div>
        <!--========== END .ROW==========-->
    </div>
    <!--========== END .ROW ==========-->
</section>
<!--=========== END .MODULE ==========-->
