﻿
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

@Html.Raw(TempData["msg"])

<div class="container">
    <div class="row no gutter">
        <!-- Begin .contact-us -->
        <div class="contact-us">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="form-group">
                    <div class="title-left title-style04 underline04">
                        <h3>Job Openings</h3>
                    </div>
                    <ul>
                        @foreach (var jobs in ViewBag.list)
                        {
                            <li style="font-family: 'Roboto Slab', serif;">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span>Job :</span>
                                <a href="#">@jobs.JobName</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="title-left title-style04 underline04">
                    <h3>Apply</h3>
                </div>
                <!-- Begin Google Map  -->
                <div class="row">
                    @using (Html.BeginForm("Careers", "Home", FormMethod.Post, new { firstname = "firstname", lastname = "lastname", email = "email", phone = "phone", FileUpload = "FileUpload", enctype = "multipart/form-data" }))
                    {
                        <div class="messages"></div>
                        <div class="controls" style="font-family: 'Roboto Slab', serif;">
                            <div class="row no-gutter">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Firstname *</label>
                                        <input id="firstname" type="text" name="firstname" class="form-control" placeholder="Please enter your firstname *" required data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Lastname *</label>
                                        <input id="lastname" type="text" name="lastname" class="form-control" placeholder="Please enter your lastname *" required data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone</label>
                                        <input id="phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="form-group">
                                    <label for="form_message">Upload CV *</label>
                                    <input type="file" id="FileUpload" name="FileUpload" />
                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <input type="submit" class="btn btn-success btn-send" value="Send message" onclick="reqRange();">
                                        @*@Html.ActionLink("Send message", "Contact", new { @class = "badge badge-boxed badge-success" }, new { onclick = "reqRange();" })*@

                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- End Google Map -->
            </div>
        </div>
        <!-- End .contact-us -->
    </div>

</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    function reqRange() {

        $.ajax({
            type: "POST",
            url: "/Home/ContactUS",
            data: '{firstname:"' + $("firstname").val()
                + '"},{form_lastname:"' + $("form_lastname").val()
                + '"},{form_email:"' + $("form_email").val()
                + '"},{form_phone:"' + $("form_phone").val()
                + '"},{form_message:"' + $("form_message").val()
                + '"}',

            contentType: "application/json; charset=utf-8",
            dataType: "json",

        });
    }
</script>

