﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/Home/Shared/_HomeLayoutPage.cshtml";
}

<div class="container">
    <div class="row no gutter">
        <!-- Begin .contact-us -->
        <div class="contact-us">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="form-group">
                    <div class="title-fc-center title-style04 underline04">
                        <h3>Contact Us</h3>
                    </div>
                    <br />
                    <div class="title-left title-style04 underline04">
                        <h3>Contact Information</h3>
                    </div>
                    <ul>
                        <li style="font-family: 'Roboto Slab', serif;"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Address:</span> #234, 2nd 'D' Cross, 3rd Block, Basaveshwara Nagar, </li>
                            <li style="margin-left:91px;font-family: 'Roboto Slab', serif;">Bengaluru – 560079, Karnataka, India.</li>
                        <li style="font-family: 'Roboto Slab', serif;"><i class="fa fa-phone" aria-hidden="true"></i><span>Phone:</span> +91 9742229919 / +080 43724427</li>
                            <li style="margin-left:91px;font-family: 'Roboto Slab', serif;">+91 9880742538 / +91 9880469639.</li>
                        <li style="font-family: 'Roboto Slab', serif;"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>E-mail:</span> <a href="mailto:sjsmag2019@gmail.com">sjsmag2019@gmail.com</a></li>
                        <li style="font-family: 'Roboto Slab', serif;"><i class="fa fa-globe" aria-hidden="true"></i><span>Website:</span> <a href="http://www.sjsmag.com">www.sjsmag.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="title-left title-style04 underline04">
                    <h3>Get In Touch</h3>
                </div>
                <!-- Begin Google Map  -->
                <div class="row">
                    @using (Html.BeginForm("ContactUS", "Home", new { firstname = "firstname", lastname = "lastname", email = "email", phone = "phone", message = "message" }, FormMethod.Post, new { @class = "row", role = "form" }))
                    {
                        <div class="messages"></div>
                        <div class="controls" style="font-family: 'Roboto Slab', serif;">
                            <div class="row no-gutter">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Firstname *</label>
                                        <input id="firstname" type="text" name="firstname" class="form-control" placeholder="Please enter your firstname *" required data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Lastname *</label>
                                        <input id="lastname" type="text" name="lastname" class="form-control" placeholder="Please enter your lastname *" required data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone</label>
                                        <input id="phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="message" name="message" class="form-control" placeholder="Message for me *" rows="4" required data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send" value="Send message" onclick="reqRange();">
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- End Google Map -->
            </div>
        </div>
        <!-- End .contact-us -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <!-- Begin .contact-form -->
        <div class="title-left title-style04 underline04" style="margin-top: 29px;">
            <h3>Find Us On Map</h3>
        </div>
        <div>
            @*<div id="contact-form">*@
            <div class="row" id="map-canvas">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1943.854178939278!2d77.540722!3d12.990496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9254cf348d92b5b9!2sshreeyaa+educational+resources!5e0!3m2!1sen!2sin!4v1522405111934" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>

            <div class="row">
                <br />
            </div>
        </div>
        <!-- End .contact-form -->
    </div>
    
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">    
    function reqRange() {

        $.ajax({
            type: "POST",
            url: "/Home/ContactUS",
            data: '{firstname:"' + $("firstname").val()
                + '"},{form_lastname:"' + $("form_lastname").val()
                + '"},{form_email:"' + $("form_email").val()
                + '"},{form_phone:"' + $("form_phone").val()
                + '"},{form_message:"' + $("form_message").val()
                + '"}',

            contentType: "application/json; charset=utf-8",
            dataType: "json",

        });
    }
</script>
