﻿@model ShreeyaBlog.tblA

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@{
    ShreeyaBlogEntities db = new ShreeyaBlogEntities();
}

@using (Html.BeginForm())
{
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in db.tblAs)
            {
                <tr>
                    <td><img src="~/images/@item.imageUrl" width="100" height="100" /></td>
                    <td>@item.fname</td>
                    <td>@item.lname</td>
                </tr>
            }
        </tbody>
    </table>
}