﻿
@{
    ViewBag.Title = "InActive";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";
}
<section class="container-pages">

    <div class="brand-logo float-left"><a class="" href="#"> <b>ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ</b> </a></div>

    <div class="card pages-card col-lg-6 col-md-6 col-sm-6">
        <div class="card-body ">
            <div class="text-center">
                <i class="fa fa-cog fa-spin fa-5x fa-fw text-theme"></i>
            </div>

            <div class="h4 text-center text-theme"><strong>You're in InActive State</strong></div>
            <div class="small text-center text-dark"> PLEASE CONTACT ADMIN FOR MORE INFORMATION </div>

            <div class="text-center">
                <small>
                    Any Inquiries
                    <a href="@Url.Action("ContactUS","Home")" class="text-theme">Contact us</a>
                </small>
                <br>
                <a href="@Url.Action("Index","Home")" class="btn btn-theme btn-round"><i class="mdi mdi-home text-white"></i></a>
            </div>
        </div>
        <!-- end card-body -->
    </div>
    <!-- end card -->

</section>
<!-- end section container -->
<div class="half-circle"></div>
<div class="small-circle"></div>

