﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Shared/_HomeLayoutPage.cshtml";
}

@{
    ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
}

<style>
    .rowclass {
        display: flex; /* equal height of the children */
    }

    .colclass {
        flex: 1; /* additionally, equal width */
        padding: 1em;
        /*border: solid;*/
    }

    .editoclass {
        max-width: 100%;
        max-height: 100%;
    }

    .editolabel {
        top: 13px;
        height: 32px;
    }

    .video-container-edit {
        width: 100%;
        padding-bottom: 40%;
    }

    .slide {
        height: 420px !important;
    }

    .landscape {
        height: 100%;
        width: 100%;
    }

    .EditorialImage {
        width: 100%;
        position: relative;
        height: 599px;
    }

    .prizeImage {
        width: 55%;
        margin-left: 155px;
    }

    @@media only screen and (max-width: 600px) {
        .prizeImage {
            width: 100%;
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width: 600px) {
        .editoclass {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 58%;
            border: 0;
        }

        .editolabel {
            top: 16px;
            height: 29px;
        }
    }
</style>

<section class="module">
    <!--========== BEGIN .CONTAINER ==========-->
    <div class="container">
        <!--========== BEGIN #NEWS-SLIDER ==========-->
        <div id="news-slider" class="owl-carousel">
            @foreach (var item in ViewBag.Parallax)
            {
                string image = item.Image;
                <div class="news-slide">
                    <div id="parallax-section">
                        <!--========== BEGIN .CONTAINER ==========-->
                        <div class="container">
                            <img src="~/Content/Uploads/Parallax/@image" class="landscape" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--========== END .NEWS-SLIDER ==========-->
    </div>
</section>
<!--========== END .MODULE ==========-->

<section class="module">
    <!--========== BEGIN .CONTAINER ==========-->
    <div class="container">

        <!-- Begin .outer -->
        <div class="outer">
            <div class="breaking-ribbon">
                <h5> ಅನುಭವಾಮೃತ </h5>
            </div>
            <!-- Begin .newsticker -->
            <div class="newsticker">
                <ul>
                    @foreach (var greet in ViewBag.Greetings)
                    {
                        <li>
                            <h4><span class="category">@greet.Quote</span></h4>
                        </li>
                    }
                </ul>
                <div class="navi">
                    <button class="up"><i class="fa fa-caret-left"></i></button>
                    <button class="down"><i class="fa fa-caret-right"></i></button>
                </div>
            </div>
            <!-- End .newsticker -->
        </div>
        <!-- End .outer -->
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!-- Begin .full-block-four-columns -->
            <div class="full-block-four-columns">
                <img src="~/images/editoriallogo.jpg" class="EditorialImage" />
            </div>
            <!-- End .full-block-four-columns -->
            <!-- Begin .full-block-four-columns -->
            <div class="full-block-four-columns">
                <!-- Begin .container-half  -->
                <div class="container-half" style="min-height: 602px!important;">
                    @foreach (var item in ViewBag.getEditorial)
                    {
                        string title = item.Title;
                        <div class="entry-content" style="text-align:justify;">
                            <a href="@Url.Action("Editorial","User", new { editorialId = item.EditorialID })" target="_blank">
                                <h3><b><span class="day" style="color:blue;">@Html.Raw(title)</span></b></h3>
                            </a>
                            <h4 style="text-align:justify;"> @Html.Raw(@item.EditorialDescription)</h4>
                            <h6 style="padding: 0 22px 10px;"><i class="fa fa-clock-o"></i><span class="day"> @item.CreatedDate</span></h6>

                        </div>
                        <p style="padding: 3px;border: white;"></p>
                    }
                </div>
                <!-- End.container-half  -->
            </div>
            <!-- End .full-block-four-columns -->
            <!-- Begin .full-block-four-columns -->
            <div class="full-block-four-columns">
                <!-- Begin .container-half  -->
                @foreach (var item in ViewBag.PersonalDevelopment)
                {
                    string title = item.Title;
                    <!-- Begin .container-half  -->
                    <div class="container-half" style="min-height: 270px!important;">
                        <div class="entry-content" style="text-align:justify;">
                            <a href="@Url.Action("PersonalityDevelopment","User")" target="_blank">
                                <h3><b><span class="day" style="color:blue;">@Html.Raw(title)</span></b></h3>
                            </a>
                            <h4> @Html.Raw(@item.IndexDescription)</h4>
                            <h6 style="padding: 0 22px 10px;"><i class="fa fa-clock-o"></i><span class="day"> @item.CreatedDate</span></h6>

                        </div>
                    </div>
                    <!-- End.container-half  -->
                }
                <!-- End.container-half  -->
                <!-- Begin .container-half  -->

                <div class="container-half" style="min-height: 270px!important;">
                    <div class="entry-content" style="text-align:justify;">
                        @foreach (var item in ViewBag.NewNotification)
                        {
                            string title = item.Title;
                            <a href="@Url.Action("Notification", "User")" target="_blank">
                                <h4><b><span class="day" style="color:blue;">@Html.Raw(title)</span></b></h4>
                            </a>
                        }
                    </div>
                </div>
                <!-- End.container-half  -->

            </div>
            <!-- End .full-block-four-columns -->
            <!-- Begin .full-block-four-columns -->
            <div class="full-block-four-columns">

                <!-- Begin .container-half  -->
                <div class="container-half" style="min-height: 270px!important;">
                    <a href="@Url.Action("PersonalityDevelopment","User")" target="_blank" style="color:black;">
                        <img src="~/images/NewBite.jpg" style="height:240px;width:100%" />
                        <center><h3><b><span class="day">ಚುಟುಕು ಸುದ್ದಿ</span></b></h3></center>
                    </a>
                </div>
                <!-- End.container-half  -->
                <!-- Begin .container-half  -->
                <div class="container-half" style="min-height: 270px!important;">
                    <a href="@Url.Action("Notification","User")" target="_blank" style="color:black;">
                        <img src="~/images/NewNotification.jpg" style="height:240px;width:100%" />
                        <center><h3><b><span class="day">ಹೊಸ ಅವಕಾಶ</span></b></h3></center>
                    </a>
                </div>
                <!-- End.container-half  -->
            </div>
            <!-- End .full-block-four-columns -->


        </div>
    </div>
</section>

<!--========== Latest News BEGIN .MODULE ==========Latest-->
<section class="module">
    <div class="container">
        <div class="module-title">
            <h3 class="title"><span class="bg-1">Latest</span></h3>
            <h3 class="subtitle">News</h3>
        </div>

        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-6 ==========-->
            @{int li = 0;}
            @foreach (var item in ViewBag.LatestNews)
            {
                string image = null;
                li++;

                int imageCount = li;

                switch (imageCount)
                {
                    case 1:
                        image = "INdia.JPG";
                        break;
                    case 2:
                        image = "world.JPG";
                        break;
                    case 3:
                        image = "sports.JPG";
                        break;
                    case 4:
                        image = "Economy.JPG";
                        break;
                    case 5:
                        image = "scienceandtechnology.JPG";
                        break;
                    case 6:
                        image = "appointments.JPG";
                        break;
                    case 7:
                        image = "obituary.JPG";
                        break;
                    case 8:
                        image = "DoYouKnow.gif";
                        break;
                    case 9:
                        image = "statestory.gif";
                        break;
                    case 10:
                        image = "nationstory.JPG";
                        break;
                    case 11:
                        image = "GeneralKnowledge.gif";
                        break;
                    case 12:
                        image = "GS.JPG"; //GeneralScience
                        break;
                    case 13:
                        image = "Honor.JPG";
                        break;
                    case 14:
                        image = "OnlineTest.JPG";
                        break;
                    default:
                        image = "default.JPG";
                        break;
                }

                string catURL = @item.CategoryName, postTitle = @item.ShortTitle, desc = item.ShortDescription;

                <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6" style="padding-left:0px;min-height:270px!important;">

                    <!--========== BEGIN .NEWS ==========-->
                    <div class="news">

                        <div class="item">
                            <div class="item-image-1">
                                <a href="@Url.Action("Posts","User", new { postid = item.PostId })" class="img-link" target="_blank">
                                    <img class="img-responsive img-full" src="~/images/@image" alt="Image" style="width: 100%;">
                                </a>
                            </div>

                            <div class="item-content">
                                <div class="title-left title-style04 underline04">
                                    <h3>
                                        <a href="@Url.Action("Posts","User", new { postid = item.PostId })" target="_blank">
                                            <b>@Html.Raw(postTitle)</b>
                                        </a>
                                    </h3>
                                </div>
                                <p style="text-align :justify;">
                                    <a href="@Url.Action("Posts","User", new { postid = item.PostId })" class="external-link" target="_blank">
                                        @Html.Raw(@item.ShortDescription)
                                    </a>
                                </p>
                                <i class="fa fa-clock-o"></i><span class="day"> @item.PublishedDate</span>
                            </div>
                        </div>

                    </div>
                    <!--========== END .NEWS ==========-->
                </div>
            }


        </div>
    </div>
</section>
<!--========== END .MODULE ==========-->
<!--========== BEGIN.MODULE ==========-->
<section class="module">
    <div class="container">
        <h3 class="carousel-title">Gallery</h3>

        <div id="big-gallery-slider-3" class="owl-carousel">

            @foreach (var item in ViewBag.adds)
            {
                <div class="big-gallery">
                    <img src="~/Content/Uploads/Advertise/@item.Image" alt="Image" style="height:180px;">
                    <p style="text-align: justify;padding: 10px;">@item.Title</p>
                </div>
            }
        </div>
    </div>
</section>


<section class="module">
    <div class="container">


        <h3 class="carousel-title">Videos</h3>
        @*<marquee direction="left" behaviour="alternate" loop="infinite">*@
        <div id="big-gallery-slider-2" class="owl-carousell">

            @foreach (var item in ViewBag.videos)
            {
            <div class="big-gallery">
                <video src="~/Content/Uploads/Videos/@item.VideoPath" id="introVideo" style="width:100%;height:100%" autoplay="autoplay" controls="controls" data-bind="visible:!isVideoEnded(),event:{ended:videoEnded}"></video>
                    @*<video src="~/Content/Uploads/Videos/@item.VideoPath" controls preload="auto" type="video/mp4" width="179" height="120"></video>*@
                    @*<iframe height="400" src="~/Content/Uploads/Videos/@item.VideoPath" autoplay=false frameborder="0" allow="encrypted-media" allowfullscreen style="height:180px;"></iframe>*@
                    <p style="text-align: justify;padding: 10px;">@item.Name</p>
            </div>
            }
        </div>
        @*</marquee>*@

    </div>
</section>

<br /><br /><br /><br /><br /><br />
<!--========== END.MODULE ==========-->
