﻿
@{
    ViewBag.Title = "OnlineTest";
    Layout = "~/Views/Home/Shared/_HomeLayoutPage.cshtml";
    //Layout = "~/Views/Administrator/Shared/_SlideLayoutPage.cshtml";
}

<!--========== BEGIN.MODULE ==========-->
<section id="OnlineTest">
    <iframe src="http://onlinetest.shreeyaaedu.in" height="800" width="1300"></iframe>
</section>
<!--========== END.MODULE ==========-->
