﻿@using PagedList.Mvc
@model PagedList.IPagedList<ShreeyaBlog.Models.PostCategory>
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<!--========== BEGIN .MODULE ==========-->
<section class="module highlight">
    <div class="container">
        <div class="row no-gutter">
            <!--==========BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8">
                <div class="module-title">
                    <h3 class="title"><span class="bg-1">@ViewBag.CatHeading</span></h3>
                    <h3 class="subtitle"> News</h3>
                </div>
                <!--========== BEGIN .NEWS ==========-->
                <div class="news">
                    @{
                        int globalcatID = 0;
                        string globalcatName = null;
                    }
                    @foreach (var item in Model)
                    {
                        int imageCount = item.CategoryId;

                        switch (imageCount)
                        {
                            case 60:
                                globalcatName = "Indian Current";
                                break;
                            case 61:
                                //image = "sports.JPG";
                                globalcatName = "World";
                                break;
                            case 62:
                                globalcatName = "Sports";
                                break;
                            case 63:
                                globalcatName = "Economy";
                                break;
                            case 64:
                                globalcatName = "Science and Technology";
                                break;
                            case 65:
                                globalcatName = "Appointments";
                                break;
                            case 66:
                                globalcatName = "Obituary";
                                break;
                            case 67:
                                globalcatName = "Do You Know";
                                break;
                            case 68:
                                globalcatName = "State Story";
                                break;
                            case 69:
                                globalcatName = "Nation Story";
                                break;
                            case 70:
                                globalcatName = "General Knowledge";
                                break;
                            case 80:
                                globalcatName = "General Science";
                                break;
                            case 89:
                                globalcatName = "Health Wealth";
                                break;
                            default:
                                globalcatName = "default";
                                break;
                        }
                        globalcatID = item.CategoryId;
                        string postTitle = @item.Title, desc = item.ShortDescription;

                        <!-- Begin .item -->
                        <div class="item">
                            <div class="item-image-3">
                                <a href="@Url.Action("Posts", new { postid = item.PostId })" class="img-link">
                                    <img class="img-responsive img-full" src="~/Content/Uploads/Posts/@item.DefaultImage" alt="">
                                </a>
                            </div>

                            <div class="item-content">
                                <div class="title-left title-style04 underline04">
                                    <h3><b><strong>@Html.ActionLink(postTitle, "Posts", new { postid = item.PostId })</strong></b> </h3>
                                </div>
                                <p style="text-align: justify;">
                                    <a href="@Url.Action("Posts", new { postid = item.PostId })" class="external-link">
                                        @Html.Raw(desc)
                                    </a>
                                </p>
                                <div class="entry-content">
                                    <span class="day-hour bg-2"> @item.PublishedDate</span>
                                </div>
                            </div>
                        </div>
                        <!-- End .item -->
                    }
                </div>
                <!--========== END.NEWS ==========-->
                <!--========== BEGIN .PAGINATION ==========-->
                <div class="pagination">

                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Category", new { catID = globalcatID, page }))

                </div>
                <!--========== END .PAGINATION ==========-->
            </div>
            <!--==========END .COL-MD-8 ==========-->
            <!--========== BEGIN .COL-MD-4 ==========-->
            <div class="col-md-4">
                <!-- Begin .title-style02 -->
                <div class="block-title-2">
                    <h3><strong>Latest</strong> Posts</h3>
                </div>
                <!-- End .title-style02 -->
                <!--========== BEGIN .SIDEBAR-POST ==========-->
                <!-- End .block-title-2 -->
                <div class="sidebar-newsfeed">
                    @foreach (var item in ViewBag.CatePostBag)
                    {
                        string title = item.Title;
                        int postingID = item.PostId;
                        <!-- Begin .newsfeed -->
                        <div class="newsfeed-1">
                            <ul>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a href="@Url.Action("Posts", new { postid = item.PostId })" class="img-link">
                                                <img class="img-responsive img-full" src="~/Content/Uploads/Posts/@item.DefaultImage" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="ellipsis"><a href="#">@item.PostId</a></h4>
                                            <p>
                                                <a href="@Url.Action("Posts", new { postid = item.PostId })" class="external-link">
                                                    @Html.Raw(title)
                                                </a>
                                            </p>
                                            <h4 class="ellipsis"><span class="date"> @item.PublishedDate</span></h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                    <!-- End .newsfeed -->
                </div>


                <!--========== END .SIDEBAR-POST ==========-->

                <!--========== BEGIN #SIDEBAR-NEWSLETTER ==========-->
                <div id="sidebar-newsletter">
                    <div class="title-style01">
                        <h3><strong>Test Yourself</strong></h3>
                    </div>
                    <div class="sidebar-newsletter-form">
                        <form class="form-horizontal" action="include/subscribe.php" id="subscribeForm" method="POST">
                            <div class="input-group">
                                <i class="fa fa-hand-o-right"></i> click here
                                <span class="input-group-btn">
                                    <a href="@Url.Action("OnlineTest","Home")" class="btn btn-success">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take   Test  on   @globalcatName  Affairs  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!--========== END #SIDEBAR-NEWSLETTER ==========-->
            </div>
            <!--========== END .COL-MD-4 ==========-->
        </div>
    </div>
</section>
<!--========== END .MODULE ==========-->
