﻿@model ShreeyaBlog.Profile

@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_DashboardLayoutPage.cshtml";
}
<style>
    .textDesc {
        overflow: auto;
        resize: vertical;
        width: 100%;
        display: block;
        width: 100%;
        font-size: 1em;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #e3e2e2;
        box-shadow: none;
        border-radius: 0;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        font-weight: 400;
        padding: 6px 10px;
        letter-spacing: .02em;
        margin-bottom: 1.625em;
    }
</style>

<h2 class="text-theme">Create Profile </h2>

@using (Html.BeginForm("CreateProfile", "User", FormMethod.Post, new { FileUpload = "FileUpload", date = "date", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Profile Picture </label>
                    <div class="col-md-8">
                        <img src='@("/Content/Upload/Profile" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" style="border-radius: 50%;height:200px;width:200px;background-color: #e3e3e3;" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-md-8">
                        <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                        <br />
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">First Name </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Last Name</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*<div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Date of Birth </label>
                    <div class="col-md-8">
                        <input type="date" id="date" name="date" placeholder="select DOB" class="form-control text-box single-line" required />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Education Qualification </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @placeholder = "Education Qualification", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme">Tell Us Something About You </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.About, new { @class = "form-control", @placeholder = "Tell Us Something About You", @required = "required" })
                        @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Aim </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Aim, new { @class = "form-control", @placeholder = "Aim", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Aim, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Contact No </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact No", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Email </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Subscription Plan</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SubscribedPlan, ViewBag.SubBag as SelectList, "", new { @class = "form-control", @required = "required", id = "SubscribedPlan" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Subscribed Online Tests </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.SubscribedTest, new { @class = "form-control", @placeholder = "Subscribed Online Tests", @required = "required" })
                        @Html.ValidationMessageFor(model => model.SubscribedTest, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*<div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Aspiring Exams</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AspiringExams, new { @class = "form-control", @placeholder = "Aspiring Exams", @required = "required" })
                        @Html.ValidationMessageFor(model => model.AspiringExams, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Address </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Address", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input id="btnSubmit" type="submit" value="Create Profile" class="btn btn-block btn-success" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var plan = $("#SubscribedPlan  option:selected");
          
            if (plan.val() == "" || plan.val() == 0) {
                alert("Please select Subscription Plan!");
                return false;
            }
            return true;
        });
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
