﻿
@{
    ViewBag.Title = "HealthWealth";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@if (ViewBag.Liked)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.lik').hide();
            $('.unlik').show();
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.unlik').hide();
            $('.lik').show();
        });
    </script>
}
<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="row no-gutter">
        <!--========== BEGIN .COL-MD-8 ==========-->
        @foreach (var singlePer in ViewBag.healPost)
        {
            int HealthPostID = singlePer.HealthPostID;
            <div class="col-md-8">
                <div class="module-title">
                    <h3 class="title"><span class="bg-12">Health Wealth </span></h3>
                    @{
                        string header = @ViewBag.Heading;
                        int headerID = @ViewBag.HeadingID;
                    }
                    <h3 class="subtitle">
                        @Html.ActionLink(header, "SubHealth", new { subpersID = headerID }, new { @style = "text-decoration-line:underline;" })
                    </h3>
                </div>
                <!--========== BEGIN .NEWS ==========-->
                <!-- Begin .entry-block-full -->
                <div class="entry-block-full">
                    <div class="image-full">
                        <a href="~/Content/Uploads/HealthWealth/@singlePer.DefaultImage" target="_blank">
                            <img src="~/Content/Uploads/HealthWealth/@singlePer.DefaultImage" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <div class="title-left title-style04 underline04">
                            <h3><a href="#"><strong>@singlePer.Title</strong>.</a></h3>
                        </div>

                        <div>
                            @Html.Label("UnLike", "UnLike", new { id = HealthPostID, @class = "unlik btn btn-default fa fa-thumbs-down", @style = "background-color: #40A9FF;visibility: visible;" })
                            @Html.Label("Like", "Like", new { id = HealthPostID, @class = "lik btn btn-default fa fa-thumbs-up", @style = "background-color: #40A9FF;visibility: visible;" })
                        </div>

                        <div class="post-meta-elements">
                            <div class="post-meta-date"> <i class="fa fa-calendar"></i>@singlePer.CreatedDate</div>
                            @*<div class="post-meta-author"> <i class="fa fa-heart-o" style="color:red"></i> @ViewBag.LikesCount Likes <label id="lbllike"></label> </div>*@
                            <div class="post-meta-author"> <i class="fa fa-heart" style="color:red;"></i> <label id="lbllike">@{@ViewBag.LikesCount} </label> Likes  </div>
                            <div class="post-meta-comments"> <i class="fa fa-comment-o"></i><a href="#"> <label id="lblComment">@{@ViewBag.CommentsCount} </label> Comments</a> </div>
                        </div>
                        <p>
                            @Html.Raw(@singlePer.Description)
                        </p>
                    </div>

                    <!--  Begin .comment-section -->
                    <div class="comment-section">
                        <!-- Begin .title-style01 -->
                        <div class="comment-title title-style01">
                            <h4> Comments</h4>
                        </div>
                        <!-- End .title-style01 -->
                        <ul class="comments-list">
                            <li>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in ViewBag.listComments)
                                {
                                    i++;
                                    ViewBag.CommID = item.CommentID;
                                    int getPostID = item.PostId;

                                    <div class="comment clearfix">
                                        <div class="avatar">
                                            <img src="~/Content/Uploads/Profile/@item.Image" alt="avatar" class="img-responsive">
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-title">
                                                <h5 class="comment-author"> @item.FirstName</h5>
                                                <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> @item.CreatedDate</span></div>
                                            </div>
                                            <p> @item.Comments</p>
                                        </div>
                                    </div>

                                    foreach (var remarks in ViewBag.load_replies)
                                    {
                                        if (item.CommentID == remarks.CommentID)
                                        {
                                            <div class="children">
                                                <div class="comment clearfix">
                                                    <div class="avatar">
                                                        <img src="~/Content/Uploads/Profile/@remarks.Image" alt="avatar" class="img-responsive">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-title">
                                                            <h5 class="comment-author"> @remarks.FirstName</h5>
                                                            <div class="comment-date"><i class="fa fa-calendar"></i><span class="day">  @remarks.CreatedDate</span></div>
                                                        </div>
                                                        <p> @remarks.Reply</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                    <!--  Begin .form-reply-section -->
                                    <div class="form-reply-section">
                                        @*<div class="comment-title title-style01">
                                                <h4>reply to comment</h4>
                                            </div>*@
                                        @using (Html.BeginForm("HealthReply", "User", FormMethod.Post, new { @class = "row", role = "form" }))
                                        {
                                            <div class="form-reply ui-form">
                                                <div class="row no-gutter">
                                                    <div class="col-md-12">
                                                        <div class="">
                                                            @Html.TextArea("Reply" + i, null, new { htmlAttributes = new { @class = "textDesc", @required = "required", @placeholder = "Reply", @id = "Reply" + i } })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutter" style="display:none;">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.TextBox("HealthPostID" + i, HealthPostID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "HealthPostID" + i })

                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBox("CommentId" + i, (int)ViewBag.CommID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "CommentId" + i })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.TextBox("UserID" + i, (int)ViewBag.userProfileID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "UserID" + i })
                                                    </div>
                                                </div>


                                                <div class="row no-gutter">
                                                    <div class="col-md-12">
                                                        <input type="button" value="Reply" class="Reply btn btn-primary btn-black" @*onclick="reqRange();"*@ />
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!--  End .form-reply-section -->
                                }


                            </li>


                        </ul>

                    </div>
                    <!--  End .comment-section -->
                    <!--  Begin .form-reply-section -->
                    <div class="form-reply-section">
                        <div class="comment-title title-style01">
                            <h4>leave a comment</h4>
                        </div>
                        @using (Html.BeginForm("HealthComment", "User", FormMethod.Post, new { @class = "row", role = "form" }))
                        {
                            <div class="form-reply ui-form">

                                <div class="row no-gutter">
                                    <div class="col-md-12">
                                        <div class="">
                                            @Html.TextArea("Comment", null, new { htmlAttributes = new { @class = "textDesc", @required = "required", @placeholder = "Comment", @id = "Comment" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutter" style="display:none;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBox("HealthPostID", HealthPostID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "HealthPostID" })

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("UserID", (int)ViewBag.userProfileID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "UserID" })

                                    </div>
                                </div>


                                <div class="row no-gutter">
                                    <div class="col-md-offset-2 col-md-12">
                                        <input type="button" value="Submit" class="Comment btn btn-primary btn-black" @*onclick="reqRange();"*@ />
                                    </div>

                                </div>

                                @*<div class="row no-gutter">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-black">submit</button>
                                        </div>
                                    </div>*@
                            </div>
                        }

                    </div>
                    <!--  End .form-reply-section -->

                </div>
                <!-- End .entry-block-full -->
            </div>
        }

        <!--==========END .COL-MD-8 ==========-->
        <!--========== BEGIN .COL-MD-4 ==========-->
        <div class="col-md-4">
            <!-- Begin .block-title-1 -->
            <div class="block-title-1">
                <h3><strong>Latest</strong></h3>
            </div>
            <!-- End .block-title-1 -->
            <!--========== BEGIN #SIDEBAR-NEWSFEED ==========-->
            <div class="sidebar-newsfeed">
                <!-- Begin .newsfeed -->
                @foreach (var latest in ViewBag.Latestheal)
                {
                    string desc = latest.LineDescription;
                    <div class="newsfeed-5">
                        <ul>
                            <li>
                                <div class="item">
                                    <div class="item-image">
                                        <a href="@Url.Action("HealthWealth","User", new { healID = latest.HealthPostID })" target="_blank" class="img-link">
                                            <img class="img-responsive img-full" src="~/Content/Uploads/HealthWealth/@latest.DefaultImage" alt="">
                                        </a>
                                    </div>
                                    <div class="item-content">
                                        <h3> @latest.HealthPostID </h3>
                                        <p>
                                            <a href="@Url.Action("HealthWealth", new { healID = latest.HealthPostID })" class="external-link">
                                                @Html.Raw(desc)
                                            </a>
                                        </p>
                                        @*<p> @Html.ActionLink(desc, "Personality", new { persID = latest.PersonalityPostID }, new { @class = "external-link" }) </p>*@
                                        <h4 class="ellipsis"><span class="date"> @latest.CreatedDate</span></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                <!-- End .newsfeed -->
            </div>
            <!--========== END #SIDEBAR-NEWSFEED ==========-->

        </div>
        <!--========== END .COL-MD-4 ==========-->
    </div>
</section>

<!--========== END .MODULE  ==========-->
<script type="text/javascript">
    $(function () {
        $(".Reply").click(function (e) {

            var id = $("#HealthPostID").val();
            var userid = $("#UserID").val();
            var TabID = 4;

            var commentid = $("#CommentId").val();
            var reply = $("#Reply").val();

            for (i = 0; i < 10; i++) {
                if ($('#Reply' + i).val() != null && $('#Reply' + i).val() != '') {
                    reply = ($("#Reply" + i).val());
                    commentid = $("#CommentId" + i).val();
                }
            }
            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: "/User/ReplyComment",
                    data: '{PostID:' + id + ',UserID:' + userid + ',CommentId:' + commentid + ', Reply:"' + reply + '",TabID:"' + TabID + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //$("#lblComment").text(response.lcomcount);
                        //$('.form-reply-section').hide();
                        var url = "/User/HealthWealth?healID=" + id;
                        window.location.href = url;

                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }

        });
    });

</script>

<script type="text/javascript">
    $(function () {
        $(".Comment").click(function (e) {

            var id = $("#HealthPostID").val();
            var Comment = $("#Comment").val();
            var TabID = 4;

            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: "/User/PostComment",
                    data: '{PostID:' + id + ',UserID:' + $("#UserID").val() + ', Comment:"' + Comment + '",TabID:"' + TabID + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#lblComment").text(response.lcomcount);
                        //$('.form-reply-section').hide();
                        var url = "/User/HealthWealth?healID=" + id;
                        window.location.href = url;

                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }

        });
    });

</script>

<script type="text/javascript">
    $(function () {
        $(".lik").click(function (e) {
            var id = $(this).attr("id");
            var tabID = 4;

            if (id != "") {
                $.ajax({
                    type: "POST",
                    //url: "/User/HealthLike",
                    //data: '{HealthPostID:' + id + '}',
                    url: "/User/LikePost",
                    data: '{PostsID:' + id + ',TabID:' + tabID + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#lbllike").text(response.lcount);
                        $('.lik').hide();
                        $('.unlik').show();
                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }

        });
    });
    $(document).ready(function () {

        $(document).on("click", ".unlik", function () {
            var id = $(this).attr("id");
            var tabID = 4;

            if (id != "") {
                $.ajax({
                    type: "POST",
                    //url: "/User/HealthUnLike",
                    //data: '{HealthPostID:' + id + '}',
                    url: "/User/UnlikePost",
                    data: '{PostsID:' + id + ',TabID:' + tabID + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {
                        $("#lbllike").text(response.lcount);
                        $('.unlik').hide();
                        $('.lik').show();
                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }
        });
    });
</script>