﻿@model IEnumerable<ShreeyaBlog.Like>

@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_DashboardLayoutPage.cshtml";
}

<h2 class="text-theme">Liked Post</h2>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Category
                </th>
                <th>
                    Liked On
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;
                string category = null;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @{
                            switch (item.SectionID)
                            {
                                case 1:
                                    category = " ಅಧ್ಯಯನ ಸಾಮಗ್ರಿ ";
                                    break;
                                case 2:
                                    category = " ವಿಜ್ಞಾನ ವಿಸ್ಮಯ ";
                                    break;
                                case 3:
                                    category = " ಪ್ರಚಲಿತ ವಿದ್ಯಮಾನ";
                                    break;
                                case 4:
                                    category = " ಪ್ರತಿಭಾ ವೇದಿಕೆ  ";
                                    break;
                                case 5:
                                    category = " ಹೆಚ್ಚು ಕಲಿ ";
                                    break;
                                case 6:
                                    category = " ವ್ಯಕ್ತಿ ವ್ಯಕ್ತಿತ್ವ ";
                                    break;
                                case 7:
                                    category = " ಸ್ಪುರಣ ";
                                    break;
                                default:
                                    category = "-";
                                    break;
                            }
                        }
                        @category
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @{ if (item.SectionID == 1)
                            {
                                @Html.ActionLink("View on Site", "Subjects", new { _titleID = item.PostID })
                            }
                            else if (item.SectionID == 2)
                            {
                                @Html.ActionLink("View on Site", "SubST", new { _titleID = item.PostID })
                            }
                            else if (item.SectionID == 3)
                            {
                                @Html.ActionLink("View on Site", "Posts", new { postid = item.PostID })
                            }
                            else if (item.SectionID == 4)
                            {
                                @Html.ActionLink("View on Site", "SubTalPla", new { _titleID = item.PostID })
                            }
                            else if (item.SectionID == 5)
                            {
                                @Html.ActionLink("View on Site", "LearnMore", new { _titleID = item.PostID })
                            }
                            else if (item.SectionID == 6)
                            {
                                @Html.ActionLink("View on Site", "SubPerson", new { _subPPID = item.PostID })
                            }
                            else if (item.SectionID == 7)
                            {
                                @Html.ActionLink("View on Site", "Editorial", new { editorialId = item.PostID })
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>