﻿@using PagedList.Mvc
@model PagedList.IPagedList<ShreeyaBlog.Models.PostCategory>
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <!--========== BEGIN .BREAKING-NEWS ==========-->
        <div class="module-title">
            <h3 class="title"><span class="bg-5">ಹೊಸ ಅವಕಾಶ</span></h3>
            @*<h3 class="subtitle">Notification</h3>*@
        </div>
        <!--========== END .BREAKING-NEWS ==========-->
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8">
                <!--========== BEGIN .POST ==========-->
                @foreach (var top in Model)
                {
                    <div class="post post-full clearfix">
                        <div class="entry-main">
                            <div class="entry-title">
                                <h3 class="entry-title underline04"><a href="#"><b>@top.Title</b></a></h3>
                            </div>

                            <div class="entry-content">
                                <p style="text-align: justify;"> @Html.Raw(top.Description)
                                <i class="fa fa-calendar"></i><span class="day"> @top.CreatedDate</span></p>
                            </div>

                            <div class="post-tags">
                                <i class="fa fa-hand-o-right"></i>
                                <a href="~/Content/Uploads/Notification/@top.Attachment" class="post-tags_link" download>
                                    <span class="post-tags_title">Click here to download </span>
                                </a>
                                
                            </div>

                            <div style="text-align: right">
                                <div style="display:inline-block">

                                    <a href="#" title="Share">Share</a>

                                    @*facebook share*@
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Request.Url.ToString())&t=@Url.Encode(top.Title)"
                                       target="_blank" title="Facebook">
                                        <img src="~/images/facebook-icon.png" style="width:4%;" />
                                    </a>

                                    @*twitter*@
                                    <a href="https://twitter.com/intent/tweet?url=@Url.Encode(Request.Url.ToString())&text=@Url.Encode(top.Title)"
                                       target="_blank" title="Tweet">
                                        <img src="~/images/twitter-icon.png" style="width:4%;" />
                                    </a>

                                    @*google*@
                                    <a href="https://plus.google.com/share?url=@Url.Encode(Request.Url.ToString())"
                                       target="_blank" title="Share on Google+">
                                        <img src="~/images/google-plus-icon.png" style="width:4%;" />
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                }
                <!--  End .post -->
                <div>
                    <br />
                    <br />
                </div>
                <!--========== BEGIN .PAGINATION ==========-->
                <div class="pagination" style="padding-left: 40px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Notification", new { page }))
                </div>
            </div>
            <!--========== END .COL-MD-8 ==========-->
            <!--========== BEGIN .COL-MD-4==========-->
            <div class="col-md-4">
                <!--========== BEGIN #SIDEBAR-NEWSFEED ==========-->
                <!-- Begin .title-style02 -->
                <div class="title-style02" style="background-color: #3b9ff6;">
                    <h3><strong>Recent</strong> Notification</h3>
                </div>
                <!-- End .title-style02 -->
                <div class="sidebar-post" style="background-color: #3b9ff6;">
                    <ul>
                        @foreach (var latest in ViewBag.Recent)
                        {
                            <li>
                                <div class="item">
                                    <div class="item-content">
                                        <h3 style="color:white">@latest.PostId</h3>
                                        <h4 style="color:white"><a href="#">@Html.Raw(latest.Title)</a></h4>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!--========== END .SIDEBAR-POST ==========-->                               
            </div>
            <!--========== END .COL-MD-4 ==========-->
        </div>

    </div>
    <!--========== END .CONTAINER ==========-->
</section>
<!--========== END .MODULE ==========--> 