﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<!--========== BEGIN .CONTAINER ==========-->
<div class="container"> </div>
<!--========== END .CONTAINER ==========-->
<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-4==========-->
            <div class="col-md-4">

                <!--========== BEGIN .SIDEBAR-CATEGORIES ==========-->
                <!-- Begin .block-title-1 -->
                <div class="block-title-1 center">
                    <h3><b>ವ್ಯಕ್ತಿತ್ವ ವಿಕಸನ ಲೇಖನಗಳು</b></h3>
                </div>
                <!-- End .block-title-1 -->
                <div class="sidebar-categories" style="border: 0px solid rgba(0, 0, 0, 0.2);">
                    <ul class="list list-mark-1">
                        @foreach (var title in ViewBag.Titles)
                        {
                            <li>
                                <a href="@Url.Action("PersonalityDevelopmentSub","User", new { _personalityID = title.PDID })">
                                    @title.Title
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!--========== END .SIDEBAR-CATEGORIES ==========-->
            </div>
            <!--========== END .COL-MD-4 ==========-->
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8">
                <!--========== BEGIN .POST ==========-->
                <div class="post post-full clearfix">
                    @foreach (var latest in Model)
                    {
                        <div class="entry-main">
                            <div class="entry-title">
                                <h3 class="entry-title"><a href="#"><b>@latest.Title</b></a></h3>
                            </div>

                            @if (latest.DefaultImage != "default.jpg")
                            {
                                <div class="col-md-6" style="float:right;">
                                    <div class="entry-media">
                                        <img class="img-responsive img-full" src="~/Content/Uploads/PersonalityDevlopment/@latest.DefaultImage?w=770&h=180&mode=crop" alt="Image">
                                    </div>
                                </div>

                            }

                            <div class="entry-content">
                                <p style="text-align: justify;">@Html.Raw(latest.Description)</p>
                                <span class="date"> @latest.CreatedDate</span>
                            </div>
                        </div>

                    }
                </div>
                <!--  End .post -->
            </div>
            <!--========== END .COL-MD-8 ==========-->
            <!--========== END .COL-MD-4==========-->
        </div>
    </div>
    <!--========== END .CONTAINER ==========-->
</section>
<!--========== END .MODULE ==========-->
