﻿@using PagedList.Mvc
@model PagedList.IPagedList<ShreeyaBlog.Models.PostCategory>
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
<style>
    .row.no-gutter [class*='col-']:first-child {
        padding-left: -1px !important;
    }
</style>

<div id="parallax-section" style="height: 26px;">
</div>

<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <div class="module-title">
            <h3 class="title"><span class="bg-3">  ವ್ಯಕ್ತಿ ವ್ಯಕ್ತಿತ್ವ </span></h3>
        </div>
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-12" style="padding:20px;">
                <div class="row no-gutter">
                    <!--========== BEGIN .COL-MD-6 ==========-->
                    @foreach (var latestCategory in Model)
                    {
                        <div class="col-sm-4 col-md-4">
                            <div class="news">
                                <!-- Begin .item -->
                                <div class="item">
                                    <a href="@Url.Action("SubPerson","User", new { _subPPID = latestCategory.PostId })" class="external-link">

                                        @*@if (latestCategory.DefaultImage != "default.jpg")
                                            {*@
                                        <div class="item-image-1" style="width:30%;">
                                            <img class="img-responsive img-full" src="~/Content/Uploads/PersonPersonality/@latestCategory.DefaultImage" alt="">
                                        </div>
                                        @*}*@
                                        <div class="item-content" style="padding: 0px 11px 6px;">
                                            <div class="title-left title-style04 underline04">
                                                <h3><b>@latestCategory.Title</b></h3>
                                            </div>
                                            <p style="text-align:justify;">
                                                @Html.Raw(latestCategory.SmallDescription)
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <!-- End .item -->
                            </div>
                        </div>
                        <!--========== END .COL-MD-6 ==========-->
                    }
                </div>

                <!--========== BEGIN .PAGINATION ==========-->
                <div class="pagination">

                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("PersonPersonality", new { page }))

                </div>
                <!--========== END .PAGINATION ==========-->
            </div>
            <!--========== END .COL-MD-8 ==========-->
        </div>
    </div>
</section>
<!--========== END .MODULE  ==========-->
