﻿﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<style>
    div.item-content {
        width: 100px;
        overflow: auto;
    }
</style>

<div id="parallax-section" style="height: 26px;">
</div>

<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8">
                <div class="module-title">
                    <h3 class="title"><span class="bg-3"> ವಿಜ್ಞಾನ-ವಿಸ್ಮಯ </span></h3>
                    @*<h3 class="subtitle">Of the world</h3>*@
                </div>
                <!--========== BEGIN .ROW ==========-->
                <div class="row no-gutter">
                    <!--========== BEGIN .COL-MD-6 ==========-->
                    <div class="col-sm-6 col-md-12">
                        <!--========== BEGIN .NEWS ==========-->
                        @foreach (var latest in ViewBag.Latest)
                        {
                            <div class="news">
                                <!-- Begin .item -->
                                <a href="@Url.Action("SubST","User", new { _subSTID = latest.CategoryId })">

                                    <div class="item">

                                        @if (latest.DefaultImage != "default.jpg")
                                        {
                                            <div class="item-image-1">
                                                <img class="img-responsive img-full" src="~/Content/Uploads/ScienceTechnology/@latest.DefaultImage" alt="Image">
                                            </div>
                                        }
                                        <div class="item-content">
                                            <div class="title-left title-style04 underline04">
                                                <h3><b>@latest.Title</b> </h3>
                                            </div>
                                            <p style="text-align: justify;">
                                                @Html.Raw(latest.ShortDescription)
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- End .item -->
                            </div>
                        }
                        <!--========== END .NEWS ==========-->
                    </div>
                    <!--========== END .COL-MD-6 ==========-->


                    @foreach (var category in ViewBag.Categories)
                    {
                        <!--========== BEGIN .COL-MD-6 ==========-->
                        <div class="col-sm-6 col-md-6">
                            <!--========== BEGIN .NEWS ==========-->
                            <div class="news">
                                <a href="@Url.Action("SubST","User", new { _subSTID = category.CategoryId, _titleID=category.PostId })">
                                    <!-- Begin .item -->
                                    <div class="item">
                                        <div class="item-image-1" style="width: 30%;">
                                            <img class="img-responsive img-full" src="~/Content/Uploads/ScienceTechnology/@category.DefaultImage" alt="Image">
                                        </div>
                                        <div class="item-content">
                                            <div class="title-left title-style04 underline04">
                                                <h3><strong>@category.CategoryName</strong></h3>
                                            </div>
                                            <h4><strong>@category.Title</strong></h4>
                                            <p style="text-align: justify;">@Html.Raw(category.SmallDescription)</p>
                                        </div>
                                    </div>
                                    <!-- End .item -->
                                </a>
                            </div>
                            <!--========== END .NEWS ==========-->
                        </div>
                        <!--========== END . COL-MD-6 ==========-->
                    }

                </div>
                <!--========== END .ROW ==========-->

            </div>
            <!--========== END .COL-MD-8 ==========-->

            <div class="col-md-4">
                <div class="container">
                    <!-- Begin .title-style02 -->
                    <div class="title-style02">
                        <h3><strong>Most</strong> Popular</h3>
                    </div>
                    <!-- End .title-style02 -->
                    <!--========== BEGIN .SIDEBAR-SCROLL ==========-->
                    <div class="sidebar-scroll">
                        <!-- Begin .scroll-item -->
                        <!-- End .scroll-item -->
                        @foreach (var popular in Model)
                        {
                            <div class="scroll-item">
                                <div class="item">
                                    <div class="item-content-1">
                                        <p style="text-align: justify;">
                                            <a href="@Url.Action("SubST","User", new { _subSTID = popular.PostId })">
                                                <span class="day"> @popular.CategoryName</span> <br />
                                                @Html.Raw(popular.SmallDescription)
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- End .scroll-item -->
                    </div>
                    <!--========== END .SIDEBAR-SCROLL ==========-->
                </div>
                <div id="sidebar-newsletter" style="padding: 40px;">
                    <!-- Begin .title-style01 -->
                    <div class="title-style01">
                        <h3><strong>Test Yourself</strong></h3>
                    </div>
                    <!-- End .title-style01 -->
                    <!-- Begin .sidebar-newsletter-form -->
                    <div class="sidebar-newsletter-form">
                        <form class="form-horizontal" action="include/subscribe.php" id="subscribeForm" method="POST">
                            <div class="input-group">
                                @*<input title="Newsletter" class="form-control" name="email" type="email" id="address" placeholder="Enter Your Email Address" data-validate="validate(required, email)" required>*@
                                <i class="fa fa-hand-o-right"></i> click here
                                <span class="input-group-btn">
                                    <a href="@Url.Action("OnlineTest","Home")" class="btn btn-success">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take   Test  on   <b>ವಿಜ್ಞಾನ-ವಿಸ್ಮಯ</b>    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- End .sidebar-newsletter-form -->
                </div>
            </div>
            <!--========== BEGIN #SIDEBAR-NEWSLETTER ==========-->


        </div>
    </div>
</section>
<!--========== END .MODULE  ==========-->
