﻿
@{
    ViewBag.Title = "SinglePost";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

@{

    ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
}
<div class="container"> </div>
<!--========== END .CONTAINER ==========-->
<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <!--========== BEGIN .BREAKING-NEWS ==========-->
        <!-- Begin .outer -->
        <div class="outer">
            <div class="breaking-ribbon">

                @foreach (var catname in ViewBag.SinglePost)
                {
                    <h5>@catname.CategoryName</h5>
                }
            </div>

            <!-- Begin .newsticker -->

            <div class="newsticker">
                <ul>
                    @foreach (var recentpost in ViewBag.LatestLiveBag)
                    {
                        <li>
                            <p><span class="category">@recentpost.Title </span><a href="#">@recentpost.LineDescription</a></p>
                        </li>

                    }
                </ul>
                <div class="navi">
                    <button class="up"><i class="fa fa-caret-left"></i></button>
                    <button class="down"><i class="fa fa-caret-right"></i></button>
                </div>
            </div>

            <!-- End .newsticker -->
        </div>
        <!-- End .outer -->
        <!--========== END .BREAKING-NEWS ==========-->
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            @foreach (var singlepost in ViewBag.SinglePost)
            {
                int postID = singlepost.PostId;
                //  ViewBag.singlepost = singlepost1;
                <div class="col-md-8">
                    <!--========== BEGIN .POST ==========-->
                    <div class="post post-full clearfix">
                        <div class="entry-media"> <a href="#"><img class="img-responsive img-full" src="~/Content/Uploads/Posts/@singlepost.DefaultImage?w=770&h=180&mode=crop" alt="Image"></a> </div>
                        <div class="entry-main">
                            <div class="entry-title">
                                <h4 class="entry-title"><a href="#">@singlepost.Title</a></h4>
                            </div>

                            @Html.TextBox("checkPostID", postID, new { @class = "form-control col-md-12", @id = "checkPostID" })

                            <input type="submit" value="Like" class="btn btn-info btn-xs like-button" onclick="reqRange();" />
                            <i class="fa fa-thumbs-o-up"></i> <span> @ViewBag.NoofLikes</span>

                            @*<button class="btn btn-info btn-xs like-button" id="Like">
                                Like
                            </button>*@

                            @*@using (Html.BeginForm("SinglePost", "User", FormMethod.Post, new { Like = 1, checkPostID= "checkPostID", enctype = "multipart/form-data" }))
                            {
                                @Html.TextBox("checkPostID", postID, new { @class = "form-control col-md-12", @id = "checkPostID" })

                                <button class="btn btn-info btn-xs like-button" id="Like"> Like
                                    <i class="fa fa-thumbs-o-up"></i> <span id="likecount">@ViewBag.NoofLikes</span>
                                </button>
                            }*@

                            <div class="post-meta-elements">
                                <div class="post-meta-author"> <i class="fa fa-user"></i><a href="#">By Hugh Jackson</a> </div>
                                <div class="post-meta-date"> <i class="fa fa-calendar"></i>@singlepost.PublishedDate</div>
                                <div class="post-meta-comments"> <i class="fa fa-comment-o"></i><a href="#">23 Comments</a> </div>
                            </div>

                            <div class="entry-content">
                                <p>
                                    @singlepost.Description
                                </p>
                            </div>

                        </div>
                    </div>
                    <!--  End .post -->
                    <!--  Begin .comment-section -->
                    <div class="comment-section">
                        <!-- Begin .title-style01 -->
                        <div class="comment-title title-style01">
                            <h4>3 Comments</h4>
                        </div>
                        <!-- End .title-style01 -->
                        <ul class="comments-list">
                            <li>
                                <div class="comment clearfix">
                                    <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                    <div class="comment-content">
                                        <div class="comment-title">
                                            <h5 class="comment-author">Denise Barrett</h5>
                                            <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                        </div>
                                        <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incididunt labore dolore magna aliqu enimad min incididunt ut labore et dolore sed.</p>
                                        <button type="button" class="comment-btn btn btn-default">reply</button>
                                        <button type="button" class="comment-btn btn btn-primary">edit</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <ul class="children">
                                    <li>
                                        <div class="comment clearfix">
                                            <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                            <div class="comment-content">
                                                <div class="comment-title">
                                                    <h5 class="comment-author">Jesse Cole</h5>
                                                    <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                                </div>
                                                <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incidid magna aliqu enimad min incididunt labore dolore sed.</p>
                                                <button type="button" class="comment-btn btn btn-default">reply</button>
                                                <button type="button" class="comment-btn btn btn-primary">edit</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment clearfix">
                                    <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                    <div class="comment-content">
                                        <div class="comment-title">
                                            <h5 class="comment-author">Timothy Tyler</h5>
                                            <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                        </div>
                                        <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incididunt labore dolore magna aliqu enimad min incididunt ut labore et dolore sed.</p>
                                        <button type="button" class="comment-btn btn btn-default">reply</button>
                                        <button type="button" class="comment-btn btn btn-primary">edit</button>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="comment clearfix">
                                    <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                    <div class="comment-content">
                                        <div class="comment-title">
                                            <h5 class="comment-author">Denise Barrett</h5>
                                            <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                        </div>
                                        <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incididunt labore dolore magna aliqu enimad min incididunt ut labore et dolore sed.</p>
                                        <button type="button" class="comment-btn btn btn-default">reply</button>
                                        <button type="button" class="comment-btn btn btn-primary">edit</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <ul class="children">
                                    <li>
                                        <div class="comment clearfix">
                                            <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                            <div class="comment-content">
                                                <div class="comment-title">
                                                    <h5 class="comment-author">Jesse Cole</h5>
                                                    <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                                </div>
                                                <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incidid magna aliqu enimad min incididunt labore dolore sed.</p>
                                                <button type="button" class="comment-btn btn btn-default">reply</button>
                                                <button type="button" class="comment-btn btn btn-primary">edit</button>
                                            </div>
                                        </div>
                                        <ul class="children">
                                            <li>
                                                <div class="comment clearfix">
                                                    <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                                    <div class="comment-content">
                                                        <div class="comment-title">
                                                            <h5 class="comment-author">Denise Barrett</h5>
                                                            <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                                        </div>
                                                        <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incididunt labore dolore magna aliqu enimad min incididunt ut labore et dolore sed.</p>
                                                        <button type="button" class="comment-btn btn btn-default">reply</button>
                                                        <button type="button" class="comment-btn btn btn-primary">edit</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment clearfix">
                                    <div class="avatar"><img src="~/news_template/img/avatar_67x67.jpg" alt="avatar" class="img-responsive"></div>
                                    <div class="comment-content">
                                        <div class="comment-title">
                                            <h5 class="comment-author">Timothy Tyler</h5>
                                            <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> Dec 25, 2016</span></div>
                                        </div>
                                        <p>Lorem ipsum dolor amet consectetur adipisic elit eiusmod tempor incididunt labore dolore magna aliqu enimad min incididunt ut labore et dolore sed.</p>
                                        <button type="button" class="comment-btn btn btn-default">reply</button>
                                        <button type="button" class="comment-btn btn btn-primary">edit</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--  End .comment-section -->
                    <!--  Begin .form-reply-section -->

                    <div class="form-reply-section">
                        <div class="comment-title title-style01">
                            <h4>leave a reply</h4>
                        </div>
                        <form action="#" method="post" class="form-reply ui-form">
                            <div class="row no-gutter">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input placeholder="Your Name" class="form-control" type="text" title="Reply" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input placeholder="Email" class="form-control" type="email" title="Email" />
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <textarea rows="5" placeholder="Comment" class="form-control" title="Comment"></textarea>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-black">submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--  End .form-reply-section -->
                </div>
            }
            <!--========== END .COL-MD-8 ==========-->
            <!--========== BEGIN .COL-MD-4==========-->
            <div class="col-md-4">
                <!--========== BEGIN #SIDEBAR-NEWSFEED ==========-->
                <!-- Begin .block-title-2 -->
                <div class="block-title-2">
                    <h3>Recent Posts</h3>
                </div>
                <!-- End .block-title-2 -->
                <div class="sidebar-newsfeed">
                    <!-- Begin .newsfeed -->
                    @foreach (var recentpost in ViewBag.LatestLiveBag)
                    {
                        <div class="newsfeed-1">
                            <ul>
                                <li>
                                    <div class="item">
                                        <div class="item-image"><a class="img-link" href="#"><img class="img-responsive img-full" src="~/Content/Uploads/Posts/@recentpost.DefaultImage?w=770&h=180&mode=crop" alt=""></a></div>
                                        <div class="item-content">
                                            <h4 class="ellipsis"><a href="#">@recentpost.Title</a></h4>
                                            <p class="ellipsis"><a href="#">@recentpost.LineDescription</a></p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    }
                    <!-- End .newsfeed -->
                </div>
                <!--========== END #SIDEBAR-NEWSFEED ==========-->
                <!-- Begin .sidebar-add-place -->
                <div class="sidebar-add-place"> <a href="#" target="_blank"><img src="img/ad_400x270.jpg" alt=""></a> </div>
                <!-- End .sidebar-add-place -->
                <!--========== BEGIN .CALENDAR==========-->
                <div id='calendar'></div>
                <!--========== END .CALENDAR ==========-->
                <!--========== BEGIN #SIDEBAR-NEWSLETTER ==========-->
                <div id="sidebar-newsletter">
                    <!-- Begin .title-style01 -->
                    <div class="title-style01">
                        <h3><strong>Newsletter</strong></h3>
                    </div>
                    <!-- End .title-style01 -->
                    <!-- Begin .sidebar-newsletter-form -->
                    <div class="sidebar-newsletter-form">
                        <form class="form-horizontal" action="include/subscribe.php" id="subscribeForm" method="POST">
                            <div class="input-group">
                                <input title="Newsletter" class="form-control" name="email" type="email" id="address" placeholder="Enter Your Email Address" data-validate="validate(required, email)" required>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success">Subscribe</button>
                                </span>
                            </div>
                        </form>
                        <span id="result" class="alertMsg"></span>
                    </div>
                    <!-- End .sidebar-newsletter-form -->
                </div>
                <!--========== END #SIDEBAR-NEWSLETTER ==========-->
                <!--========== BEGIN #SIDEBAR-SOCIAL-BUTTONS ==========-->
                <div id="sidebar-social-icons">
                    <ul class="sidebar-social-icons">
                        <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> </li>
                        <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> </li>
                        <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                        <li> <a href="#" class="rss"><i class="fa fa-rss"></i></a> </li>
                        <li> <a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a> </li>
                    </ul>
                </div>
                <!--========== END #SIDEBAR-SOCIAL-BUTTONS ==========-->
            </div>
            <!--========== END .COL-MD-4 ==========-->
        </div>
        <!-- Begin .add-place -->
        <div class="add-place"> <a href="#" target="_blank"><img src="img/ad_1248x100.jpg" alt=""></a> </div>
        <!-- End .add-place -->
        <!-- Begin .title-style05-bg -->
        <!-- End .title-style05-bg -->
    </div>
    <!--========== END .CONTAINER ==========-->
</section>
<!--========== END .MODULE ==========-->


<script type="text/javascript">
    function reqRange() {

        $.ajax({
            type: "POST",
            url: "/User/SinglePost",
            data: '{checkPostID:"' + $("checkPostID").val() + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",

        });
    }
</script>