﻿
@{
    ViewBag.Title = "StudyMaterial";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<style>
    .textDesc {
        overflow: auto;
        resize: vertical;
        width: 100%;
        display: block;
        width: 100%;
        font-size: 1em;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #e3e2e2;
        box-shadow: none;
        border-radius: 0;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        font-weight: 400;
        padding: 6px 10px;
        letter-spacing: .02em;
        margin-bottom: 1.625em;
    }
</style>


<!--========== BEGIN .CONTAINER ==========-->
<div class="container"> </div>
<!--========== END .CONTAINER ==========-->
<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <!--========== BEGIN .BREAKING-NEWS ==========-->
        <!-- Begin .outer -->
        <div class="outer">
            <div class="breaking-ribbon">
                <h5>Study Material</h5>
            </div>
            <!-- Begin .newsticker -->
            <div class="newsticker">
                <ul>
                    @foreach (var recent in ViewBag.recentList)
                    {
                        <li>
                            <p><span class="category">@recent.Title</span><a href="#"> </a></p>
                        </li>
                    }
                </ul>
                <div class="navi">
                    <button class="up"><i class="fa fa-caret-left"></i></button>
                    <button class="down"><i class="fa fa-caret-right"></i></button>
                </div>
            </div>
            <!-- End .newsticker -->
        </div>
        <!-- End .outer -->
        <!--========== END .BREAKING-NEWS ==========-->
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8">

                @foreach (var smPost in ViewBag.StudyMaterial)
                {
                    int smID = smPost.StudyMaterialID;
                    <!--========== BEGIN .POST ==========-->
                    <div class="post post-full clearfix">
                        <div class="entry-media">
                            <a href="~/Content/Uploads/StudyMaterial/@smPost.DefaultImage">
                                <img src="~/Content/Uploads/StudyMaterial/@smPost.DefaultImage" alt="Foto" class="img-responsive">
                            </a>
                        </div>
                        <div class="entry-main">
                            <div class="entry-title">
                                <h4 class="entry-title"><a href="#">@smPost.Title</a></h4>
                            </div>
                            <div class="post-meta-elements">
                                <div class="post-meta-date"> <i class="fa fa-calendar"></i>@smPost.CreatedDate</div>
                                                            </div>
                            <div class="entry-content">
                                <p>@Html.Raw(@smPost.Description)</p>
                            </div>
                        </div>
                    </div>
                    <!--  End .post -->
                    
                }

            </div>
            <!--========== END .COL-MD-8 ==========-->
            <!--========== BEGIN .COL-MD-4==========-->
            <div class="col-md-4">
                <!--========== BEGIN #SIDEBAR-NEWSFEED ==========-->
                <!-- Begin .block-title-2 -->
                <div class="block-title-2">
                    <h3>Recent Posts</h3>
                </div>
                <!-- End .block-title-2 -->
                <div class="sidebar-newsfeed">
                    @foreach (var recent in ViewBag.recentList)
                    {
                        string desc = @recent.Title;
                        <!-- Begin .newsfeed -->
                        <div class="newsfeed-1">
                            <ul>
                                <li>
                                    <div class="item">
                                        <div class="item-image">
                                            <a href="@Url.Action("StudyMaterial", "User", new { studyID = @recent.StudyID })" target="_blank" class="img-link">
                                                <img class="img-responsive img-full" src="~/Content/Uploads/StudyMaterial/@recent.DefaultImage" alt="">
                                            </a>
                                        </div>
                                        <div class="item-content">
                                            <h4 class="ellipsis"><a href="#">@recent.StudyMaterialID</a></h4>
                                            <p>
                                                <a href="@Url.Action("StudyMaterial", new { studyID = @recent.StudyID })" class="external-link">
                                                    @Html.Raw(desc)
                                                </a>
                                            </p>
                                            <h4 class="ellipsis"><span class="date"> @recent.CreatedDate</span></h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                    <!-- End .newsfeed -->
                </div>
                <!--========== END #SIDEBAR-NEWSFEED ==========-->
                <!--========== END .SIDEBAR-CATEGORIES ==========-->
                <!--========== BEGIN .SIDEBAR-REVIEWS==========-->
                <!--========== BEGIN .CALENDAR==========-->
                <div id='calendar'></div>
                <!--========== END .CALENDAR ==========-->
                <!--========== BEGIN #SIDEBAR-NEWSLETTER ==========-->
                <!--========== END #SIDEBAR-NEWSLETTER ==========-->
                <!--========== BEGIN #SIDEBAR-SOCIAL-BUTTONS ==========-->
                <div id="sidebar-social-icons">
                    <ul class="sidebar-social-icons">
                        <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> </li>
                        <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> </li>
                        <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                        <li> <a href="#" class="rss"><i class="fa fa-rss"></i></a> </li>
                        <li> <a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a> </li>
                    </ul>
                </div>
                <!--========== END #SIDEBAR-SOCIAL-BUTTONS ==========-->
            </div>
            <!--========== END .COL-MD-4 ==========-->
        </div>

    </div>
    <!--========== END .CONTAINER ==========-->
</section>
<!--========== END .MODULE ==========-->
