﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <div class="row no-gutter">

            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8" style="padding-right: 25px;">
                <div class="container">
                    <div class="module-title">
                        <h3 class="title"><span class="bg-5">ಅಧ್ಯಯನ  ಸಾಮಗ್ರಿ</span></h3>
                        <h3 class="subtitle">@ViewBag.Category</h3>
                    </div>
                    <div class="entry-content" style="padding-left: 20px;text-align:justify">
                        <p style="text-align:justify;">
                            @foreach (var smPost in ViewBag.StudyMaterial)
                            {
                            int smID = smPost.StudyMaterialID;
                            <!--========== BEGIN .POST ==========-->
                            <div class="post post-full clearfix">
                                <div class="entry-media">
                                    <a href="~/Content/Uploads/StudyMaterial/@smPost.DefaultImage">
                                        <img src="~/Content/Uploads/StudyMaterial/@smPost.DefaultImage" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="entry-main">
                                    <div class="entry-title">
                                        <h4 class="entry-title"><a href="#">@smPost.Title</a></h4>
                                    </div>
                                    @*<div class="post-meta-elements">
                                        <div class="post-meta-date"> <i class="fa fa-calendar"></i>@smPost.CreatedDate</div>
                                    </div>*@
                                    <div class="entry-content">
                        <p>@Html.Raw(@smPost.Description)</p>
                    </div>
                </div>
            </div>
            <!--  End .post -->
            }
            </p>
        </div>
                </div>
            </div>
            <!--========== END .COL-MD-8==========-->
            <!--========== BEGIN .COL-MD-4 ==========-->
            <div class="col-md-4">
                <div class="block-title-1 center">
                    <h3><strong> Syllabus Notes </strong> </h3>
                </div>
                <div class="sidebar-categories" style="border: 0px solid rgba(0, 0, 0, 0.2);">
                    <ul class="list list-mark-1">
                        @foreach (var subject in Model)
                        {
                            <li>
                                <a href="@Url.Action("Subjects","User", new { _subjectID = subject.StudyID })"> @subject.StudyMaterialName </a>
                            </li>
                        }
                    </ul>
                </div>
                <!--========== BEGIN #SIDEBAR-NEWSLETTER ==========-->
                <div id="sidebar-newsletter" style="padding: 40px;">
                    <!-- Begin .title-style01 -->
                    <div class="title-style01">
                        <h3><strong>Test Yourself</strong></h3>
                    </div>
                    <!-- End .title-style01 -->
                    <!-- Begin .sidebar-newsletter-form -->
                    <div class="sidebar-newsletter-form">
                        <form class="form-horizontal" action="include/subscribe.php" id="subscribeForm" method="POST">
                            <div class="input-group">
                                @*<input title="Newsletter" class="form-control" name="email" type="email" id="address" placeholder="Enter Your Email Address" data-validate="validate(required, email)" required>*@
                                <i class="fa fa-hand-o-right"></i> click here
                                <span class="input-group-btn">
                                    <a href="@Url.Action("OnlineTest","Home")" class="btn btn-success">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take   Test  on   <b>@ViewBag.Category</b>    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- End .sidebar-newsletter-form -->
                </div>
                <!--========== END #SIDEBAR-NEWSLETTER ==========-->
                <!--========== BEGIN #SIDEBAR-SOCIAL-BUTTONS ==========-->
                <div class="sidebar-social-icons" style="padding: 40px;">
                    <!-- Begin .title-style01 -->
                    <div class="title-style01">
                        <h3><strong>Stay</strong> Connected</h3>
                    </div>
                    <!-- End .title-style01 -->
                    <ul>
                        <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> </li>
                        <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a> </li>
                        <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                        <li> <a href="#" class="rss"><i class="fa fa-rss"></i></a> </li>
                        <li> <a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a> </li>
                    </ul>
                </div>
                <!--========== END #SIDEBAR-SOCIAL-BUTTONS ==========-->
            </div>
            <!--========== END .COL-MD-4 ==========-->
            
        </div>
    </div>
</section>
<!--========== END .MODULE ==========-->
