﻿@using PagedList.Mvc
@model PagedList.IPagedList<ShreeyaBlog.Models.ExamPostModel>
    @{
        /**/

        ViewBag.Title = "SubExams";
        Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
    }

    <style>
        .row.no-gutter1 [class*='col-']:first-child {
            padding-left: 1;
        }

        .row.no-gutter1 [class*='col-']:last-child {
            padding-right: 1;
        }
    </style>
    <!--========== BEGIN .MODULE ==========-->
    <section class="module highlight">
        <div class="container">
            <div class="module-title">
                <h3 class="title"><span class="bg-1"><i class="fa fa-book"></i>  @ViewBag.examHeading</span></h3>
                <h3 class="subtitle">OverView</h3>
            </div>
            <!--========== BEGIN .ROW ==========-->
            <div class="row no-gutter1">

                @{
                    int i = 0;
                    int pagingID = 0;
                }
                @foreach (var exam in Model)
                {
                    i++;
                    pagingID = exam.ExamID;
                    string pTitle = exam.Title, desc = exam.LineDescription;
                    <!--========== BEGIN .NEWS ==========-->
                    <div class="news col-md-6">
                        <div class="item">
                            <div class="item-image-1">
                                <a class="img-link" href="~/Content/Uploads/Exam/@exam.DefaultImage" target="_blank">
                                    <img class="img-responsive img-full" src="~/Content/Uploads/Exam/@exam.DefaultImage" alt="">
                                </a>
                                <span><a href="#" class="@("label-"+i)">@exam.ExamName</a></span>
                            </div>
                            <div class="item-content">
                                <div class="title-left title-style04 underline04">
                                    <h3><strong>@Html.ActionLink(pTitle, "Exams", new { examID = exam.ExamPostID })</strong> </h3>
                                </div>
                                <p> @Html.ActionLink(desc, "Exams", new { examID = exam.ExamPostID }, new { @class = "external-link" }) </p>
                                <p> <a href="#"> @exam.CreatedDate </a></p>
                            </div>
                        </div>
                    </div>
                    <!--========== END .NEWS ==========-->
                }

                <div class="pagination">

                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("SubExams", new { subexamID = pagingID, page }))

                </div>
            </div>
            <!--========== END .ROW ==========-->
        </div>
    </section>
    <!--========== END .MODULE ==========-->
