﻿@using PagedList.Mvc
@model PagedList.IPagedList<ShreeyaBlog.Models.HealthPostModel>
@{
    ViewBag.Title = "SubHealth";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<style>
    .row.no-gutter1 [class*='col-']:first-child {
        padding-left: 1;
    }

    .row.no-gutter1 [class*='col-']:last-child {
        padding-right: 1;
    }
</style>
<!--========== BEGIN .MODULE ==========-->
<section class="module highlight">
    <div class="container">
        <div class="module-title">
            <h3 class="title"><span class="bg-1"><i class="fa fa-book"></i>  @ViewBag.healthHeading</span></h3>
            <h3 class="subtitle">OverView</h3>
        </div>
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter1">

            @{
                int i = 0;
                int pagingID = 0;
            }
            @foreach (var heal in Model)
            {
                i++;
                pagingID = heal.HealthID;
                string pTitle = heal.Title, desc = heal.LineDescription;
                <!--========== BEGIN .NEWS ==========-->
                <div class="news col-md-6">
                    <div class="item">
                        <div class="item-image-1">
                            <a class="img-link" href="~/Content/Uploads/HealthWealth/@heal.DefaultImage" target="_blank">
                                <img class="img-responsive img-full" src="~/Content/Uploads/HealthWealth/@heal.DefaultImage" alt="">
                            </a>
                            <span><a href="#" class="@("label-"+i)">@heal.HealthName</a></span>
                        </div>
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><strong>@Html.ActionLink(pTitle, "HealthWealth", new { healID = heal.HealthPostID })</strong> </h3>
                            </div>

                            <p> @Html.ActionLink(desc, "HealthWealth", new { healID = heal.HealthPostID }, new { @class = "external-link" }) </p>
                            <p> <a href="#"> @heal.CreatedDate </a></p>
                        </div>
                    </div>
                </div>
                <!--========== END .NEWS ==========-->
            }

            <div class="pagination">

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("SubHealth", new { subhealID = pagingID, page }))

            </div>
        </div>
        <!--========== END .ROW ==========-->
    </div>
</section>
<!--========== END .MODULE ==========-->
