﻿@using PagedList.Mvc
@model PagedList.IPagedList<ShreeyaBlog.Models.PersonalityPostC>
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
<style>
    .row.no-gutter1 [class*='col-']:first-child {
        padding-left: 1;
    }

    .row.no-gutter1 [class*='col-']:last-child {
        padding-right: 1;
    }
</style>
<!--========== BEGIN .MODULE ==========-->
<section class="module highlight">
    <div class="container">
        <div class="module-title">
            <h3 class="title"><span class="bg-1"><i class="fa fa-book"></i>  @ViewBag.personalityHeading</span></h3>
            <h3 class="subtitle">OverView</h3>
        </div>
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter1">

            @{
                int i = 0;
                int pagingID = 0;
            }
            @foreach (var person in Model)
            {
                i++;
                pagingID = person.PersonalityId;
                string pTitle = person.Title, desc = person.LineDescription;
                <!--========== BEGIN .NEWS ==========-->
                <div class="news col-md-4">
                    <div class="item">
                        @if (person.DefaultImage != "default.jpg")
                        {
                            <div class="item-image-1">
                                <a class="img-link" href="~/Content/Uploads/Personality/@person.DefaultImage" target="_blank">
                                    <img class="img-responsive img-full" src="~/Content/Uploads/Personality/@person.DefaultImage" alt="">
                                </a>
                                <span><a href="#" class="@("label-" + i)">@person.PersonalityName</a></span>
                            </div>
                        }
                        <div class="item-content">
                            <div class="title-left title-style04 underline04">
                                <h3><b>@Html.ActionLink(pTitle, "Personality", new { persID = person.PersonalityPostID })</b> </h3>
                            </div>

                            <p> @Html.ActionLink(desc, "Personality", new { persID = person.PersonalityPostID }, new { @class = "external-link" }) </p>
                            <p> <a href="#"> @person.CreatedDate </a></p>
                        </div>
                    </div>
                </div>
                <!--========== END .NEWS ==========-->
            }

            <div class="pagination">

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("SubPersonality", new { subpersID = pagingID, page }))

            </div>
        </div>
        <!--========== END .ROW ==========-->
    </div>
</section>
<!--========== END .MODULE ==========-->
