﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
@*<style>
        img {
            max-width: 100%;
            height: auto;
        }

        .imgitem {
            width: 120px;
            min-height: 120px;
            max-height: auto;
            float: left;
            margin: 3px;
            padding: 3px;
        }
    </style>*@

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@if (ViewBag.Liked)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.lik').hide();
            $('.unlik').show();
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.unlik').hide();
            $('.lik').show();
        });
    </script>
}

<section class="module">
    <div class="container">
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-12" style="padding-right: 5px;">
                <div class="container">
                    <div class="module-title">
                        <h3 class="title"><span class="bg-5">  ವ್ಯಕ್ತಿ ವ್ಯಕ್ತಿತ್ವ </span></h3>
                        <h3 class="subtitle">@ViewBag.Category</h3>
                    </div>
                    @foreach (var person in ViewBag.Notes)
                    {
                        int postID = person.PostId;

                        <div class="col-md-12">
                            <div class="col-md-4" style="padding:10px">

                                @*@if (person.DefaultImage != "default.jpg")
                                {*@
                                    <div class="entry-image">
                                        <a class="img-link" href="#">
                                            <img class="img-responsive img-full" src="~/Content/Uploads/PersonPersonality/@person.DefaultImage" alt="Image">
                                        </a>
                                    </div>
                                @*}*@
                                <div>
                                    <br />
                                </div>
                                <div class="post-meta-elements">
                                    <div class="post-meta-date">
                                        @Html.Label("Unlike", "UnlikePost", new { id = postID, @class = "unlik btn btn-default fa fa-thumbs-down", @style = "background-color: #40A9FF;visibility: visible;font-size: 15px;" })
                                        @Html.Label("Like", "LikePost", new { id = postID, @class = "lik btn btn-default fa fa-thumbs-up", @style = "background-color: #40A9FF;visibility: visible;font-size: 15px;" })

                                    </div>
                                    <div class="post-meta-author">
                                        <i class="fa fa-heart" style="color:red;"></i><a href="#">
                                            <label id="lbllike">@{@ViewBag.LikesCount } </label> Likes
                                        </a>
                                    </div>
                                    <div class="post-meta-comments">
                                        <i class="fa fa-comment-o"></i><a href="#">
                                            <label id="lblComment">@{@ViewBag.CommentsCount} </label> Comments
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="entry-content" style="text-align:justify;">
                                <h3><b> @person.Title </b>  </h3>
                                <p style="text-align: justify;"> @Html.Raw(person.Description) </p>
                                <p style="float: right;"><span class="day"> @person.CreatedDate </span></p>

                                <div style="text-align: right">
                                    <div style="display:inline-block">

                                        <a href="#" title="Share">Share</a>

                                        @*facebook share*@
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Request.Url.ToString())&t=@Url.Encode(person.Title)"
                                           target="_blank" title="Facebook">
                                            <img src="~/images/facebook-icon.png" style="width:4%;" />
                                        </a>

                                        @*twitter*@
                                        <a href="https://twitter.com/intent/tweet?url=@Url.Encode(Request.Url.ToString())&text=@Url.Encode(person.Title)"
                                           target="_blank" title="Tweet">
                                            <img src="~/images/twitter-icon.png" style="width:4%;" />
                                        </a>

                                        @*google*@
                                        <a href="https://plus.google.com/share?url=@Url.Encode(Request.Url.ToString())"
                                           target="_blank" title="Share on Google+">
                                            <img src="~/images/google-plus-icon.png" style="width:4%;" />
                                        </a>

                                        @*<a href="https://plus.google.com/share?url=@uri">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>*@
                                    </div>
                                </div>
                            </div>


                        </div>

                        <!--  Begin .comment-section -->
                        <div class="comment-section">
                            <!-- Begin .title-style01 -->
                            <div class="comment-title title-style01">
                                <h4> Comments</h4>
                            </div>
                            <!-- End .title-style01 -->
                            <ul class="comments-list">
                                <li>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in ViewBag.listComments)
                                    {
                                        i++;
                                        ViewBag.CommID = item.CommentID;
                                        int getPostID = item.PostId;

                                        <div class="comment clearfix">
                                            <div class="avatar">
                                                <img src="~/Content/Uploads/Profile/@item.Image" alt="avatar" class="img-responsive">
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-title">
                                                    <h5 class="comment-author"> @item.FirstName</h5>
                                                    <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> @item.CreatedDate</span></div>
                                                </div>
                                                <p> @item.Comments</p>
                                            </div>
                                        </div>

                                        foreach (var remarks in ViewBag.load_replies)
                                        {
                                            if (item.CommentID == remarks.CommentID)
                                            {
                                                <div class="children">
                                                    <div class="comment clearfix">
                                                        <div class="avatar">
                                                            <img src="~/Content/Uploads/Profile/@remarks.Image" alt="avatar" class="img-responsive">
                                                        </div>
                                                        <div class="comment-content">
                                                            <div class="comment-title">
                                                                <h5 class="comment-author"> @remarks.FirstName</h5>
                                                                <div class="comment-date"><i class="fa fa-calendar"></i><span class="day"> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", remarks.CreatedDate))</span></div>
                                                            </div>
                                                            <p>@remarks.Reply</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <!--  Begin .form-reply-section -->
                                        <div class="form-reply-section">
                                            @*<div class="comment-title title-style01">
                                                    <h4>reply to comment</h4>
                                                </div>*@
                                            @using (Html.BeginForm("ReplyComment", "User", FormMethod.Post, new { @class = "row", role = "form" }))
                                            {
                                                <div class="form-reply ui-form">

                                                    <div class="row no-gutter">
                                                        <div class="col-md-12">
                                                            <div class="">
                                                                @Html.TextArea("Reply" + i, null, new { htmlAttributes = new { @class = "textDesc", @required = "required", @placeholder = "Reply", @id = "Reply" + i } })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row no-gutter" style="display: none;">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                @Html.TextBox("ID" + i, postID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "ID" + i })

                                                            </div>
                                                            <div class="form-group">
                                                                @Html.TextBox("CommentId" + i, (int)ViewBag.CommID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "CommentId" + i })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBox("UserID" + i, (int)ViewBag.userProfileID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "UserID" + i })
                                                        </div>
                                                    </div>

                                                    <div class="row no-gutter">
                                                        <div class="col-md-12">
                                                            <input type="button" value="Reply" class="Reply btn btn-primary btn-black" @*onclick="reqRange();"*@ />
                                                        </div>

                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <!--  End .form-reply-section -->
                                    }
                                </li>
                            </ul>

                        </div>
                        <!--  End .comment-section -->
                        <!--  Begin .form-reply-section -->
                        <div class="form-reply-section">
                            <div class="comment-title title-style01">
                                <h4>leave a comment</h4>
                            </div>
                            @using (Html.BeginForm("PostComment", "User", FormMethod.Post, new { @class = "row", role = "form" }))
                            {
                                <div class="form-reply ui-form">

                                    <div class="row no-gutter">
                                        <div class="col-md-12">
                                            <div class="">
                                                @Html.TextArea("Comment", null, new { htmlAttributes = new { @class = "textDesc", @required = "required", @placeholder = "Comment", @id = "Comment" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutter" style="display: none;">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.TextBox("ID", postID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "ID" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBox("UserID", (int)ViewBag.userProfileID, new { @class = "form-control col-md-12", @readonly = "readonly", @id = "UserID" })

                                        </div>
                                    </div>

                                    <div class="row no-gutter">
                                        <div class="col-md-offset-2 col-md-12">
                                            <input type="button" value="Submit" class="Comment btn btn-primary btn-black" @*onclick="reqRange();"*@ />
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                        <!--  End .form-reply-section -->
                    }
                </div>
            </div>
            <!--========== END .COL-MD-8==========-->
        </div>
    </div>
</section>


<script type="text/javascript">
    $(function () {
        $(".Reply").click(function (e) {

            var id = $("#ID").val();
            var catid = $("#CategoryId").val();
            var userid = $("#UserID").val();
            var TabID = 6;

            var commentid = $("#CommentId").val();
            var reply = $("#Reply").val();

            for (i = 0; i < 10; i++) {
                if ($('#Reply' + i).val() != null && $('#Reply' + i).val() != '') {
                    reply = ($("#Reply" + i).val());
                    commentid = $("#CommentId" + i).val();
                }
            }

            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: "/User/ReplyComment",
                    data: '{PostID:' + id + ',UserID:' + userid + ',CommentId:' + commentid + ', Reply:"' + reply + '",TabID:"' + TabID + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var url = "/User/SubPerson?_subPPID=" + id;
                        window.location.href = url;
                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }
        });
    });

</script>

<script type="text/javascript">
    $(function () {
        $(".Comment").click(function (e) {

            var id = $("#ID").val();
            var catid = $("#CategoryId").val();
            var Comment = $("#Comment").val();
            var TabID = 6;

            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: "/User/PostComment",
                    data: '{PostID:' + id + ',UserID:' + $("#UserID").val() + ', Comment:"' + Comment + '", TabID:"' + TabID + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#lblComment").text(response.lcomcount);
                        var url = "/User/SubPerson?_subPPID=" + id;
                        window.location.href = url;
                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }

        });
    });

</script>

<script type="text/javascript">
    $(function () {
        $(".lik").click(function (e) {
            var id = $(this).attr("id");
            var TabID = 6;

            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: "/User/LikePost",
                    data: '{PostsID:' + id + ',TabID:' + TabID + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#lbllike").text(response.lcount);
                        $('.lik').hide();
                        $('.unlik').show();
                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }
        });
    });

    $(document).ready(function () {

        $(document).on("click", ".unlik", function () {
            var id = $(this).attr("id");
            var tabID = 6;

            if (id != "") {
                $.ajax({
                    type: "POST",
                    url: "/User/UnlikePost",
                    data: '{PostsID:' + id + ',TabID:' + tabID + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {
                        $("#lbllike").text(response.lcount);
                        $('.unlik').hide();
                        $('.lik').show();
                    },
                    failure: function (response) {
                        alert("Save Failed ");
                    },
                    error: function (response) {
                        alert("Error occured");
                    }
                });
            }
        });
    });

</script>
