﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
@{
    ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
}
<!--========== BEGIN .CONTAINER ==========-->
<div class="container">
    <!-- Begin .breadcrumb-line -->
    <div class="">
        <ul class="breadcrumb">
            <li>
                <h5><a href="">Study Material</a></h5>
            </li>
            <li class="active">@ViewBag.Category</li>
        </ul>
    </div>
    <!-- End .breadcrumb-line -->
</div>
<!--========== END .CONTAINER ==========-->
<!--========== BEGIN .MODULE ==========-->
<section class="module-top">
    <div class="container">
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8==========-->
            <div class="col-md-12">
                <!-- Begin .title-style01 -->
                <div class="title-style01">
                    <h3><strong>@ViewBag.Category :</strong> Brief Description </h3>
                </div>
                <!-- End .title-style01 -->
                <!--========== BEGIN .ROW==========-->
                <div class="row">
                    <div class="content">
                        <p><strong>@Html.Raw(@ViewBag.Description)</strong></p>
                    </div>
                </div>
                <!--========== END .ROW==========-->
            </div>
        </div>
        <!--========== END .ROW ==========-->
    </div>
</section>
<!--=========== END .MODULE ==========-->
<!-- Begin .container -->
<div class="container" id="topPos">
    <!-- Begin .editorial-section -->
    <div class="editorial-section">
        <!-- Begin .row -->
        <div class="row no-gutter">
            <!-- Begin .hidden-xs hidden-sm col-md-3 -->
            <div class="col-md-3">
                <div class="panel panel-default panel-affix" id="myScrollspy">
                    <!-- Begin .panel-body-->
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#sectionOne"><strong>Syllabus</strong> </a></li>

                            @foreach (var item in Model)
                            {
                                int StudyID = item.StudyID;

                                var subStudy = dbcontext.StudyMaterials.Where(s => s.ParentID == StudyID).ToList();
                                <li class="">
                                    <a href="">
                                        <i class="fa fa-book"></i> <strong>@item.StudyMaterialName</strong>
                                    </a>

                                    @foreach (var subitem in subStudy)
                                    {
                                        if (StudyID == subitem.ParentID)
                                        {
                                            <ul style="padding-left: 35px;" class="nav nav-pills nav-stacked">
                                                <li class="alert-warning">
                                                    <a href="@Url.Action("SubStudyMaterial","User", new { smID = item.ParentID, subID=subitem.StudyID })" data-form-method="post" target="_blank">
                                                        <i class="fa fa-plus"></i> <strong>@subitem.StudyMaterialName</strong>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- End .panel-body-->
                </div>
            </div>
            <!-- End .col-md-3 hidden-sm hidden-xs -->
            <!-- Begin .col-md-9 -->
            <div class="col-md-9">
                <!-- Begin .panel panel-default -->
                <div class="panel panel-default">
                    <!-- Begin .panel-body -->
                    <div class="panel-body">
                        <span></span>
                        <!-- Begin .breadcrumb-line -->
                        <div class="">
                            <ul class="breadcrumb">
                                <li>
                                    <h5><a href="">@ViewBag.Category</a></h5>
                                </li>
                                <li><a href="">@ViewBag.SubCategory </a></li>
                            </ul>
                        </div>
                        <!-- End .breadcrumb-line -->
                        @foreach (var item in ViewBag.subSubjectTitles)
                        {
                            <section id="sectionOne">
                                <a href="@Url.Action("StudyMaterial","User", new { studyID = item.PostId })" target="_blank">

                                    <div class="media">
                                        @if (item.DefaultImage != "default.jpg")
                                        {
                                            <div class="pull-left visible-sm visible-md visible-lg media-left">
                                                <img src="~/Content/Uploads/StudyMaterial/@item.DefaultImage" alt="StudyMaterial" style="height: 100%;width: 300px;">
                                            </div>
                                        }
                                        <div class="media-body">
                                            <h3 class="media-heading"><b>@item.Title</b></h3>
                                            <p>@Html.Raw(item.ShortDescription)</p>
                                            <p><i class="fa fa-clock-o"></i> @item.CreatedDate </p>
                                        </div>
                                    </div>
                                </a>

                            </section>
                        }
                    </div>
                    <!-- End .panel-body -->
                </div>
                <!-- End .panel panel-default -->
            </div>
            <!-- End .col-md-9 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .editorial-section -->
</div>
<!-- End  .container -->
