﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}
<style>
    .landscape {
        height: 100%;
        width: 100%;
    }
</style>
<div style="background-color: #ff6a00;">
    <section class="module">
        <!--========== BEGIN .CONTAINER ==========-->
        <div class="container">
            <!--========== BEGIN #NEWS-SLIDER ==========-->
            <div id="news-slider" class="owl-carousel">
                @foreach (var item in ViewBag.Parallax)
                {
                    string image = item.Image;
                    <div class="news-slide">
                        <div id="parallax-section">
                            <!--========== BEGIN .CONTAINER ==========-->
                            <div class="container">
                                <img src="~/Content/Uploads/Parallax/@image" class="landscape" alt="Parallax" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!--========== END .NEWS-SLIDER ==========-->
        </div>
    </section>

    <!--========== BEGIN .MODULE ==========-->
    <section class="module">
        <div class="container">
            <div class="row no-gutter">
                <div class="module-title">
                    <h3 class="title"><span class="bg-3">  ಪ್ರತಿಭಾ ವೇದಿಕೆ   </span></h3>
                    @*<h3 class="subtitle">Of the world</h3>*@
                </div>
                
                <!--========== BEGIN .COL-MD-8 ==========-->
                <div class="col-md-8" style="padding-right: 5px;background-color: #f5e2ca;">
                    <div class="container">
                        @foreach (var latest in ViewBag.Latest)
                        {
                        <div class="col-md-12">
                            @if (latest.DefaultImage != "default.jpg")
                            {
                                <div class="col-md-6" style="padding-left: 40px;float: right;">
                                    <div class="entry-image">
                                        <a class="img-link" href="#">
                                            <img class="img-responsive img-full" src="~/Content/Uploads/TalentPlatform/@latest.DefaultImage" alt="Image">
                                        </a>
                                    </div>
                                </div>
                            }
                            <div class="entry-content" style="text-align:justify;">
                                <h3><b> @latest.Title </b>  </h3>
                                <p style="text-align: justify;"> @Html.Raw(latest.Description) </p>
                                <h4><span class="day">@latest.CreatedDate</span></h4>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div class="col-md-4">
                    @*<div class="block-title-1 center">
                <h3><strong> Categories </strong> </h3>
            </div>*@
                    <div class="sidebar-categories" style="border: 0px solid rgba(0, 0, 0, 0.2);background-color: #f0f9a7;">
                        <ul class="list list-mark-1">
                            @foreach (var latestCategory in ViewBag.LatestNews)
                            {
                                <li>
                                    <a href="@Url.Action("SubTalPla","User", new {  _subSTID = latestCategory.CategoryId })">
                                        <strong><u>@latestCategory.CategoryName</u></strong>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--========== END .MODULE  ==========-->

</div>
