﻿
@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<section class="module highlight">
    <div class="container">
        <div class="module-title">
            <h3 class="title"><span class="bg-12">Grand Sports</span></h3>
            <h3 class="subtitle"> Latest News</h3>
        </div>
        <div class="row no-gutter">
            <!--========== BEGIN .COL-MD-8 ==========-->
            <div class="col-md-8">

                <!--========== BEGIN .ROW ==========-->
                <div class="row no-gutter">
                    <!--========== BEGIN .COL-MD-6 ==========-->
                    @foreach (var latestCategory in ViewBag.Latest)
                    {
                        <div class="col-sm-6 col-md-12">
                            <div class="news">
                                <!-- Begin .item -->
                                <div class="item">
                                    <a href="@Url.Action("SubST","User", new { _subSTID = latestCategory.CategoryId })" class="external-link">

                                        <div class="item-image-1" style="width:30%;">
                                            @*<a class="img-link" href="#">*@
                                            <img class="img-responsive img-full" src="~/Content/Uploads/ScienceTechnology/@latestCategory.DefaultImage" alt="">
                                            @*</a>*@
                                        </div>
                                        <div class="item-content" style="padding: 0px 11px 6px;">
                                            <div class="title-left title-style04 underline04">
                                                <h3><strong>@latestCategory.Title</strong></h3>
                                            </div>
                                            <p style="text-align:justify;">
                                                @Html.Raw(latestCategory.ShortDescription)
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <!-- End .item -->
                            </div>
                        </div>
                        <!--========== END .COL-MD-6 ==========-->
                    }
                </div>

                <div class="row no-gutter">
                    <!--========== BEGIN .COL-MD-6 ==========-->
                    @foreach (var latestCategory1 in ViewBag.Categories)
                    {
                        <div class="col-sm-6 col-md-6">
                            <div class="news">
                                <!-- Begin .item -->
                                <div class="item">
                                    <a href="@Url.Action("SubST","User", new { _subSTID = latestCategory1.CategoryId })" class="external-link">

                                        <div class="item-image-1" style="width:30%;">
                                            <img class="img-responsive img-full" src="~/Content/Uploads/ScienceTechnology/@latestCategory1.DefaultImage" alt="">
                                        </div>
                                        <div class="item-content" style="padding: 0px 11px 6px;">
                                            <div class="title-left title-style04 underline04">
                                                <h3><strong>@latestCategory1.Title</strong></h3>
                                            </div>
                                            <p style="text-align:justify;">
                                                @Html.Raw(latestCategory1.SmallDescription)
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <!-- End .item -->
                            </div>
                        </div>
                        <!--========== END .COL-MD-6 ==========-->
                    }
                </div>
                <!--========== END .ROW ==========-->
            </div>
            <!--========== END .COL-MD-8 ==========-->
            <!--========== BEGIN .COL-MD-4 ==========-->
            <div class="col-md-4">
                <!--========== BEGIN FIXTURE & RESULTS ==========-->
                <!-- Begin .block-title-2 -->
                <div class="block-title-2">
                    <h3><strong>Football</strong> Fixtures & Results</h3>
                </div>
                <!-- End .block-title-1 -->
                <!-- Begin .matches -->
                <div class="matches">
                    <h4 class="matches-header">Mon 4th Dec</h4>
                    <ul class="matches-list">
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">MLS</span> <span class="matches-col team side-1">Sport KC</span> <span class="matches-col status"> <span class="score"> <span class="score-side">3</span> <span class="score-side">2</span></span> </span> <span class="matches-col team side-2">Columbo</span> <span class="matches-col info">FT</span></a> </li>
                    </ul>
                    <h4 class="matches-header">Tue 5th Dec</h4>
                    <ul class="matches-list">
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">MLS</span> <span class="matches-col team side-1">Colorado</span> <span class="matches-col status"> <span class="score"> <span class="score-side">0</span> <span class="score-side">0</span></span> </span> <span class="matches-col team side-2">Portland</span> <span class="matches-col info">FT</span></a> </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">MLS</span> <span class="matches-col team side-1">FC D</span> <span class="matches-col status"> <span class="score"> <span class="score-side">4</span> <span class="score-side">0</span></span> </span> <span class="matches-col team side-2">Orlando City</span> <span class="matches-col info">FT</span></a> </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">MLS</span> <span class="matches-col team side-1"> Galaxy</span> <span class="matches-col status"> <span class="score"> <span class="score-side">2</span> <span class="score-side">0</span></span> </span> <span class="matches-col team side-2">Vancouver</span> <span class="matches-col info">FT</span></a> </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">UCLQ</span> <span class="matches-col team side-1">Torshavn</span> <span class="matches-col status"> <span class="time">18:00</span></span> <span class="matches-col team side-2">Valletta</span> <span class="matches-col info">SS1</span></a> </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">UCLQ</span> <span class="matches-col team side-1">Tre Penne</span> <span class="matches-col status"> <span class="time">19:30</span></span> <span class="matches-col team side-2">TNS</span> <span class="matches-col info">SS1</span></a> </li>
                    </ul>
                    <h4 class="matches-header">Wed 6th Dec</h4>
                    <ul class="matches-list">
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">ELQ</span> <span class="matches-col team side-1">FC Infonet</span> <span class="matches-col status"><span class="time">16:45</span></span> <span class="matches-col team side-2">Bearts</span> <span class="matches-col info">SS1</span></a> </li>
                        <li class="match">
                            <a class="match-item" href="#">
                                <span class="matches-col match-label">UCLQ</span> <span class="matches-col team side-1">Lincoln Imps</span> <span class="matches-col status"><span class="time">18:00</span></span> <span class="matches-col team side-2">Flora Tall</span> <span class="matches-col info">SS1</span>
                            </a>
                        </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">EC</span> <span class="matches-col team side-1">Portugal</span> <span class="matches-col status"> <span class="time">20:00</span></span> <span class="matches-col team side-2">Wales</span> <span class="matches-col info"></span></a> </li>
                    </ul>
                    <h4 class="matches-header">Thu 7th Dec</h4>
                    <ul class="matches-list">
                        <li class="match">
                            <a class="match-item" href="#">
                                <span class="matches-col match-label">MLS</span> <span class="matches-col team side-1">NE Revolution</span> <span class="matches-col status"> <span class="time">00:30</span></span> <span class="matches-col team side-2">New York City</span> <span class="matches-col info">SS1</span>
                            </a>
                        </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">ELQ</span> <span class="matches-col team side-1">CS F Esch</span> <span class="matches-col status"> <span class="time">17:30</span></span> <span class="matches-col team side-2">Aberdeen</span> <span class="matches-col info">SS1</span></a> </li>
                        <li class="match"> <a class="match-item" href="#"> <span class="matches-col match-label">EC</span> <span class="matches-col team side-1">Germany</span> <span class="matches-col status"> <span class="time">20:00</span></span> <span class="matches-col team side-2">France</span> <span class="matches-col info"></span></a> </li>
                        <li class="match">
                            <a class="match-item" href="#">
                                <span class="matches-col match-label">MLS</span> <span class="matches-col team side-1">NE Revolution</span> <span class="matches-col status"> <span class="time">00:30</span></span> <span class="matches-col team side-2">New York City</span> <span class="matches-col info">SS1</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="list list-bar">
                        <li class="list_item"> <a class="link-action" href="#">All fixtures</a> </li>
                        <li class="list_item"> <a class="link-action" href="#">All results</a> </li>
                    </ul>
                </div>
                <!-- End .matches -->
                <!--========== END FIXTURE & RESULTS ==========-->
            </div>
            <!--========== END .COL-MD-4 ==========-->
        </div>
    </div>
</section>

