﻿
@{
    ViewBag.Title = "VideoFull";
    Layout = "~/Views/User/Shared/_UserLayoutPage.cshtml";
}

<!--========== BEGIN .CONTAINER ==========-->
<div class="container">
</div>
<!--========== END .CONTAINER ==========-->
<!--========== BEGIN .MODULE ==========-->
<section class="module">
    <div class="container">
        <!--========== BEGIN .BREAKING-NEWS ==========-->
        <!-- Begin .outer -->
        <div class="outer">
            <div class="breaking-ribbon">
                <h5>Videos List</h5>
            </div>
            <!-- Begin .newsticker -->
            <div class="newsticker">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <h4>
                                <span class="category"><center> @item.Title</center> </span>
                                @*<a href="#"> @item.Description</a>*@
                            </h4>
                        </li>
                    }

                    @*<li>
                            <h4><span class="category">Travel:</span><a href="#"> Man seriously hurt after jumping from upper level terminal while fleeing police.</a></h4>
                        </li>
                        <li>
                            <h4><span class="category">Politics:</span><a href="#"> We see momentous or informative events that are relevant to a wide audience.</a></h4>
                        </li>
                        <li>
                            <h4><span class="category">Health:</span><a href="#"> Evanston doctor gives up license after cancer drug probe.</a></h4>
                        </li>
                        <li>
                            <h4><span class="category">World:</span><a href="#"> North Coast fest organizers plan to decrease noise, increase security.</a></h4>
                        </li>
                        <li>
                            <h4><span class="category">Finance:</span><a href="#"> Credit rating hit, another big tax hike possible as clock ticks on pension overhaul.</a></h4>
                        </li>*@
                </ul>
                <div class="navi">
                    <button class="up"><i class="fa fa-caret-left"></i></button>
                    <button class="down"><i class="fa fa-caret-right"></i></button>
                </div>
            </div>
            <!-- End .newsticker -->
        </div>
        <!-- End .outer -->
        <!--========== END .BREAKING-NEWS ==========-->
        <!--========== BEGIN .ROW ==========-->
        <div class="row no-gutter">
            <!--========== BEGIN VIDEO ==========-->
            <div class="content-wrap">
                @foreach (var item in ViewBag.firstData)
                {
                    <div class="container">
                        <!-- Begin .video-full-->
                        <div class="video-full">
                            <div class="video-container">

                                <iframe src="~/Content/Uploads/Videos/@item.DefaultVideo" class="video" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


                                @*<iframe src="https://player.vimeo.com/video/97744717?title=0&byline=0&portrait=0" class="video" title="Advertisement"></iframe>*@
                            </div>
                        </div>
                        <!-- End .video-full -->
                        <!-- Begin .video-post-->
                        <div class="video-post">
                            <div class="col-sm-4 col-md-4">
                                <div class="item-content">
                                    <div class="video-post_content">
                                        <div class="title-left title-style04 underline04">
                                            <h3>Video Info</h3>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-user"></i> <span>Created On:</span> @item.PublishedDate</li>
                                            <li><i class="fa fa-calendar"></i> <span>Modified on:</span> @item.ModifyDate</li>
                                            @*<li><i class="fa fa-lightbulb-o"></i> <span>Skills:</span> HTML5 / PHP / CSS3</li>
                                                <li><i class="fa fa-link"></i> <span>Client:</span> <a href="#">Envato</a></li>*@
                                        </ul>
                                        <ul class="social-links list-inline">
                                            <li> <a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li> <a href="#" class="youtube"> <i class="fa fa-youtube"></i></a> </li>
                                            <li> <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> </li>
                                            <li> <a href="#" class="instagram"> <i class="fa fa-instagram"></i></a> </li>
                                            <li> <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> </li>
                                            <li> <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <div class="video-post_content">
                                    <div class="title-left title-style04 underline04">
                                        <h3>@item.Title</h3>
                                    </div>
                                    <div class="content">
                                        <p>@item.Description</p>
                                        @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis iaculis urna ut mollis. Praesent est elit, commodo in blandit ut, mollis eu erat. Nullam ac ipsum eget ante suscipit sagittis.</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .video-post -->
                    </div>

                }

                <!--========== END VIDEO ==========-->
                <!--========== BEGIN BIG-GALLERY ==========-->
                <!-- Begin .title-style01 -->
                <div class="title-style01">
                    <h3><strong>More</strong> Videos</h3>
                </div>
                <!-- End .title-style01 -->

                <!-- Begin .gallery-slider owl-carousel -->
                <div id="big-gallery-slider-3" class="owl-carousel" @*style="width: 246px;"*@>

                    @foreach (var item in Model)
                    {
                        <div class="big-gallery">
                            @*<img src="~/news_template/img/image_350x247.jpg" alt="">*@
                            <iframe src="~/Content/Uploads/Videos/@item.DefaultVideo" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            <span class="play-icon">
                                @Html.ActionLink("Play", "VideoDetail", new { videoID = item.VideoID })
                            </span>
                        </div>
                    }                  
                </div>
                <!-- End .gallery-slider owl-carousel -->

                <!--========== END BIG-GALLERY ==========-->

            </div>
        </div>
        <!--========== END .ROW ==========-->
    </div>
    <!--========== END .CONTAINER ==========-->
</section>
<!--========== END .MODULE ==========-->
