﻿@model ShreeyaBlog.Profile

@{
    ViewBag.Title = "ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ";
    Layout = "~/Views/User/Shared/_DashboardLayoutPage.cshtml";
}

@Html.Raw(TempData["msg"])

<h2 class="text-theme">View Profile </h2>

@using (Html.BeginForm("ViewProfile", "User", FormMethod.Post, new
{
    FileUpload = "FileUpload",@*date = "date",*@ enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <marquee style="color:red;"> Your Subscription will Expiry in : <b>@ViewBag.data</b> Days</marquee>

        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProfileID)

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Profile Picture </label>
                    <div class="col-md-8">
                        <img src="~/Content/Uploads/Profile/@Model.Image" alt="userimage" class="old img-thumbnail form-control" style="border-radius: 50%;height:200px;width:200px;background-color: #e3e3e3;" />

                        <img src='@("/Content/Upload/Profile" + 12 + "/photo")' alt="" id="instrumentImage" class="new img-thumbnail form-control" style="border-radius: 50%;height:200px;width:200px;background-color: #e3e3e3;display:none;" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        <br />
                        <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">First Name </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Last Name</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*<div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Date of Birth </label>
                    <div class="col-md-8">
                        <label> @(((DateTime)Model.DOB).ToString("yyyy-MM-dd"))</label>
                    </div>
                </div>
            </div>*@

            @*<div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Education Qualification </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @placeholder = "Education Qualification" } })
                        @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            @*<div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme">Tell Us Something About You </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.About, new { @class = "form-control", @placeholder = "Tell Us Something About You" })
                        @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            @*<div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Aim </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Aim, new { @class = "form-control", @placeholder = "Aim" })
                        @Html.ValidationMessageFor(model => model.Aim, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Contact No </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact No" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Email </label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Subscription Plan</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.SubscribedPlan, ViewBag.SubBag as SelectList, "", new { @class = "form-control", id = "SubscribedPlan", @disabled = "disabled" })

                        @*@Html.TextAreaFor(model => model.SubscribedPlan, new { @class = "form-control", @placeholder = "Subscription Plan" })*@
                        @Html.ValidationMessageFor(model => model.SubscribedPlan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Subscribed Online Tests </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.SubscribedTest, new { @class = "form-control", @placeholder = "Subscribed Online Tests" })
                        @Html.ValidationMessageFor(model => model.SubscribedTest, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*<div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Aspiring Exams</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.AspiringExams, new { @class = "form-control", @placeholder = "Aspiring Exams" })
                        @Html.ValidationMessageFor(model => model.AspiringExams, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            @*<div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-md-2 form-control-label text-theme"> Address </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Joined Date </label>
                    <div class="col-md-8">
                        @Model.CreatedDate
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-theme">Profile ID </label>
                    <div class="col-md-8">
                        @Model.ProfileID
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="submit" value="Update Profile" class="btn btn-block btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FileUpload").click(function () {
            $(".old").hide();
            $(".new").show("slow");
        });
    });
</script>