﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="ಆನಂದದ ಜ್ಞಾನಕೆ ಆತ್ಮವಿಶ್ವಾಸದ  ಅಭ್ಯಾಸಕ್ಕೆ  ಅನುದಿನದ ಸಂಗಾತಿ ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ ಸಪಧಾಾತ್ಮಕ ಜ್ಞಾನಕೆ,
          ವ್ಯಕ್ತಿತ್ವ  ಕುಶಲತೆಗೆ, ಸಾಮಾನ್ಯ  ಜ್ಞಾನಕೆ ಹಾಗು ನಿಮ್ಮ ಉದ್ಯೋಗ , ಅವ್ಕಾಶಗಳ ಮಾಹಿತಿಗೆ ನಿರಂತ್ರ ಜ್ಞಾನಧಾರೆ. ಸಮಗ್ರ  ಜ್ಞಾನ –  ಅಧ್ಯಯನ ಸಾಮಗ್ರಿ – ವ್ಯಕ್ತಿತ್ವ ವಿಕಸನ – ಅರೋಗ್ಯ  – ಉದ್ಯೋಗ –ಅವಕಾಶ  – ಸ್ಪರ್ಧೆ  – ಪರೀಕ್ಷಾಭ್ಯಾಸ ">

    <meta name="keywords" content="sjsmag,Shreeyaa,shreeya,study materials,IAS,KAS,Banking,Current Affairs,Personality,Person,Svadh jnaana sudhas,
          js magazine,Svadh jnana sudha magzine,The taste of education,www.sjsmag.com,Online test,Kannada current affairs,Adhyana saamagri">

    <meta name="author" content="ShreeyaBlog">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/shreey.ico" type="image/x-icon" />
    <link rel="icon" href="~/images/shreey.ico" type="image/x-icon">

    <link rel="manifest" href="~/Template/img/favicon/manifest.json">
    <link rel="mask-icon" href="~/Template/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- fonts -->
    <link rel="stylesheet" href="~/Template/fonts/md-fonts/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- animate css -->
    <link rel="stylesheet" href="~/Template/libs/animate.css/animate.min.css">

    <!-- jquery-loading -->
    <link rel="stylesheet" href="~/Template/libs/jquery-loading/dist/jquery.loading.min.css">

    <!-- octadmin main style -->
    <link id="pageStyle" rel="stylesheet" href="~/Template/css/style-twitter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- data table -->
    <link rel="stylesheet" href="~/Template/libs/tables-datatables/dist/datatables.min.css">
    <script src="~/Template/js/date.format.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- summernote -->
    <link rel="stylesheet" href="~/Template/libs/editor-summernote/dist/summernote-lite.css">

    <style>
        img.a {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        .link {
            width: max-content;
            padding: 6px;
            text-decoration: underline;
            background-color: #f6bb42;
            color: black;
            border-radius: 1px;
        }
    </style>

    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/jquery")
</head>

<body class="app sidebar-fixed aside-menu-off-canvas aside-menu-hidden header-fixed " style="background-image:url(../../Content/images/bgImg.jpg);">
    <header class="app-header navbar">

        <div class="hamburger hamburger--arrowalt-r navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <!-- end hamburger -->
        <a class="navbar-brand" href="#">
            <img src="~/images/mobilogo.png" alt="Site Logo" style="max-width: 97%;padding-top: 0px;padding-bottom: 10px;margin-top: -26px;" />
        </a>

        <div class="hamburger hamburger--arrowalt-r navbar-toggler sidebar-toggler d-md-down-none mr-auto">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

        <ul class="nav navbar-nav ">
            <li class="nav-item dropdown">
                <a class="btn btn-round btn-theme btn-sm" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    <span class="">
                        @User.Identity.Name
                        <i class="fa fa-user-circle-o"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-menu animated flipInY ">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fa fa-lock"></i>
                            <span class="">Log off </span>
                        </a>
                    }
                </div>
            </li>
        </ul>

    </header>

    <div class="app-body">
        <main class="main">
            <div class="container">
                <div class="animated fadeIn">

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card card-accent-theme">
                                <div class="card-body">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </main>
    </div>

    <footer class="app-footer" @*style="background-color: #00aced;"*@>
        <center>
            <p>
                Copyright ©
                <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script>
                <a href="#">SHLR Technosoft PVT LTD</a>
            </p>
        </center>

    </footer>
    <!-- Bootstrap and necessary plugins -->
    @RenderSection("scripts", required: false)
    <script src="~/Template/libs/jquery/dist/jquery.min.js"></script>

    <script src="~/Template/libs/popper.js/dist/umd/popper.min.js"></script>

    <script src="~/Template/libs/Bootstrap/bootstrap.min.js"></script>

    <script src="~/Template/libs/PACE/pace.min.js"></script>

    <script src="~/Template/libs/chart.js/dist/Chart.min.js"></script>

    <script src="~/Template/libs/nicescroll/jquery.nicescroll.min.js"></script>

    <script src="~/Template/libs/jquery-knob/dist/jquery.knob.min.js"></script>

    <script src="~/Template/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <!-- jquery-loading -->
    <script src="~/Template/libs/jquery-loading/dist/jquery.loading.min.js"></script>
    <!-- octadmin Main Script -->
    <script src="~/Template/js/app.js"></script>

    <!-- dashboard-ecom script -->
    <script src="~/Template/js/dashboard-ecom-widgets.js"></script>

    <!-- datatable examples -->
    <script src="~/Template/js/table-datatable-example.js"></script>
    <!--datatables -->
    <script src="~/Template/libs/tables-datatables/dist/datatables.min.js"></script>

    <!--summernote -->
    <script src="~/Template/libs/editor-summernote/dist/summernote-lite.js"></script>

    <!-- summernote -example -->
    <script src="~/Template/js/editor-summernote-example.js"></script>

</body>

</html>