﻿@model ShreeyaBlog.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<section class="container-pages">

    <div class="pages-tag-line text-white">
        <div class="h4"><b>ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ</b></div>
    </div>

    <div class="card pages-card col-lg-4 col-md-6 col-sm-6">
        <div class="card-body ">
            <div class="h4 text-center text-theme"><strong>Change Password</strong></div>
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            }

            <!-- end form -->
            <div class="text-center">
                <small>
                    Please
                    <a href="@Url.Action("Login", "Account")" class="text-theme">SignIn </a>
                </small>
            </div>

        </div>
    </div>
</section>

<div class="half-circle"></div>
<div class="small-circle"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

