﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Admin, Dashboard, Bootstrap" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ</title>

    <!-- Favicon -->
    @*<link rel="shortcut icon" href="~/news_template/img/favicon.png" type="image/x-icon" />*@

    <link rel="apple-touch-icon" sizes="180x180" href="~/Template/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Template/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Template/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Template/img/favicon/manifest.json">
    <link rel="mask-icon" href="~/Template/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- fonts -->
    <link rel="stylesheet" href="~/Template/fonts/md-fonts/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Template/libs/animate.css/animate.min.css">

    <!-- jquery-loading -->
    <link rel="stylesheet" href="~/Template/libs/jquery-loading/dist/jquery.loading.min.css">
    <!-- Template main style -->
    <link id="pageStyle" rel="stylesheet" href="~/Template/css/style-cyan.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()

    <div id="copyright">
        <script language="JavaScript" type="text/javascript">document.write((new Date()).getFullYear());</script>
        <a href="http://sjsmag.com/" target="_blank">sjsmag</a>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {

        });
    </script>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Template/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Template/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Template/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/Template/libs/PACE/pace.min.js"></script>
    <script src="~/Template/libs/chart.js/dist/Chart.min.js"></script>
    <script src="~/Template/libs/nicescroll/jquery.nicescroll.min.js"></script>

    <script src="~/Template/libs/jquery-knob/dist/jquery.knob.min.js"></script>

    <!-- jquery-loading -->
    <script src="~/Template/libs/jquery-loading/dist/jquery.loading.min.js"></script>
    <!-- Template Main Script -->
    <script src="~/Template/js/app.js"></script>
</body>
</html>
