﻿
@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<div class="row" style="padding-top:50px; ">
    <br />
</div>


<div class="row">
    <div class="col-md-8">
        <h2>@ViewBag.Title.</h2>
        <br />
        Please check your Email Inbox, a confirm Email is Sent to <b>@ViewBag.Email</b>
    </div>
</div>
