﻿@{
    ViewBag.Title = "Forgot Password Confirmation";

}

<div style="padding:120px;padding-left:1px;">

    <hgroup class="title"><h1>@ViewBag.Title.</h1></hgroup>
    <div>
        <center>Please check your email to reset your password.</center>
    </div>

</div>
