﻿@model ShreeyaBlog.Models.ForgotPasswordViewModel
@{
    /**/
    ViewBag.Title = "Forgot your password?";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h2 class="text-theme"><small> Forgot your password ?</small></h2>
        <br />
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Enter your Email id", new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>

    </div>
}

