﻿@using ShreeyaBlog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";
}

@*@if (ViewBag.ProfileID != null)
    {
        <script src="~/Scripts/bootstrap.js" type="text/javascript">


                alert("@ViewBag.ProfileID");

        </script>
    }*@
@{
    var parameter = Request.QueryString["ac"];
    //Check parameter here and display Message
    if (parameter == "success")
    {
        Response.Write("<script>alert('Your account has been registered successfully')</script>");

    }
}

@if (TempData["Msg"] != null)
{
    <script>
        alert('@TempData["Msg"]');
    </script>
    TempData["Msg"] = null;
}
<section class="container-pages">

    <div class="pages-tag-line text-white">
        <div class="h4"><b>ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ</b></div>
    </div>

    <div class="card pages-card col-lg-4 col-md-6 col-sm-6">
        <div class="card-body ">
            <div class="h4 text-center text-theme"><strong>Login</strong></div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-envelope"></i>
                        </span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                </div>

                <div class="form-group form-actions">
                    <center>
                        <input type="submit" class="btn btn-default" value="Login" />
                    </center>
                </div>
            }

            <!-- end form -->
            <div class="text-center">
                <small>
                    Don't you have an account ? Please
                    <a href="@Url.Action("Register", "Account")" class="text-theme">Signup </a>
                    <br />
                    <a href="@Url.Action("ForgotPassword", "Account")" class="text-theme"> FogotPassword ? </a>
                </small>
            </div>

        </div>
    </div>
</section>

<div class="half-circle"></div>
<div class="small-circle"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





