﻿@model ShreeyaBlog.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
    Layout = "~/Views/Account/Shared/_AccountLayoutPage.cshtml";
}

<style>
    #weblogin {
        display: none;
    }

    @@media screen and (min-width: 480px) {
        #weblogin {
            display: block;
        }
    }

    #applogin {
        display: block;
    }

    @@media screen and (min-width: 480px) {
        #applogin {
            display: none;
        }
    }
</style>

@if (ViewBag.ProfileID != null)
{
    <script src="~/Scripts/bootstrap.js" type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.ProfileID");
        };
    </script>
}



<section class="container-pages">

    <div class="pages-tag-line text-white">
        <div class="h4"><b>ಸ್ವಾಧ್ ಜ್ಞಾನ ಸುಧಾ</b></div>
    </div>

    <div class="card pages-card col-lg-4 col-md-6 col-sm-6">
        <div class="card-body ">

            <!-- end form -->
            <div class="text-center" id="weblogin">
                <small>
                    Already have an account ? Please
                    <a href="@Url.Action("Login", "Account")" class="text-theme">Login </a>
                </small>
            </div>

            <div class="text-center" id="applogin">
                <small>
                    Already have an account ? Please<br />
                    <a href="#" class="text-theme">Close & Login through App </a>
                </small>
            </div>

            <div>
                @if (ViewBag.ProfileID != null)
                {
                    <div class="small text-center text-success"> @ViewBag.ProfileID </div>
                }
            </div>

            <div>
                <br />
            </div>
            <div class="h4 text-center text-theme"><strong>Signup</strong></div>
            <div class="small text-center text-dark"> Create an Account </div>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", FirstName = "FirstName", LastName = "LastName", MobileNo = "MobileNo", SubscribedPlan = "SubscribedPlan", SubscribedTest = "SubscribedTest", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-user"></i>
                        </span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                    </div>
                </div>



                ////Profile Section Start

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-user"></i>
                        </span>

                        @Html.TextBox("FirstName", null, new { @class = "form-control", @placeholder = "FirstName" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-user"></i>
                        </span>
                        @Html.TextBox("LastName", null, new { @class = "form-control", @placeholder = "LastName" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-phone"></i>
                        </span>
                        @Html.TextBox("MobileNo", null, new { @class = "form-control", @placeholder = "MobileNo" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-bookmark"></i>
                        </span>
                        @Html.DropDownList("SubscribedPlan", ViewBag.SubBag as SelectList, "", new { @class = "form-control", @required = "required", id = "SubscribedPlan" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon text-theme">
                            <i class="fa fa-book"></i>
                        </span>
                        @Html.TextBox("SubscribedTest", null, new { @class = "form-control", @placeholder = "SubscribedTest" })
                    </div>
                </div>



                ////Profile Section End



                <div class="form-group form-actions">
                    <center>
                        <input type="submit" id="btnSubmit" class="btn btn-default" value="Register" />
                    </center>
                </div>

            }



        </div>
    </div>
</section>

<div class="half-circle"></div>
<div class="small-circle"></div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var plan = $("#SubscribedPlan  option:selected");
            if ($("#Email").val() == "") {
                alert("Please enter Email ID");
                return false;
            }
            else if ($("#Password").val() == "") {
                alert("Please enter Password");
                return false;
            }
            else if ($("#ConfirmPassword").val() == "") {
                alert("Please enter Confirm Password ");
                return false;
            }

            else if ($("#FirstName").val() == "") {
                alert("Please enter first Name");
                return false;
            }
            else if ($("#LastName").val() == "") {
                alert("Please enter Last Name");
                return false;
            }
            else if ($("#MobileNo").val() == "") {
                alert("Please enter Mobile Number");
                return false;
            }
            else if (plan.val() == "" || plan.val() == 0) {
                alert("Please select Subscription Plan!");
                return false;
            }
            else if ($("#SubscribedTest").val() == "") {
                alert("Please enter Subscribed Test");
                return false;
            }


        });
        return true;
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

