﻿@model ShreeyaBlog.Image

@{
    ViewBag.Title = "ShreeyaBlog - Adds Details";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Post</a>
    </li>
    <li class="breadcrumb-item active">Adds Details</li>
</ol>

<h2>Adds Details</h2>

<div>
    <h4>Image</h4>
    <hr />
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayFor(model => model.Title)
            </th>
        </tr>
        <tr>
            <div class="form-group">
                @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="~/Content/Uploads/Advertise/@ViewBag.PostImages" width="600" height="300" class="form-control" />

                    @*<iframe width="560" height="315" src="~/Content/Uploads/Posts/@ViewBag.PostImages" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@

                </div>
            </div>

        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>

            <th>
                @Html.DisplayFor(model => model.PublishedDate)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>

            <th>
                @Html.DisplayFor(model => model.ModifyDate)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>

            <th>
                @Html.DisplayFor(model => model.IsDeleted)
            </th>

        </tr>
    </table>
</div>
<p>
    <a href="@Url.Action("ListAdvertise", "Admin")" class="btn btn-default"><span>Back to List</span> </a>
</p>
