﻿@*@model ShreeyaBlog.Slide*@
@model ShreeyaBlog.Testslide 
@{
    ViewBag.Title = "addSlideContent";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Slide</a>
    </li>
    <li class="breadcrumb-item active">New Slide </li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Text Editor Example", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("TextEditor", new { @class = "form-control", @id = "summernote" })
                    @Html.ValidationMessageFor(model => model.Content_4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Content 1", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content_1, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Content_1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Content 2", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content_2, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Content_2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Content 3", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content_3, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Content_3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Content 4", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Content_4, new { @class = "form-control", @id = "summernote" })

                    @Html.ValidationMessageFor(model => model.Content_4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Font Color", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.fontcolor, new List<SelectListItem>
                   {
                      new SelectListItem{ Text="red", Value = "red" },
                      new SelectListItem{ Text="blue", Value = "blue" },
                      new SelectListItem{ Text="green", Value = "green" },
                      new SelectListItem{ Text="yellow", Value = "yellow" },
                      new SelectListItem{ Text="orange", Value = "orange" },
                      new SelectListItem{ Text="black", Value = "black" },
                      new SelectListItem{ Text="white", Value = "white" },
                      new SelectListItem{ Text="cyan", Value = "cyan" },
                      new SelectListItem{ Text="goldenrod", Value = "goldenrod" },
                   },new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Background Color", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Color, new List<SelectListItem>
                   {
                      new SelectListItem{ Text="red", Value = "red" },
                      new SelectListItem{ Text="blue", Value = "blue" },
                      new SelectListItem{ Text="green", Value = "green" },
                      new SelectListItem{ Text="yellow", Value = "yellow" },
                      new SelectListItem{ Text="orange", Value = "orange" },
                      new SelectListItem{ Text="black", Value = "black" },
                      new SelectListItem{ Text="white", Value = "white" },
                      new SelectListItem{ Text="cyan", Value = "cyan" },
                      new SelectListItem{ Text="goldenrod", Value = "goldenrod" },
                   },new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@

    <div class="form-horizontal">
        <h4>Slide</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Slide Content", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "summernote" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Background Color", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BGcolor, new List<SelectListItem>
               {
                  new SelectListItem{ Text="red", Value = "red" },
                  new SelectListItem{ Text="blue", Value = "blue" },
                  new SelectListItem{ Text="green", Value = "green" },
                  new SelectListItem{ Text="yellow", Value = "yellow" },
                  new SelectListItem{ Text="orange", Value = "orange" },
                  new SelectListItem{ Text="black", Value = "black" },
                  new SelectListItem{ Text="white", Value = "white" },
                  new SelectListItem{ Text="cyan", Value = "cyan" },
                  new SelectListItem{ Text="goldenrod", Value = "goldenrod" },
               },new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
