﻿@model ShreeyaBlog.Testslide

@{
    ViewBag.Title = "DeleteSlide";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Slide</a>
    </li>
    <li class="breadcrumb-item active"> Delete </li>
</ol>

<h3 style="text-transform:none;">Are you sure you want to delete this?</h3>
@*<div>
        <h4>Slide</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Content_1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content_1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content_2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content_2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content_3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content_3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content_4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content_4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "summernote" })
            @*@Html.DisplayFor(model => model.Content)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    @using (Html.BeginForm("DeleteSlide", "Admin"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>