﻿@model ShreeyaBlog.Editorial

@{
    ViewBag.Title = "DeleteEditorial";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<style>
    .btn_c {
        margin: 5px;
        border-radius: 4px !important;
        border: 0px solid transparent;
        padding: 0.275rem 0.55rem;
        -webkit-box-shadow: 0px 5px 25px -3px #c2cfd6;
        -moz-box-shadow: 0px 5px 25px -3px #c2cfd6;
        box-shadow: 0px 5px 25px -3px #c2cfd6;
        background: #40A9FF;
        color: white;
    }
</style>
<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Post</a>
    </li>
    <li class="breadcrumb-item active">Remove Post </li>
</ol>

<div class="row">
    <div class="col-md-6">
        <h5>Are you sure you want to delete this?</h5>
    </div>

    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn_c" />
                </div>

            </div>

        }
    </div>
</div>

<div class="table-responsive">
    <div class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditorialImage)
            </dt>

            <dd>
                <img src="~/Content/Uploads/Editorial/@ViewBag.editorialImg" width="600" height="300" class="form-control" />
            </dd>
            @*@Html.DisplayFor(model => model.EditorialImage)*@
            

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.isPublished)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isPublished)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.isDeleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isDeleted)
                </dd>*@

        </dl>

    </div>
</div>

@Html.ActionLink("Back to List", "ListEditorial")
