﻿@model ShreeyaBlog.Video

@{
    ViewBag.Title = "ShreeyaBlog - DeleteVideo";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<style>
    .btn_c {
        margin: 5px;
        border-radius: 4px !important;
        border: 0px solid transparent;
        padding: 0.275rem 0.55rem;
        -webkit-box-shadow: 0px 5px 25px -3px #c2cfd6;
        -moz-box-shadow: 0px 5px 25px -3px #c2cfd6;
        box-shadow: 0px 5px 25px -3px #c2cfd6;
        background: #40A9FF;
        color: white;
    }
</style>

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Video</a>
    </li>
    <li class="breadcrumb-item active">Delete Video</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <h5>Are you sure you want to delete this?</h5>
    </div>

    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn_c" />
                </div>

            </div>

        }
    </div>
</div>

<div class="table-responsive">
    <div class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayName("Video")
            </dt>

            <dd>
                <iframe width="600" height="300" src="~/Content/Uploads/Videos/@ViewBag.VideoImages" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                @*@Html.DisplayFor(model => model.DefaultVideo)*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            @*<dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>*@

            @*<dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublishedDate)
            </dd>

            @*<dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>*@

        </dl>

    </div>
</div>

@Html.ActionLink("Back to List", "ListVideo")