﻿@model ShreeyaBlog.Testslide

@{
    ViewBag.Title = "DeleteSlides";
    Layout = "~/Views/Admin/Shared/_SlideLayoutPage.cshtml";
}

<h2>DeleteSlides</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Testslide</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BGcolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BGcolor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
