﻿@model IEnumerable<ShreeyaBlog.Models.PersonalityPostC>
@{
    ViewBag.Title = "DeletePersonality";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Personality</a>
    </li>
    <li class="breadcrumb-item active">Delete </li>
</ol>

<div class="row" style="padding: 20px;">
    <div class="col-md-8">
        <h5 style="text-transform: none;">Deleteing this Personality will delete the associated Posts as Well..!</h5>
        <h5 style="text-transform: none;">Are you sure you want to delete this ?</h5>
    </div>

    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn_c" />
                </div>

            </div>
        }
    </div>
</div>

<div class=""></div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalityPostID)
                </th>
                <th>
                    @Html.DisplayName("Category Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DefaultImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalityPostID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @*@Html.DisplayFor(modelItem => item.DefaultImage)*@
                    <img src="~/Content/Uploads/Personality/@item.DefaultImage" style="height:100px;width :200px;" class="form-control" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

            </tr>
        }

    </table>
</div>
