﻿@model ShreeyaBlog.STPost

@{
    ViewBag.Title = "editST_Post";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2 class="text-theme">Science Technology - Edit</h2>

@using (Html.BeginForm("editST_Post", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.Label("Parent Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SubID, ViewBag.bindCategoryST as SelectList, "", new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.SubID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "summernote" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <img src="~/Content/Uploads/ScienceTechnology/@ViewBag.DefaultImage" width="600" height="200" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Change Image")
            <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <img src='@("/Content/Upload/ScienceTechnology" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };

</script>