﻿@model ShreeyaBlog.Editorial

@{
    ViewBag.Title = "EditEditorial";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}


<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Editorial</a>
    </li>
    <li class="breadcrumb-item active">Edit Editorial </li>
</ol>

@if (ViewBag.msg != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.msg");
        };
    </script>
}
@{
    ShreeyaBlogEntities db = new ShreeyaBlogEntities();
}


@using (Html.BeginForm("EditEditorial", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EditorialID)


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "summernote" })
                @*@Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = "required" } })*@
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <img src="~/Content/Uploads/Editorial/@ViewBag.editorialImg" width="600" height="200" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Change Image")
                <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                @*<input type="file" name="PhotoUpload" class="form-control" accept="image/*" onchange="previewImage(event)" />*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <img src='@("/Content/Upload/Editorial" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
            </div>
        </div>



        <div class="row">

            <div class=" col-md-4" style="float:right;">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <a href="@Url.Action("ListEditorial", "Admin")" class="btn_a"><span>  Back to List </span> </a>
                </div>
            </div>

        </div>

    </div>
}

<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

