﻿
@{
    ViewBag.Title = "ShreeyaBlog - Index";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Dashboard </li>
</ol>




