﻿@model IEnumerable<ShreeyaBlog.Models.PostCategory>

@{
    ViewBag.Title = "ListHealthPost";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Health Post</a>
    </li>
    <li class="breadcrumb-item active">View Post </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddHealthPost", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>

                <th>
                   Title
                </th>

                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditHealthPost", new { healID = item.PostId }, new { @class = "btn_a" }) |
                    @Html.ActionLink("Details", "DetailsHealthPost", new { healID = item.PostId }, new { @class = "btn_b" }) |
                    @Html.ActionLink("Delete", "DeleteHealthPost", new { healID = item.PostId }, new { @class = "btn_c" })
                </td>
            </tr>
        }
    </table>
</div>