﻿@model IEnumerable<ShreeyaBlog.Models.PostCategory>

@{
    ViewBag.Title = "ListPost";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Post</a>
    </li>
    <li class="breadcrumb-item active">View Post </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddPost", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditPost", new { postID = item.PostId }, new { @class = "btn_a" }) |
                        @Html.ActionLink("Details", "DetailsPost", new { postid = item.PostId }, new { @class = "btn_b" }) |
                        @Html.ActionLink("Delete", "DeletePost", new { postID = item.PostId }, new { @class = "btn_c" })
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</div>

