﻿@model IEnumerable<ShreeyaBlog.Talent>

@{
    ViewBag.Title = "ListTalent";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Talent</a>
    </li>
    <li class="breadcrumb-item active">Talent </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddTalent", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    Name
                </th>
                <th>
                   Created Date
                </th>
                <th>
                    Parent Category
                </th>
                <th>
                    Active
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @{
                        try
                        {
                            var datap = dbcontext.Talents.Where(c => c.ID == item.ParentID).FirstOrDefault();
                            <span> @datap.Name </span>
                        }
                        catch (Exception)
                        {
                            <span> - </span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @if (item.isActive != true)
                    {
                        @Html.ActionLink("Activate", "ActivateTalent", new { _talentID = item.ID }, new { @class = "btn_d" })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "ActivateTalent", new { _talentID = item.ID }, new { @class = "btn_a" })
                    }|
                    @Html.ActionLink("Delete", "DeleteTalent", new { _talentID = item.ID }, new { @class = "btn_c" }) |
                    @Html.ActionLink("Edit", "EditTalent", new { _talentID = item.ID }, new { @class = "btn_b" })
                </td>
            </tr>
        }

    </table>
</div>