﻿@model IEnumerable<ShreeyaBlog.StudyMaterialPost>

@{
    ViewBag.Title = "ListDeletedStudyMatPost";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Study Material</a>
    </li>
    <li class="breadcrumb-item active">View Deleted Post </li>
</ol>

@*<div class="form-group" style="float:right">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("AddStudyMatPost", "Admin")" class="btn btn-default">
                <span>  Create New</span>
            </a>
        </div>
    </div>*@

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100">
        <thead style="color:#00aced;">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DefaultImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ModifyDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>*@
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DefaultImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPublished)
                    </td>*@
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "EditStudyMatPost", new { smID = item.StudyMaterialID }, new { @class = "btn_a" }) |
                    @Html.ActionLink("Details", "DetailsStudyMatPost", new { smID = item.StudyMaterialID }, new { @class = "btn_b" }) |
                    @Html.ActionLink("Remove", "RemoveStudyMatPost", new { smID = item.StudyMaterialID }, new { @class = "btn_c" })
                </td>
            </tr>
        }

    </table>
</div>