﻿@model IEnumerable<ShreeyaBlog.Image>

    @{
    ViewBag.Title = "ShreeyaBlog - ListAdvertise";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
    }

    <ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
        <li class="breadcrumb-item ">
            <a href="">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Adds</a>
        </li>
        <li class="breadcrumb-item active">View Advertisement </li>
    </ol>

    <div class="form-group" style="float:right">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("NewAdvertise", "Admin" )" class="btn btn-default">
                <span>  Create New</span>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
            <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultImage)
                </th>
                @*
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>*@
                <th></th>
            </tr>
            </thead> 

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img src="~/Content/Uploads/Advertise/@item.DefaultImage" style="height:100px;width :200px;" class="form-control" />
                        @*@Html.DisplayFor(modelItem => item.DefaultImage)*@
                    </td>
                    @*
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "EditAdvertise", new { imgid = item.ImageID }, new { @class = "btn_a" }) |
                        @Html.ActionLink("Details", "AddDetails", new { detailstid = item.ImageID }, new { @class = "btn_b" }) |
                        @Html.ActionLink("Delete", "DeleteAdds", new { deleteid = item.ImageID }, new { @class = "btn_c" })
                    </td>
                </tr>
            }

        </table>
    </div>
        
