﻿@model IEnumerable<ShreeyaBlog.Editorial>

@{
    ViewBag.Title = "ListEditorial";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Editorial</a>
    </li>
    <li class="breadcrumb-item active">View Editorial </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddEditorial", "Admin")" class="btn btn-default">
            <span>Create New</span>
        </a>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                <th>
                    @Html.DisplayName("Editorial Image")
                </th>
                <th>
                    Published
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @*style="height:100px;width :200px;" class="form-control"*@
                    <img src="~/Content/Uploads/Editorial/@item.EditorialImage" style="height:100px;width :200px;" class="form-control" />

                    @*@Html.DisplayFor(modelItem => item.EditorialImage)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isPublished)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditEditorial", new { Editorialid = item.EditorialID }, new { @class = "btn_a" }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.EditorialID }) |*@
                    @Html.ActionLink("Delete", "DeleteEditorial", new { Editorialid = item.EditorialID }, new { @class = "btn_c" })
                </td>
            </tr>
        }

    </table>
</div>

