﻿@model IEnumerable<ShreeyaBlog.ScienceTechnology>

@{
    ViewBag.Title = "listST";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@{
    ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
}
<h2>Science Technology</h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("insertST", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayName("Parent Category")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            try
                            {
                                var datap = dbcontext.ScienceTechnologies.Where(c => c.ID == item.ParentID).FirstOrDefault();
                                <span> @datap.Name</span>
                            }
                            catch (Exception ex)
                            {
                                <span> - </span>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @if (item.Active != true)
                        {
                            @Html.ActionLink("Activate", "activateST", new { _stID = item.ID }, new { @class = "btn_a" })
                        }
                        else
                        {
                            @Html.ActionLink("DeActivate", "activateST", new { _stID = item.ID }, new { @class = "btn_b" })
                        } |
                        @*@Html.ActionLink("Detail", "stPostdetail", new { _stID = item.ID }, new { @class = "btn_c" }) |
                        @Html.ActionLink("Edit", "stPostedit", new { _stID = item.ID }, new { @class = "btn_d" }) |*@
                        @Html.ActionLink("Delete", "deleteST", new { _stID = item.ID }, new { @class = "btn_b" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
