﻿@model IEnumerable<ShreeyaBlog.Models.ExamPostModel>

@{
    ViewBag.Title = "ListExamPost";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Exam Post</a>
    </li>
    <li class="breadcrumb-item active">View Post </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddExamPost", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ExamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>

                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditExamPost", new { examID = item.ExamPostID }, new { @class = "btn_a" }) |
                    @Html.ActionLink("Details", "DetailsExamPost", new { examID = item.ExamPostID }, new { @class = "btn_b" }) |
                    @Html.ActionLink("Delete", "DeleteExamPost", new { examID = item.ExamPostID }, new { @class = "btn_c" })
                </td>
            </tr>
        }
    </table>
</div>