﻿@model IEnumerable<ShreeyaBlog.Models.Video>

@{
    ViewBag.Title = "ShreeyaBlog - ListVideo";
      Layout = "~/Views/Administrator/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Video</a>
    </li>
    <li class="breadcrumb-item active">View VideoList</li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddVideo", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultVideo)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
                @*<th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>*@
                @*<th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>*@
                <th>
                    @Html.DisplayName("Actions")
                </th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <iframe width="400" height="100" src="~/Content/Uploads/Videos/@item.DefaultVideo" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        @*@Html.DisplayFor(modelItem => item.DefaultVideo)*@
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsPublished)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ModifyDate)
                        </td>*@

                    <td>
                        @Html.ActionLink("Edit", "EditVideo", new { videoID = item.VideoID }, new { @class = "btn_a" }) |
                        @Html.ActionLink("Details", "DetailsVideo", new { videoID = item.VideoID }, new { @class = "btn_b" }) |
                        @Html.ActionLink("Delete", "DeleteVideo", new { videoID = item.VideoID }, new { @class = "btn_c" })
                    </td>
                </tr>
            }

    </table>
</div>
