﻿@model IEnumerable<ShreeyaBlog.PersonalityPost>

@{
    ViewBag.Title = "ListDeletedPesonlatiyPost";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Personality</a>
    </li>
    <li class="breadcrumb-item active">View Deleted Post </li>
</ol>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DefaultImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ModifyDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DefaultImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPublished)
                    </td>*@
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "EditPesonlatiyPost", new { persID = item.PersonalityPostID }, new { @class = "btn_a" }) |
                    @Html.ActionLink("Details", "DetailsPesonlatiyPost", new { persID = item.PersonalityPostID }, new { @class = "btn_b" }) |
                    @Html.ActionLink("Remove", "RemovePesonlatiyPost", new { persID = item.PersonalityPostID }, new { @class = "btn_c" })
                </td>
            </tr>
        }

    </table>
</div>
