﻿@model IEnumerable<ShreeyaBlog.Personality>

@{
    ViewBag.Title = "ListPersonality";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Personality</a>
    </li>
    <li class="breadcrumb-item active">View Personality </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddPersonality", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayName("Parent Personality")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isActive)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            ShreeyaBlogEntities dbcontext = new ShreeyaBlogEntities();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalityName)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                </td>
                <td>
                    @{
                        try
                        {
                            var datap = dbcontext.Personalities.Where(c => c.PersonalityId == item.ParentID).FirstOrDefault();
                            <span> @datap.PersonalityName</span>
                        }
                        catch (Exception ex)
                        {
                            <span> - </span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @if (item.isActive != true)
                    {
                        @Html.ActionLink("Activate", "ActivatePersonality", new { persID = item.PersonalityId }, new { @class = "btn_d" })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "DeActivatePersonality", new { persID = item.PersonalityId }, new { @class = "btn_a" })
                    }|
                    @Html.ActionLink("Remove", "DeletePersonality", new { persID = item.PersonalityId }, new { @class = "btn_c" }) |
                    @Html.ActionLink("Edit", "EditPersonality", new { persID = item.PersonalityId }, new { @class = "btn_b" })
                </td>
            </tr>
        }

    </table>
</div>
