﻿@model IEnumerable<ShreeyaBlog.Models.PostCategory>

@{
    ViewBag.Title = "listST_Post";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2 class="text-theme">Science Technology</h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("insertST_Post", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    Category
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>

                <th></th>
            </tr>
        </thead>
        @{ int i = 0;}
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PublishedDate))
                    </td>
                    <td>
                        @Html.ActionLink("Details", "detailsST_Post", new { _stPostID = item.PostId }, new { @class = "btn_a" } ) |

                        @Html.ActionLink("Edit", "editST_Post", new { _stPostID = item.PostId }, new { @class = "btn_b" }) |

                        @Html.ActionLink("Delete", "deleteST_Post", new { _stPostID = item.PostId }, new { @class = "btn_c" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> 