﻿@model IEnumerable<ShreeyaBlog.Models.StudyMaterialCategory>

@{
    ViewBag.Title = "ListStudyMatPost";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Study Material</a>
    </li>
    <li class="breadcrumb-item active">View Post </li>
</ol>

<div class="form-group" style="float:left">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("AddStudyMatPost", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    Title
                </th>

                <th>
                    StudyMaterial Name
                </th>
                <th>
                   Created Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyMaterialName)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditStudyMatPost", new { smID = item.StudyMaterialID }, new { @class = "btn_a" }) |
                        @Html.ActionLink("Details", "DetailsStudyMatPost", new { smID = item.StudyMaterialID }, new { @class = "btn_b" }) |
                        @Html.ActionLink("Delete", "DeleteStudyMatPost", new { smID = item.StudyMaterialID }, new { @class = "btn_c" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
