﻿@model IEnumerable<ShreeyaBlog.Testslide>

@{
    ViewBag.Title = "ListSlide";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Slide</a>
    </li>
    <li class="breadcrumb-item active"> List </li>
</ol>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("addSlideContent", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content_4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>

            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content_3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content_4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditSlide", new { slideid = item.SlideID }, new { @class = "btn_c" }) |
                    @Html.ActionLink("Preview", "ViewSlide", new { slideid = item.SlideID }, new { @class = "btn_c" }) |

                    @if (item.IsActive != true)
                    {
                        @Html.ActionLink("Activate", "ActivateSlide", new { slideid = item.SlideID }, new { @class = "btn_d" })
                    }
                    else
                    {
                        @Html.ActionLink("Deactivate", "DeActivateSlide", new { slideid = item.SlideID }, new { @class = "btn_a" })
                    }|
                    @Html.ActionLink("Delete", "DeleteSlide", new { slideid = item.SlideID }, new { @class = "btn_c" }) |

                </td>
            </tr>
        }

    </table>*@


<table class="table">
    <tr>
        <th>ID</th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BGcolor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            Actions
        </th>
    </tr>
    @{int i = 0; }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>
                @Html.ActionLink("Preview", "testview", new { slideid = item.ID }, new { @class = "btn_d" }) 
                @*Slide Content @i*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BGcolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @*@Html.ActionLink("Preview", "ViewSlide", new { slideid = item.ID }, new { @class = "btn_c" }) |testview*@

                

                @Html.ActionLink("Edit", "slideedit", new { slideid = item.ID }, new { @class = "btn_c" }) |

                @if (item.isActive != true)
                {
                    @Html.ActionLink("Activate", "ActivateSlide", new { slideid = item.ID }, new { @class = "btn_d" })
                }
                else
                {
                    @Html.ActionLink("Deactivate", "DeActivateSlide", new { slideid = item.ID }, new { @class = "btn_a" })
                }|
                @Html.ActionLink("Delete", "DeleteSlide", new { slideid = item.ID }, new { @class = "btn_c" }) |

            </td>
        </tr>
    }

</table>
