﻿@model ShreeyaBlog.Image

@{
    ViewBag.Title = "ShreeyaBlog - NewAdvertise";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Adds</a>
    </li>
    <li class="breadcrumb-item active">New Advertisement</li>
</ol>


@if (ViewBag.msg != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.msg");
        };
    </script>
}

@using (Html.BeginForm("NewAdvertise", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken() 

    <div class="form-horizontal">
   
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Upload Image")
                    <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
                    @*<input type="file" name="PhotoUpload" class="form-control" accept="image/*" onchange="previewImage(event)" />*@
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-10">
                    <img src='@("/Content/Upload/Advertise" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail form-control" width="280" />
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <input type="submit" value="Create" class="btn btn-default" />
                <a href="@Url.Action("ListAdvertise", "Admin")" class="btn btn-default"><span>Back to List</span> </a>
            </div>           
        </div>

       
    </div>
}
    <script>
        function previewImage(event) {
            // Get a reference to the image element
            var image = document.querySelector("#instrumentImage");
            // Set its source to the file in the <input type=file element
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

