﻿@model ShreeyaBlog.AdvertiseImage

@{
    ViewBag.Title = "ShreeyaBlog - NewAdd";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<h2>NewAdd</h2>

@using (Html.BeginForm("NewAdd", "Admin", FormMethod.Post, new { FileUpload = "FileUpload", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>AdvertiseImage</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Upload Image")
            <input type="file" id="FileUpload" name="FileUpload" placeholder="Upload Image" class="form-control text-box single-line" accept="image/*" onchange="previewImage(event)" />
            @*<input type="file" name="PhotoUpload" class="form-control" accept="image/*" onchange="previewImage(event)" />*@
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            <img src='@("/Content/Docs/" + 12 + "/photo")' alt="" id="instrumentImage" class="img-thumbnail" width="280" />
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    function previewImage(event) {
        // Get a reference to the image element
        var image = document.querySelector("#instrumentImage");
        // Set its source to the file in the <input type=file element
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
