﻿@model IEnumerable<ShreeyaBlog.PersonalityDevlopment>

@{
    ViewBag.Title = "PersonalityDevList";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}
<h2 class="text-theme">Personality Development</h2>

<div class="form-group" style="float:right">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("PersonalityDevAdd", "Admin")" class="btn btn-default">
            <span>  Create New</span>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">
        <thead style="color:#00aced;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Published
                </th>

                <th>
                    Created Date
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreatedDate))
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "PersonalityDevEdit", new { _personalityID = item.PDID }, new { @class = "btn_a" }) |
                        @Html.ActionLink("Details", "PersonalityDevDetail", new { _personalityID = item.PDID }, new { @class = "btn_b" }) |
                        @Html.ActionLink("Delete", "PersonalityDevDelete", new { _personalityID = item.PDID }, new { @class = "btn_c" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
