﻿@model IEnumerable<ShreeyaBlog.Image>

@{
    ViewBag.Title = "ShreeyaBlog - RemoveAdds";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Adds</a>
    </li>
    <li class="breadcrumb-item active">Remove Deleted Adds OR Revoke </li>
</ol>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultImage)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultImage)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>*@
            <td>
                @using (Html.BeginForm("Remove", "Admin", FormMethod.Post))
                {
                    @Html.ActionLink("Remove", "Remove", new { removeImgId = item.ImageID }, new { @class = "btn btn-default" })
                }
            </td>
            <td>
                @using (Html.BeginForm("Revoke", "Admin", FormMethod.Post))
                {
                    @Html.ActionLink("Revoke", "Revoke", new { revokeImgId = item.ImageID }, new { @class = "btn btn-default" })
                }
            </td>
        </tr>

    }

</table>
