﻿@model ShreeyaBlog.Video

@{
    ViewBag.Title = "ShreeyaBlog - RemoveVideo";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb bc-colored bg-theme" id="breadcrumb">
    <li class="breadcrumb-item ">
        <a href="">Admin</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">Video</a>
    </li>
    <li class="breadcrumb-item active">Delete Video</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <h5>Are you sure you want to delete this?</h5>
    </div>

    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn_c" />
                </div>

            </div>
        }
    </div>
</div>

<div class="table-responsive">
    <div class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" width="100%">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayName("Video")
            </dt>

            <dd>
                <iframe width="600" height="300" src="~/Content/Uploads/Videos/@ViewBag.VideoImages" autoplay="1" loop="1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </dt>

            <dd>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.PublishedDate))
            </dd>
        </dl>

    </div>
</div>

@Html.ActionLink("Back to List", "ListDeletedVideo")
