﻿@model ShreeyaBlog.Testslide
@{
    ViewBag.Title = "testview";
    Layout = "~/Views/Admin/Shared/_SlideLayoutPage.cshtml";
}

<div id="copyrights" style="font-size: 36px;">
    <!-- Begin .container -->
    <div class="container">

        <div>
                @Html.ActionLink("Edit", "slideedit", new { slideid = @ViewBag.ID }, new { @class = "btn_a" } ) |

                <a href="@Url.Action("ListSlide","Admin")">Back to List</a>
        </div>
        <!--  End .footer-social-icons -->
    </div>
    <!-- End .container -->
</div>
<section id="main-section">

    <div id="parallax-section" style="background-color:@ViewBag.bgcolor;height:420px;">

        <div class="container">
            <div class="text-center">
                @foreach (var slide in ViewBag.list)
                {
                    <div>@Html.Raw(@slide.Content)</div>
                }
            </div>
        </div>
    </div>
</section> 
    @*<section id="main-section">
        <div id="parallax-section" style="background-color:@ViewBag.bgcolor;height: 550px;">

            <div class="container">
                <div class="caption text-center">
                    @foreach (var slide in ViewBag.list)
                    {
                        <div class="color-white text-center weight-300 medium-caption">@Html.Raw(@slide.Content)</div>
                        <div>@Html.Raw(@slide.Content)</div>

                    }

                </div>
            </div>
        </div>
    </section>*@

    @*<section id="main-section">
            <div id="parallax-section">
               <div class="" style="background-image:url(../../images/banner.jpeg)">
                @{string color = null; }
                @foreach (var getC in ViewBag.getColor)
                {
                    color = getC;
                }
                <div class="" style="background-color:@(color);">

                    <div class="container">
                        <div class="caption text-center">
                            @foreach (var slide in ViewBag.getSildedata)
                            {
                                <div class="color-white text-center weight-300 medium-caption">@Html.Raw(@slide.Content_1)</div>
                                <div class="color-white text-center weight-800 large-caption">@Html.Raw(@slide.Content_2)</div>
                                <div class="color-white text-center weight-400 medium-caption">@Html.Raw(@slide.Content_3)</div>
                                <h3 style="color: white;">@Html.Raw(@slide.Content_4)</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
