﻿@model ShreeyaBlog.Testslide
@{
    ViewBag.Title = "testslide";
    Layout = "~/Views/Admin/Shared/_AdminLayoutPage.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Slide</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Slide Content", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "summernote" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Background Color", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.BGcolor, new List<SelectListItem>
           {
              new SelectListItem{ Text="red", Value = "red" },
              new SelectListItem{ Text="blue", Value = "blue" },
              new SelectListItem{ Text="green", Value = "green" },
              new SelectListItem{ Text="yellow", Value = "yellow" },
              new SelectListItem{ Text="orange", Value = "orange" },
              new SelectListItem{ Text="black", Value = "black" },
              new SelectListItem{ Text="white", Value = "white" },
              new SelectListItem{ Text="cyan", Value = "cyan" },
              new SelectListItem{ Text="goldenrod", Value = "goldenrod" },
           },new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
