﻿@model ShreeyaBlog.Slide

@{
    ViewBag.Title = "ViewSlide";
    Layout = "~/Views/Admin/Shared/_SlideLayoutPage.cshtml";
}

<div id="copyrights">
    <!-- Begin .container -->
    <div class="container">
        <!-- Begin .copyright -->
        <div class="copyright">
            <h1 style="color:white;">Slide</h1>
        </div>
        <!-- End .copyright -->
        <!--  Begin .footer-social-icons -->
        <div class="footer-social-icons">
            <h1 style="color:white;margin-right: 101px;width: 179px;">
                <a href="@Url.Action("ListSlide","Admin")">Back to List</a> 
            </h1>
        </div>
        <!--  End .footer-social-icons -->
    </div>
    <!-- End .container -->
</div>

<section id="main-section">
    <div id="parallax-section">
        @*<div class="" style="background-image:url(../../images/banner.jpeg)">*@
        @{string color = null; }
        @foreach (var getC in ViewBag.getColor)
        {
            color = getC;
        }
        <div class="" style="background-color:@(color);">

            <div class="container">
                <div class="caption text-center">
                    @foreach (var slide in ViewBag.getSildedata)
                    {
                        <div class="color-white text-center weight-300 medium-caption">@Html.Raw(@slide.Content_1)</div>
                        <div class="color-white text-center weight-800 large-caption">@Html.Raw(@slide.Content_2)</div>
                        <div class="color-white text-center weight-400 medium-caption">@Html.Raw(@slide.Content_3)</div>
                        <h3 style="color: white;">@Html.Raw(@slide.Content_4)</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

